[2015-02-19 18:31] wycks opened #1 "Dropdown issues"
Only tested on Chrome V40.0.2 -  when you click on the actual arrow in the dropdown ( https://www.muicss.com/docs/v1/css-js/dropdowns ) the dropdown does not open.

This is a problem because a user is likely to click the dropdown box where the `mui-caret` appears or directly under it.

[2015-02-19 18:46] shmup commented on #1
Confirmed in same version of Chrome.

[2015-02-19 19:39] Robinson7D commented on #1
This seems to be because the clickHandler looks at the parent of the clicked element, and checks if it has the `mui-dropdown` class. The caret is nested inside the button, so its parent is the button (not the `.mui-dropdown` element).

So any one of the following solutions would work:

1) Place the caret outside of the button node. Position it absolutely to place it visually in the button. Now its

[2015-02-19 20:48] marcysutton commented on #1
It also needs ARIA to associate the button with the unordered list and indicate whether it's open or closed, which item is selected, etc.

[2015-02-20 07:26] amorey commented on #1
Thanks for pointing out the error! I must have clicked on the dropdown button hundreds of times so I'm surprised that I didn't come across the bug previously.

As others have pointed out, it's actually a more general problem with the way the code is handling clicks on child elements. Ripple effects don't work when you click on a <span> inside a button either.

These are some of the solutions I can

[2015-02-26 04:39] amorey commented on #1
Fixed in https://github.com/amorey/mui/commit/f92c5b222bcb8025f9923298acf35e5696242cee

Explored MutationObservers method but went with option #3 to optimize for performance.

[2015-02-26 04:39] #1 closed

[2015-03-04 19:09] Positive07 opened #4 "Checkboxes and Radio Buttons not Working"
The checkboxes and radio buttons in [the example page](https://www.muicss.com/examples/v1/css-js/forms-checkboxes-radios.html) dont show as they should in Mozilla Firefox 35.0.1 nor in Chrome 40  - Windows 7

![checkboxes and radiobuttons](https://cloud.githubusercontent.com/assets/1095969/6490954/c13a268e-c288-11e4-90f8-63df10273e3e.png)
**Chrome (left) - Firefox (right)**

[2015-03-04 19:23] amorey commented on #4
Thanks for your comment. What do you expect them to look like? Currently, MUI only applies basic spacing rules and doesn't style the input boxes themselves.

[2015-03-05 03:31] Positive07 commented on #4
Oh sorry I though you had already implemented material design on them, should we change the issue to that?
Something like "material-design for checkboxes and radiobuttons"

[2015-03-08 05:47] txchen opened #6 "Will this library include popup dialog in the future?"
Just found mui, looks pretty nice, thanks for making this!

As title, will this include modal dialog feature in the future? If not, may I know what's the recommended way to implement that? Thanks!

[2015-03-10 03:37] amorey commented on #6
Hi @txchen !  I'm happy to hear you like MUI. Apologies for the late reply - the past couple of days have been very busy.

There's actually already a hidden implementation but we're still debating on whether or not it belongs in the core library. Currently you can use it like this:

[code]

Let me know what you think...

[2015-03-10 03:49] txchen commented on #6
@amorey Thanks! I will have a try.
I actually love to see that it is included in the library. One of the reason I like MUI is because it is much smaller than bootstrap, if its features can cover most of the scenarios, I think it will be perfect, and modar dialog, IMO, is one of them.
Otherwise, I have to find another smaller lib to do the dialog, and you know, that's not easy, most of them uses jQ

[2015-03-10 05:39] amorey commented on #6
Great! Pure looks very interesting. I'll take a closer look and see what we can learn from their implementation.

[2015-03-11 02:40] amorey commented on #6
@txchen What do you think about this spec for the modal dialog:

[code]

[2015-03-11 02:52] txchen commented on #6
@amorey I like it! it's better than the previous version.

Another question: if I have a pre-defined dom element to represent the dialog, and set the display to none or hidden, so it is not showing. Is it ok to let mui operate it and make it show? Manual create the dialog might need more code, than using some library like riotjs or react.

[2015-03-11 04:22] amorey commented on #6
Great! Sounds like we're headed in the right direction.

If the pre-defined DOM element is hidden then it will stay hidden when you add it to the overlay. MUI will only append modalEl to overlayEl and you have go set the display property yourself.

Manually creating the element should only add another 2 lines of code but it gives the developer full control over the modal:
[code]

Let me know your

[2015-03-12 04:46] txchen commented on #6
@amorey I tried this hidden feature today, it works, thanks!
However, I still feel to manually create the dom and add it to overlay, is a little bit tedious.

I found http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/ , this works very well with my js ui library - riotjs, see this example: https://github.com/txchen/feplay/blob/gh-pages/riot_babel/js/app.html

Basically I prepare th

[2015-03-22 17:17] amorey commented on #6
@txchen I'm working on adding official support for an overlay to v0.0.6 with the spec we discussed:

[code]

To try it out you can check out the 0.0.6 branch:
https://github.com/amorey/mui/tree/0.0.6

Let me know what you think!

[2015-03-23 15:37] amorey commented on #6
@txchen The overlay method is live in v0.0.6:
https://www.muicss.com/docs/v1/css-js/overlay

Let me know what you think!

[2015-03-25 13:26] #6 closed

[2015-03-25 16:42] txchen commented on #6
@amorey  Just tried that and it works well in my app, thanks!

[2015-03-25 17:35] amorey commented on #6
Awesome! Happy to hear it.

[2015-04-01 01:06] tonyarash opened #7 "package install failed on 1.1"
Just tried to add this package on Meteor 1.1 and got the error:
Error: Can't find npm module 'bcrypt'. Did you forget to call 'Npm.depends' in package.js within the 'npm-bcrypt' package?

Do I need to manually install bcrypt. I've actually been using your package just by dropping in the mui.css in my stylesheets and the js file in client/compatibility folder. It has been working fine but saw that

[2015-04-01 03:56] amorey commented on #7
Hmm... I'm not sure why you would be seeing that error. The MUI source code doesn't use npm-bcrypt and I don't think any of the MUI dependencies use it either. Also, the Meteor package only consists of mui.min.css and mui.min.js so I'm not sure why Meteor is trying to install node dependencies.

I just tried installing the MUI package in Meteor 1.1 and it seems to work:

[code]

[2015-04-01 23:58] tonyarash commented on #7
Yeah, I removed the package then stopped Meteor. Installed it and it ran fine on startup.

[2015-04-01 23:58] #7 closed

[2015-04-01 23:59] amorey commented on #7
Great! Happy to hear it worked.

[2015-04-14 07:04] Ninir opened #8 "[Suggestion] - Make a roadmap"
Hey @amorey,

First of all, thanks for your work on mui! :)

Do you think it would be possible for your to create a roadmap, so that people can pick up & implement some work? (checkboxes, radios, ...)

It would be easier for us to know what we can help on!

[2015-04-16 02:49] amorey commented on #8
@Ninir That's a good idea! Thanks for the suggestion. I'll start putting together a proposal for roadmap.

[2015-04-16 08:17] Ninir commented on #8
Thank you @amorey :)

[2015-04-20 03:01] amorey commented on #8
@Ninir I started working on a draft roadmap here:
https://github.com/amorey/mui/wiki/Roadmap-Draft

Let me know what you think!

[2015-04-20 07:20] Ninir commented on #8
@amorey It's a really good start IMO! :+1:

Do you think you could add something about the tasks to do?
Thus, people could contribute and help you on this amazing framework! :)

Good job! :smile:

[2015-04-22 02:06] amorey commented on #8
@Ninir I inlined tasks in the roadmap document. Let me know if that helps:
https://github.com/amorey/mui/wiki/Roadmap-Draft

Also, please let me know if you have any suggestions for tasks or areas of focus.

[2015-04-22 07:52] Ninir commented on #8
@amorey Hey! nice work :+1:

What do you think about adding a list of UI/UX needed components (radios, checkboxes, datepicker, ...)?

[2015-04-23 13:51] amorey commented on #8
@Ninir I added a list of core features and plugins that need to be implemented:
https://github.com/amorey/mui/wiki/Roadmap-Draft

Let me know if you'd like to see any more features on the list! Are you interested in working on any particular feature or area of focus?

[2015-04-26 12:59] Ninir commented on #8
@amorey Sure! dunno which one though... :)

[2015-04-27 03:02] amorey commented on #8
@Ninir Thanks for your help! The roadmap is now live on the site:
https://www.muicss.com/roadmap

If you're looking where to start, the &lt;select&gt; box and form validation features would be really useful.

[2015-04-27 03:02] #8 closed

[2015-04-27 07:49] Ninir commented on #8
@amorey Select box and form validation, got it :)
Do you want to talk about guidelines on gitter? So that I'm not developing too far from the Material way! :smile:

[2015-04-27 19:35] amorey commented on #8
@Ninir Using gitter sounds great! We have a designer on board now so he can help us with the design.

[2015-05-13 11:55] amorey opened #12 "Dropdown click submits form"
Clicking on dropdown toggle submits form

[2015-05-14 03:13] amorey commented on #12
Fixed in 008b6370bafdba129234e69291c3c687f3bf2d87

[2015-05-14 03:13] #12 closed

[2015-05-29 07:52] dandv opened #14 "More prominent GitHub linking"
So far I've found a link to GitHub only on the landing page. If someone is browsing through demos (e.g on ["Forms"](https://www.muicss.com/docs/v1/css-js/forms)) and wants to go to GitHub, there's no intuitive way to do that. "Support" and "Feedback" recommend email and Facebook.

[2015-05-29 07:53] dandv opened #15 "Plans to add animation to input fields?"
New to MUI. I really like how snappy and minimalistic the framework is!

Didn't see this [on the roadmap](https://www.muicss.com/roadmap), so thought I'd ask here: are there plans to add animation for the line at the bottom of input fields, or is that outside the scope of the library?

[Polymer Paper Elements 1.0 demo](https://elements.polymer-project.org/elements/paper-input?active=paper-textarea

[2015-05-31 14:27] amorey commented on #14
@dandv Thanks for the recommendation! I added Github links to the support page and the footer. Let me know if it would be useful to have Github links elsewhere:
https://www.muicss.com/support

[2015-05-31 14:27] #14 closed

[2015-05-31 14:53] StephanWeinhold opened #16 "select is not triggering on change"
When I try to catch a mui-select with jQuery's on('change') nothing happens. Is there a method for this?

[2015-05-31 15:19] amorey commented on #15
It's great to hear you like MUI!

We're focused on making the framework as small and minimalistic as possible so input field animations aren't on the roadmap. Our plan for supporting more advanced animations/components is to make the framework extremely hackable/customizable. For example, our CSS is very simple so if you wanted to use those animations yourself you could simply add your own CSS/HTM

[2015-05-31 15:32] amorey commented on #16
Hmm... MUI is using the browser's native functionality to select an &lt;option&gt; so I'm surprised that jQuery isn't picking up on change events. I can take a look at it this afternoon. In the mean time, if you can link to an example that would be great.

[2015-05-31 15:59] StephanWeinhold commented on #16
I know. That's why I'm curious :)
Unfortunately it's an internal page behind our company's firewall. A select is triggering until I add the mui-class to it's parent div.
Thanks! And btw: it took me only two hours and a bit to set up a small page with your framework. I appreciate that!

[2015-05-31 20:36] dandv commented on #14
Looks great, thanks Andres!

[2015-05-31 20:55] dandv commented on #15
Very nice! The method described on Scotch.io also manages to animate the label without any JS. Worth adopting?

[2015-05-31 21:04] amorey commented on #15
The label animations in MUI are mostly implemented with CSS but you need JS to detect if an input element is empty or not (since the :empty CSS pseudo class doesn't work for input elements).

Here's the JS code that that triggers label animations:
https://github.com/muicss/mui/blob/master/src/js/forms/form-control.js

[2015-05-31 23:57] amorey commented on #16
It's great to hear you put something together so quickly! I'd love to hear the good/bad issues you ran into. Did you start with the boilerplate HTML on the home page?

It turns out that to trigger a 'change' event you need to do it manually. I added a 'change' event dispatch to the select component so the jQuery handler should work now:
https://github.com/muicss/mui/blob/master/src/js/forms/select

[2015-05-31 23:57] #16 closed

[2015-06-01 06:38] StephanWeinhold commented on #16
Ah, didn't see that. Thanks a lot! Works like a charm.

[2015-06-02 16:45] nMustaki opened #17 "Overlay event on close"
Hi,

thanks for MUI, it's great to use !
I use mui.overlay for modals, and I would need to know when the overlay is removed, to do some cleanups tasks. Do you have any thought on this, for instance about namespace ?

Thanks !

[2015-06-02 17:01] amorey commented on #17
Great! I'm happy to hear you like using MUI!

There's an undocumented 'onclose' option which lets you pass a close callback:
[code]

Hope that helps! We'll update the documentation soon.

[2015-06-03 17:37] nMustaki commented on #17
Thanks you !

[2015-06-03 17:37] #17 closed

[2015-06-06 14:23] amorey commented on #4
@Positive07 For more details on our plan for radio buttons and checkboxes, check out our roadmap:
https://www.muicss.com/roadmap

[2015-06-06 14:23] #4 closed

[2015-06-06 14:23] #15 closed

[2015-06-10 01:15] amorey opened #19 "Dropdown doesn't close on item select"

[2015-06-10 09:54] Aaike opened #20 "optimize package for jspm"
Hi, would it be possible to add the following properties to the package.json file ?
This is so that the package will install cleanly with jspm.
by adding these properties jspm will only install what is inside the "dist" directory so it doesn;t install the other files not needed for execution.
and the "main" entry makes sure that the main file points to the `mui.min.js` file.
[code]
Also with this

[2015-06-10 13:44] amorey commented on #20
Thanks for the recommendation! Fixed in v0.1.9 muicss/mui@ab210d6a1099cd4b6fd51a400f1a828f9b976562

[2015-06-10 13:44] #20 closed

[2015-06-10 13:45] amorey commented on #19
Fixed via muicss/mui@ab210d6a1099cd4b6fd51a400f1a828f9b976562

[2015-06-10 14:28] metatribal opened #21 "input.mui-form-control no longer has a line underneath"
In version 0.1.8, inputs with `mui-form-control` drew a line underneath the field.  In 0.1.9 this is no longer the case.

[2015-06-10 14:31] amorey commented on #21
Oh no! I'll take a look ASAP.

[2015-06-10 18:38] amorey commented on #21
@metatribal Thanks for the bug report! The latest version of cssmin was a little too smart for it's own good. It tried grouping together css rules and changed the order of the border property in the process. It's fixed in v0.1.10 muicss/mui@6b39073db26a595c87688afb031297807298df95

[2015-06-10 18:38] #21 closed

[2015-06-10 19:43] metatribal commented on #21
Will there be a new release to match the version?

[2015-06-10 19:48] amorey commented on #21
The new version is live (v0.1.10):
https://www.muicss.com

On Wed, Jun 10, 2015 at 3:43 PM, William Summers <notifications@github.com>
wrote:

[2015-06-10 19:56] metatribal commented on #21
Ah.  I'm using jspm which is looking for github release for v0.1.10

[2015-06-10 20:03] amorey commented on #21
Ok, I just pushed v0.1.10 to npm. Let me know if you're still having trouble accessing it.

[2015-06-14 16:48] sakulstra opened #23 "appbar docs/docs in general"
Some docs are pretty sparse.
For example https://www.muicss.com/docs/v1/css-js/appbar displays exactly 2 options (left and right), but when visiting the docs page I wonder if there's some built in classes for styling appbar-brand or menu-links.
Are the docs in a seperate github repository or somewhere people can contribute to?

[2015-06-14 17:30] amorey commented on #23
We're working on improving the documentation but in general MUI components are minimalist by design.

The appbar CSS helpers can be used to help with vertical alignment but the brand/link styling is left to the user. Here's an example that uses the .mui-appbar-line-height and some other MUI CSS classes to add a brand and a link to the appbar:
https://gist.github.com/amorey/75beae33993951c1d40d#fil

[2015-06-18 07:15] nMustaki opened #25 "Add pointer:cursor to tabs 'a' elements"
It should convey better their intent.

[2015-06-18 10:03] amorey commented on #25
@nMustaki In Google's implementation on Polymer they use cursor:default
https://www.polymer-project.org/0.5/components/paper-tabs/demo.html

MUI's stylesheet is very simple so you can override the default by using css:
[code]

[2015-06-18 10:13] nMustaki commented on #25
I thought you forgot to add the property :-)

[2015-06-18 10:13] #25 closed

[2015-06-25 22:16] metatribal opened #26 "version 0.1.13 doesn't underline form fields"
behavior was correct in 0.1.12

[2015-06-25 22:18] amorey commented on #26
Can you see the underlines on the documentation site?
https://www.muicss.com/docs/v1/css-js/forms

I'm not seeing the problem myself so if you can include screenshots and browser information that would be very helpful.

[2015-06-25 22:20] metatribal commented on #26
Drat.  Yes, I can see them.  Must be me :)

[2015-06-25 22:21] amorey commented on #26
Ok, let me know when you figure out the problem. I'm going to keep the issue open in case there's something we need to do on our end.

[2015-06-25 23:18] #23 closed

[2015-06-26 02:40] metatribal commented on #26
It doesn't happen in development, only when I package for production; so I
think my CSS of getting mangled during minification.

On another note, however, I've noticed that form labels don't wrap properly
on small screens. See the attached screenshot.

- William Summers
On Jun 25, 2015 4:21 PM, "Andres Morey" <notifications@github.com> wrote:

[2015-06-26 03:35] amorey commented on #26
Are you using cssmin? If so, setting "advanced" to false should fix the problem:
https://github.com/muicss/mui/issues/21

Can you re-send the screenshot? I don't see it in the comment.

[2015-06-26 11:52] amorey commented on #26
Thanks for the screenshot!

This problem is a bit tricky. Since &lt;label&gt;'s are absolutely positioned I can't think of a straightforward way to push down the input box with CSS. Here are some options:

1) We can solve the problem for non-floating labels by removing position:absolute but this will only work if the &lt;label&gt; is placed before the &lt;input&gt; element:

[code]

This will work

[2015-06-26 12:17] GeoffreyFrogeye opened #27 "dist folder ignored in bower.json"
I mean, this probably the most useful folder when you use it with bower. Why ignore it?

[2015-06-26 12:18] amorey opened #28 "Design help with buttons"
1. mui-btn-default style on IE

    The top/left borders aren't visible on IE:
    ![ie11_-_win8_1__running_](https://cloud.githubusercontent.com/assets/75881/8376811/26bf3b30-1bd9-11e5-9082-125c6a488d7f.png)

    Versus Chrome:
    ![mui_-_material_design_buttons](https://cloud.githubusercontent.com/assets/75881/8376820/3ae0fe14-1bd9-11e5-8883-59385de4c06b.png)

    This is also a problem with pa

[2015-06-26 12:26] amorey commented on #27
Bower is usually used for accessing the source code (e.g. sass) so you can build your own custom distribution:
https://www.muicss.com/docs/v1/css-js/customization

Can you show me an example of where it's useful to access the dist folder from Bower?

[2015-06-26 12:48] amorey opened #29 "Design help with typography"
1. font-smoothing

    I've been debating whether or not we should turn on font-smoothing by default. The css property makes text look better on webkit/mozilla browsers but it also results in some changes that might not be desirable (e.g. white text on dark backgrounds is more faint). For an end-user it's easier to add it than remove in custom CSS so I've been hesitant to make it a MUI global prop

[2015-06-26 13:01] metatribal commented on #26
I don't like the ellipsis solution.  What about applying a class to the label?  Mui-form-label and mui-floating-label, where mui-form-labels are not absolutely positioned?

[2015-06-26 13:04] metatribal commented on #26
Falling that, different behaviors for label above and below would probably be ok

[2015-06-26 13:10] amorey commented on #26
The &lt;label&gt; element has to be placed before &lt;input&gt; element in order for the element to be in the flow of the document so using a classes-only solution won't work.

Ok, different behavior for labels above and below sounds good. Let's keep this issue open until it's implemented.

[2015-06-26 13:48] GeoffreyFrogeye commented on #27
It may be useful when developing a small project that doesn't have a build system, so you can use the bower component right after issuing `bower install`, and you don't have to figure out how to build the component, nor you have to rebuild it each time you run `bower install` (not that  it's difficult, especially with `mui`). Most components do that (e.g. [jquery](https://github.com/components/jqu

[2015-06-26 18:00] mattbogado commented on #28
1. I have to look into this issue more carefully. I'll get back to you soon.
2. Buttons in the MD spec don't have a hover state. On click, though, they should have the ripple effect, and a z-depth change (this applies to both, 'flat' and 'raised' options.)
3. Try this and see if it works
`.mui-z1 {
  box-shadow: 0 0px 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in

[2015-06-27 03:47] amorey commented on #28
Looks good!
![octodev_8081_examples_buttons_html](https://cloud.githubusercontent.com/assets/75881/8390314/d102bdb0-1c5b-11e5-833a-df3967f91caf.png)

I didn't realize there's no hover state in the MD spec... I can remove the hover effect from the raised button by default.

[2015-06-27 04:07] amorey commented on #27
Is it easier to use the .css files from bower as opposed to hot linking from the CDN? Here's boilerplate which includes links to the CDN:
https://www.muicss.com/docs/v1/css-js/boilerplate-html

It seems like the bootstrap-sass-official bower package only includes the source files:
https://github.com/twbs/bootstrap-sass/blob/master/bower.json

I'm curious to hear more about how you're using bower a

[2015-06-27 12:14] GeoffreyFrogeye commented on #27
I personally prefer to serve the files locally rather than from a CDN, for security and reliability reasons. It's not that I don't trust the CDN, but for developing an application that manipulates sensible data (such as passwords) or can be ran on an infrastructure that may have a proxy which could block the CDN for whatever reason, proceeding this way is better.

Bootstrap-sass doesn't seem to ha

[2015-06-27 16:31] amorey commented on #26
@metatribal Placing the &lt;label&gt; element before the &lt;input&gt; element isn't a great solution because it breaks the css-only method MUI uses to animate/color labels on focus. Here's another solution that uses a `.mui-form-group-wrap-label` modifier:
https://github.com/muicss/mui/pull/30

Let me know what you think!

[2015-06-27 19:02] metatribal commented on #26
Can we shorten it to mui-wrap-label ? Otherwise, looks ok
On Jun 27, 2015 10:31 AM, "Andres Morey" <notifications@github.com> wrote:

[2015-06-27 19:10] amorey commented on #26
What do you think about this:
[code]

I've been considering moving modifier classes to data-attributes.

[2015-06-27 19:58] metatribal commented on #26
I'm not sure about other cases, but in this one I'd be OK with it.
On Jun 27, 2015 1:10 PM, "Andres Morey" <notifications@github.com> wrote:

[2015-06-27 20:20] amorey commented on #26
Ok! It's live in v0.1.14!
https://www.muicss.com

[2015-06-27 20:20] #26 closed

[2015-06-28 17:46] amorey commented on #27
Added 'dist' directory to bower.json in v0.1.15 via muicss/mui@45dfd7d247b0394789823b3a794ef17cd2416924

You can also download the pre-built package as a zip files from the MUI website:
https://www.muicss.com

[2015-06-28 17:46] #27 closed

[2015-06-29 10:09] GeoffreyFrogeye commented on #27
Thanks :-)

[2015-06-29 15:57] metatribal commented on #26
Just updated.  Works a charm!
Thanks

[2015-07-07 21:16] luismaster opened #31 "SideNav"
Hi!
When your create an example for sideNav?

[2015-07-07 21:17] amorey commented on #31
Hi! Here's a gist with a sidenav example:
https://gist.github.com/amorey/283a4236a1b2e0b29d50

[2015-07-07 22:44] luismaster commented on #31
Thanks amorey!

[2015-07-13 08:07] lijunle opened #32 "Input submit button does not have click animation"
In [the document](https://www.muicss.com/docs/v1/css-js/buttons), it use `<button>` tag. Everything works fine.

Offline, I tried classes with `<input type="submit">` tag, style is good except click animation is lost.

Any idea on this?

[2015-07-13 08:15] lijunle commented on #32
Add JSFiddle to demonstrate it: http://jsfiddle.net/aednobxb/1/

[2015-07-13 12:30] amorey commented on #32
Sorry, the ripple element is disabled for &lt;iinput&gt; elements because they don't support child elements:
https://github.com/muicss/mui/blob/master/src/js/ripple.js#L27

I can update the documentation to reflect this. Can you use a &lt;button&gt; element  instead?

[2015-07-14 02:52] lijunle commented on #32
Yes, I can. Some document is great.

[2015-07-14 02:52] #32 closed

[2015-07-15 04:58] #31 closed

[2015-07-24 05:24] Reubend commented on #29
This is just my personal opinion, but since no one else has responded, I'll throw in my two cents. I much prefer the extra spacing of the top button in your example, and I think that it works fine with Helvetica even if it wasn't designed for it. I would keep the font spacing.

As for the font smoothing, I was about to say skip it, but after looking at the comparison images you posted I have to sa

[2015-07-24 17:13] rockerBOO opened #33 "$mui-panel-bg-color doesn't change the panel background color"
It seems to be hard coded as white, and the variable doesn't change it.

Thanks for the project :smile:

[2015-07-24 18:00] amorey commented on #33
Sorry about that! I'll take a look at it tonight...

On Fri, Jul 24, 2015 at 1:13 PM, Dave <notifications@github.com> wrote:

[2015-07-25 09:00] Reubend opened #34 "Question About Mobile Support"
Hello,

I have a very basic question about MUI. I'm making a hybrid mobile app using Cordova, and I've been trying out several different Material Design frameworks. I've tried MDL, Phonon, and MUI, and so far MUI is my favorite one. However, I just looked at the roadmap page and was worried to see that iOS and Android are listed as unsupported.

Are there known issues with those platforms? Are the

[2015-07-25 12:33] amorey commented on #34
Great! I'm happy to hear you've enjoyed using MUI.

The MUI CSS/JS code has mobile support and has been extensively tested on mobile web browsers running on iOS and Android. However, currently we don't have support for making native apps in iOS and Android (i.e. the issues referenced in the roadmap). If you can help there that would be great! The goal is to have a set of helper methods that allow

[2015-07-25 20:25] Reubend commented on #34
Awesome! That's good to hear. I didn't realize MUI plans to provide native support, but that's very impressive.

[2015-07-26 21:06] rockerBOO opened #35 "Bottom Scroll bars at 768px width"
There are scroll bars at this point or so. Replicated in latest Firefox on Linux, Windows.

[2015-07-27 00:19] amorey commented on #35
Are you seeing the bug on the documentation site (https://www.muicss.com) or on your own site? Can you paste in the HTML to reproduce it? I checked Firefox 39 on Linux 14.04 and Windows 7 and I'm not seeing bottom scroll bars at least on the documentation site.

[2015-07-27 00:32] rockerBOO commented on #35
Both http://rockerboo.net/ and http://discovery.rockerboo.net/ have the issue. I do not think im doing anything special to the styling, but the grid seems to not be the right size for a brief number of width pixels.

Thanks amorey :smiley:

[2015-07-27 01:55] amorey commented on #35
Ok, thanks. I was able to reproduce it in Firefox on OS X. It looks like the problem is being caused by the padding on the &lt;header&gt; element. If you add the padding to the container instead, it should produce the same effect without causing the &lt;header&lt; to overflow.

[2015-07-27 02:22] rockerBOO commented on #35
I don't think the <header> is causing it here. The width on the containers is set to a straight 768px at 768px, which doesn't account for the "dropshadow" on the panels, which causes it to be too big for the window.

[2015-07-27 02:58] amorey commented on #35
The panel is inside a container which has a padding of 15px so the panel itself shouldn't cause the overflow on the body. To test out if it's a problem with the panel, you can set the overflow property of the container to hidden to see if the overflow on the body goes away.

The container has a fixed width of 768px until the breakpoint at 768px at which point it has a fluid width (100% of parent)

[2015-07-27 03:03] amorey commented on #33
It should be fixed in the new version (v0.1.19)! The problem was that there was a typo and the variable was called "$mui-panel-bg". I renamed it to "$mui-panel-bg-color" so your code should work now. Let me know if it's still causing problems!

[2015-07-27 13:27] rockerBOO commented on #35
Thanks for taking an in-depth look. The header element is only one 1 of those 2 sites, and they both have the issue. Removing the whole header element doesn't solve the issue.

I have made an example to showcase it without all the extra things on the page. I was trying to isolate the issue down to some core thing, but it only seems to happen when it scrolls. Removing the width on the `.mui-contain

[2015-07-28 03:59] amorey commented on #35
@rockerBOO It looks like the bottom scroll in Firefox is happening because Firefox takes into account the width of the vertical scrollbar when calculating the viewport width:
http://www.sitepoint.com/rwd-scrollbars-is-chrome-better/

If a vertical scrollbar is present at a viewport width of 769px then the body width is (769px - scrollbarWidth) while the mui-container width is 768px which causes ho

[2015-07-31 18:49] djalmaaraujo opened #37 "Question about material ui lite"
Since google launched the new ui kit, do you have plans to continue this project? Google material lite is pretty simple yet with too many components missing.

thanks.

[2015-07-31 19:21] amorey commented on #37
Yes! We use the project ourselves and we have no plans to switch to Material Design Lite. Although both projects are based on Material Design guidelines, our focus is more on the core framework and making sure it's as fast and easy to work with as possible. We have some (secret) projects in the pipeline and we're having too much fun to stop!

[2015-08-03 14:59] renanfranca opened #38 "Select doesn't work as expected on Chrome mobile (Android)"
Basically, it shows the default select css:

----- BUT  works if click really close from the bottom of the border-line:

----and it will work as expected:
![select_at_mobile_chrome](https://cloud.githubusercontent.com/assets/6011616/9040192/c6ac7e44-39d6-11e5-99a5-1d6a30bcb2bb.png)

------ I tried really hard to handle this, or give a fix... but all my tries fails.. Need HELP! Thank you very much

[2015-08-03 21:14] amorey commented on #38
@renanfranca Thanks! Happy to hear you're finding MUI useful.

Currently MUI uses the default &lt;select&gt; behavior on touch devices:
https://github.com/muicss/mui/blob/master/src/js/forms/select.js#L55-L61

The main reasoning behind the decision is that we didn't think it was wise to implement a new select widget considering that the built-in widget is already optimized for small touch screens.

[2015-08-04 01:10] djalmaaraujo commented on #37
@amorey Thanks for letting me know. My only concern is regarding the markup classes in the future.

[2015-08-04 01:18] amorey commented on #37
@djalmaaraujo No problem - what do you mean about markup classes? Just in terms of whether or not we'll be supporting them?

[2015-08-04 04:01] amorey commented on #35
@rockerBOO I subtracted 20px from `$mui-container-sm` to compensate for the vertical scrollbar:
https://github.com/muicss/mui/blob/master/src/sass/mui/_variables.scss#L45

That prevents the &lt;body&gt; from overflowing but it also has the side effect of increasing the width of the container at the 768px breakpoint as the width goes from 748px to 100%.

Bootstrap has the same issue so I think this

[2015-08-04 12:56] renanfranca commented on #38
@amorey Thank you very much for the faster response =D

Its because the default select style doesn't look so good with my page design =D

Thanks for point where i could avoid the normal behavior! Now this library is 100% awesome for me and i'll push it until the limit... i'll come back ;)

If you want to fix the bug (for me doesn't matter, i won't use normal behavior anyway), the problem is the bo

[2015-08-04 17:35] amorey commented on #38
@renanfranca Just to clarify, which behavior do you prefer? The built-in Android behavior or the MUI desktop behavior?

[2015-08-04 18:44] djalmaaraujo commented on #37
@amorey Ignore my last comment. thanks for the answer.

[2015-08-04 18:44] #37 closed

[2015-08-04 20:49] renanfranca commented on #38
@amorey I prefer the MUI desktop behavior (the customize, this.useDefault = false;), My co-worker (he is a designer) expected that they layout works in the same way at desktop or Android.

[2015-08-04 22:35] amorey commented on #38
Ok, thanks. One thing you should keep in mind is that the MUI desktop
behavior doesn't implement touch-scroll. Would you be able to implement it
and submit a pull request?

On Tue, Aug 4, 2015 at 4:49 PM, renanfranca <notifications@github.com>
wrote:

[2015-08-05 01:02] renanfranca commented on #38
@amorey Let me see if i understood...  After i clicked at select and the list shows up, if that list is too long it won't scroll?

i'll need a little help, could you show me where did you do that for desktop at the code?

Thank you again!

[2015-08-05 02:05] amorey commented on #38
On the desktop, the widget will expand to the full height of the viewport and then use `overlay: scroll` to enable the user to scroll through the options:

![octodev_8081_examples_select_html_and_andres_ _ubuntu_octodev____workspace_mui_ _80x24_and_andres_ _ubuntu_octodev____workspace_mui_ _80x24](https://cloud.githubusercontent.com/assets/75881/9076757/79e8f488-3af4-11e5-8fed-d159795aa656.png)

I

[2015-08-05 03:00] #33 closed

[2015-08-05 03:01] #34 closed

[2015-08-05 12:51] renanfranca commented on #38
@amorey you're right, i can't scroll it. When i tried to scroll the menu, my page scroll and the menu doesn't...

[2015-08-05 12:55] amorey opened #39 "Announcement: New version with better error handling and some bug fixes (v0.1.20)"
We've released a new version of MUI with the following changes (v0.1.20):
* MUI now raises JavaScript Error objects for better tracebacks
* Decreased $mui-container-sm width by 18px to accommodate vertical scrollbars on &lt;body&gt;
* Bugfix to React dropdown library which was throwing an error on outside clicks
* Using browser built-in &lt;select&gt; box on touch devices

https://www.muicss.com

[2015-08-05 13:08] amorey commented on #35
@rockerBOO The scrollbar problem is fixed in v0.1.20 https://github.com/muicss/mui/issues/39

[2015-08-05 13:10] amorey commented on #38
@renanfranca The bug that was causing different behavior when you click on the border is fixed in v0.1.20. Here's the announcement: https://github.com/muicss/mui/issues/39

[2015-08-05 13:15] amorey opened #40 "Select box UI bug on IE"
The default down arrow is still visible:
![ie11_-_win8_1__running_](https://cloud.githubusercontent.com/assets/75881/9086433/78b11326-3b52-11e5-8767-8dcccc2e5be9.png)

[2015-08-05 13:26] renanfranca commented on #39
@amorey awesome and congratulations!!!

[2015-08-05 14:47] amorey commented on #40
Fixed via 0db11f310cb31d0e1fe03e1b76a27adcb63aa061

[2015-08-05 14:47] #40 closed

[2015-08-06 01:24] amorey commented on #38
@renanfranca With regards to the scroll problem, do you think you'll try and fix it or use the built-in &lt;select&gt; widget?

[2015-08-06 03:17] amorey opened #41 "Proposal: Use data-attributes instead of classes"
Hi Everyone,

In some cases, using HTML classes to markup components feels awkward. One option is to use data-attributes instead. Here are some examples of what MUI markup would look like with data-attributes instead of classes:

### Button colors

Classes:
[code]

Data-attributes:
[code]

### Button styles

Classes:
[code]

Data-attributes:
[code]

Let me know your thoughts on data-attributes syn

[2015-08-06 22:31] metatribal commented on #41
I think I like it.  Are you planning on keeping both forms? or move to just data attributes?

[2015-08-06 23:06] amorey commented on #41
Great, thanks for the feedback! I think it should be either/or to keep the css simple. I'll put together some more examples so we can evaluate.

[2015-08-06 23:56] amorey commented on #41
Here are some more examples of MUI components with data-attributes syntax. Let me know what you think!

## Layout

[code]

## Typography

[code]

## Dropdown

[code]

## Table

[code]

## Dividers

[code]

[2015-08-07 10:20] sakulstra commented on #41
:+1:

[2015-08-09 14:52] rockerBOO commented on #35
Thanks amorey! I think this solution will be good. I have been really busy lately, but I will update to 0.1.21 soon and let you know. :smiley:

[2015-08-09 15:08] amorey commented on #35
Sounds great! Let me know.

[2015-08-16 20:05] davidbwaters commented on #31
I'd like to see this added as a framework component.  I would consider a lightweight menu default a more essential feature than dropdowns, etc.  Especially since the Material spec almost always implements this type of menu.

If not include it, a link to this example (maybe add a few example layouts?) Somewhere would be super useful.  It was something I searched the docs for and had come here to fi

[2015-08-17 14:28] amorey commented on #31
@davidbwaters We're planning on adding recipes/examples but haven't had time yet. In the mean time, this gist has a sidenav example: https://gist.github.com/amorey/283a4236a1b2e0b29d50

[2015-08-19 18:18] igitur opened #42 "Tab events"
Hi,

I'd like to attach a handler for when a tab is activated (because I have some flot charts that need to be redrawn).

Is there an existing event that I can attach to?

thanks

[2015-08-19 18:36] amorey commented on #42
You can activate a tab via JavaScript using `mui.tabs.activate(paneId)`.
Would that work or do you need an event to attach to?

[2015-08-19 18:44] igitur commented on #42
The activation of the tab must still be the old, manual way where a user clicks on the tab. I need an event for after the new tab is shown. Similar to Bootstrap shown.bs.tab

[2015-08-19 18:50] amorey commented on #42
Ok, let me think about it and I'll get back to you tonight.

[2015-08-19 19:03] igitur commented on #42
If you're going that route, a full event system for all kinds of events
might be helpful. Would it make MUICSS much heavier? No rush though...
On 19 Aug 2015 8:51 PM, "Andres Morey" <notifications@github.com> wrote:

[2015-08-20 02:52] amorey commented on #42
Adding events won't add much overhead. Here's an example of how the &lt;select&gt; component dispatches a "change" event:
https://github.com/muicss/mui/blob/master/src/js/forms/select.js#L324

For starters, how about we do something similar to Bootstrap (all events fire on tab element):

`mui.tabs.showstart` - Fires when tab is activated but before pane is visible
`mui.tabs.showend` - Fires when p

[2015-08-20 03:21] amorey commented on #42
Also, if you have a few minutes, I'd love to get your opinion on the data-attributes proposal: https://github.com/muicss/mui/issues/41

[2015-08-20 12:42] igitur commented on #41
I actually prefer the old way, only because it's in line with most of the other frameworks that I know.

[2015-08-20 12:44] igitur commented on #42
I prefer this approach:
[code]

But the old tab and new tab should be passed as parameters. Users will sometimes want to know which tab they're exiting.

[2015-08-20 13:30] amorey commented on #42
In terms of passing the old/new tabs how about using Bootstrap's method?

[code]

[2015-08-20 13:43] amorey commented on #41
@igitur Thanks for the feedback!

The old way was defined by Bootstrap before data-attributes became popular so I think it's worth considering if data-attributes might make the syntax better. The main benefits I see are:

1. Separation between component identifier (`mui-btn`) and options (`data-mui-style="flat"`)
2. More explicit behavior (`class="mui-dropdown-menu-right"` vs. `data-mui-align="rig

[2015-08-20 13:50] metatribal commented on #41
I like the idea of using data-attributes for overriding class defaults.
On Aug 20, 2015 7:43 AM, "Andres Morey" <notifications@github.com> wrote:

[2015-08-20 14:34] amorey commented on #41
As a next step I'll put together a more formal proposal so we can take a look at the syntax.

[2015-08-20 15:01] rockerBOO commented on #35
This seems resolved in my local version, will get it up soon. Will share when its up.

[2015-08-20 15:06] amorey commented on #35
Great! Let me know!

[2015-08-20 17:05] rockerBOO commented on #35
Looks good. Here is it live now. http://discovery.rockerboo.net/

[2015-08-20 17:09] amorey commented on #35
Nice!!! Looks great.

[2015-08-21 20:52] amorey commented on #41
Here's a more formal proposal for using data-attributes to override class defaults. The scope is limited to classes which define components (e.g. buttons, tables). I think we can support both syntax styles for a little while to give developers a chance to migrate.

The following is the list of components and options (written in a JSDoc-like syntax):
[code]

Let me know what you think! In particula

[2015-08-21 22:37] amorey commented on #42
@igitur I implemented the spec defined above in the `tab-events` branch:
https://github.com/muicss/mui/blob/tab-events/src/js/tabs.js#L52-L99

One subtlety is that events are dispatched on the "tab" elements (`<li>`) not on the toggle elements (e.g. `<a data-mui-toggle="tab" data-mui-controls="pane-2">Tab-2</a>`). Let me know if this is ok or if you were expecting something else.

[2015-08-27 06:25] amorey commented on #42
@igitur Any thoughts on the tab events implementation? I'm wondering if it makes more sense to dispatch the event on the toggle element and to communicate the pane ID's instead:

[code]

[2015-08-27 08:49] igitur commented on #42
@amorey I promise I'll look at this soon. Just give me a few days.

[2015-08-30 12:20] amorey commented on #41
Everyone - we're very close to merging the data-attributes branch into master. These are the questions that need to get figured out first:

1. What should the default value of button `color`/`style`/`size` attributes be called?

    Currently, the default value for all three is "normal". Here are some other possibilities:

[code]

   I'm hesitant to use the label "default" because it has a double

[2015-08-31 18:18] metatribal commented on #41
1.  Can you actually specify the color in the value?  If not, I would argue against using `white` as it is confusing.  I prefer `default` - not sure that I see the confusion.  Maybe `base`?
2.  How about `floating`?  `fab` is probably fine...
3.  I thinks `small` and `large` are the most obvious names to use; though I'm not sure I would add small/large sizes to begin with.

[2015-08-31 18:23] amorey commented on #41
Great, thanks for the feedback.

1. You can't specify the color itself in the value. The other possible
values are "primary", "danger" and "accent". "default" sounds good to me...

3. The Material Design spec specifies a "large" and "mini" size for
rectangular and round buttons respectively. I'm fine leaving
rectangular/small and fab/large out of MUI but it might be confusing to
users that the all

[2015-08-31 18:33] metatribal commented on #41
3.  I didn't see the `large` reference for rectangular buttons; just the `mini` for floating action buttons.  Odd  that they don't allow both on either.  My preference would be `mini | default or normal | large` for all button types.

[2015-09-03 13:09] amorey commented on #41
The data-attributes syntax is available for testing in v0.1.22-rc1:
https://www.muicss.com/

Let me know if you run into any problems!

[2015-09-15 16:19] mukuljp opened #44 "I have some mui tabs coming dynamicaly , how can i activate the tabs from javascript"

[2015-09-15 18:50] amorey commented on #44
There's an undocumented feature which lets you activate tabs from JavaScript:
[code]

[2015-09-16 05:32] mukuljp commented on #44
yes ,I have  checked that already, it lets you activate the tabs onebyone right, that too by passing pane id , if i have 20 sections , if each section has a tabbed content of  which has say 3 tabs,
 so to activate all those i have give 60 unique id's to individual identify panes and activate them using mui.tabs.activate.instead it would be great if i have a single function call that activates all

[2015-09-16 05:59] amorey commented on #44
I see... to activate the tab on page load you can use the `mui-is-active` CSS state:

[code]

There's a typo in the documentation which I'll fix ASAP.

[2015-09-16 12:14] simonkastenhuber commented on #42
Any updates on this?

[2015-09-16 16:14] amorey commented on #42
@simonkastenhuber The code is ready to go! Any thoughts on dispatching the event on the toggle element and passing the pane IDs like this:

[code]

[2015-09-17 13:52] simonkastenhuber commented on #42
Awesome! Sounds good to me
Thanks.

[2015-09-18 03:34] amorey commented on #44
@mukuljp Did the CSS class fix your problem?

[2015-09-18 04:02] mukuljp commented on #44
@amorey , the html for the tabs is coming up via ajax, i gave a class to all tabs initialy (only to first tab).

<ul class="mui-tabs "  >
   <li ><a ng-click="activateThisTab('bla-' + p.program_numeric_id + '-1', null)" data-mui-toggle="tab" data-mui-controls="bla-{{p.program_numeric_id}}-1">Next Steps</a></li>
   <li><a  ng-click="activateThisTab('bla-' + p.program_numeric_id + '-2', null)"  data

[2015-09-18 04:14] amorey commented on #44
I see. That works but using the `mui-is-active` class is definitely easier. This should fix the problem:

[code]

[2015-09-18 04:20] mukuljp commented on #44
oh let me try that,

[2015-09-18 04:34] amorey commented on #44
Ok, let me know if it works.

Just to clarify, you need to add the `mui-is-active` class to the tab and the pane:

[code]

[2015-09-18 04:35] mukuljp commented on #44
yes that worked , but in the documentation I found it wrong at first . anyway its showing correctly now  in https://www.muicss.com/docs/v1/css-js/tabs
your work is good , its very easy to use , thank you @amorey

[2015-09-18 04:36] amorey commented on #44
Great! I'm happy to hear it's working!

[2015-09-18 04:36] #44 closed

[2015-09-18 06:04] amorey commented on #42
@simonkastenhuber - Tab events are live in v0.1.22. Let me know if you run into any problems: https://www.muicss.com

[2015-09-18 10:35] mukuljp opened #45 "How to load a predefined element with an id in Dom with mui overlay?"
Currently new element is created on each overlay initialisation , instead i want show existing single div on every overlay call, is there any option in mui so that we can pass the id  or class

[2015-09-18 13:33] amorey commented on #45
If you keep the reference to your element, you should be able to use the same element on every overlay call:

[code]

Let me know if that solves your problem.

[2015-09-19 03:19] amorey commented on #42
I added tab events documentation to the site: https://www.muicss.com/docs/v1/css-js/tabs

[2015-09-19 16:11] amorey commented on #45
@mukuljp Did that code snippet help to solve your problem?

[2015-09-19 16:22] amorey commented on #41
Here's another issue to consider: data-attributes aren't supported in some popular [email clients](https://www.campaignmonitor.com/css/) (e.g. Outlook and GMail) so the MUI HTML Email library needs to keep using class syntax.

Is it ok that for the CSS/JS and Email libraries to use different syntaxes? Or is it preferable to use class syntax for both? Should we support both syntaxes in the CSS/JS l

[2015-09-19 17:08] amorey commented on #38
@renanfranca Can I close this issue?

[2015-09-19 17:09] #35 closed

[2015-09-19 17:10] #28 closed

[2015-09-21 04:04] mukuljp commented on #45
yes ,that solved the issue, thank you@amorey

[2015-09-21 04:04] #45 closed

[2015-09-23 07:37] simonkastenhuber commented on #42
hey @amorey! i've updated to the new version and it works like a charm. Thanks a lot. Keep up the great work!

[2015-09-23 11:55] amorey commented on #42
Nice! I'm glad to hear it's working well!

[2015-09-23 11:55] #42 closed

[2015-09-24 03:53] amorey commented on #41
@metatribal After thinking about it some more I think `color` is confusing because the possible values are not actual colors. What do you think about using `type` instead of `color`?

Here are some examples of data-attributes `type`/`style`/`size` in action:
https://github.com/muicss/mui/blob/react-bugfix/examples/buttons.html
https://github.com/muicss/mui/blob/react-bugfix/examples/react/buttons.

[2015-09-24 05:18] metatribal commented on #41
I agree, but am thinking style and type should be switched.  E.g.
style=primary, type=fab
On Sep 23, 2015 9:53 PM, "Andres Morey" <notifications@github.com> wrote:

[2015-09-24 05:20] metatribal commented on #41
Drat!  I anticipate using common styling and layout between my application
and support emails.  Using two different means is ugly.  If this is the
case, I would probably opt to use just there classes.
On Sep 19, 2015 10:22 AM, "Andres Morey" <notifications@github.com> wrote:

[2015-09-24 14:30] amorey commented on #41
Re: `style` vs `type` - Yeah, that makes sense. I'll reverse them.

Re: Email css - Ok, I'll start thinking about reverting to class syntax :(. The attribute syntax will still be useful for React and WebComponents. Are you using the MUI Email CSS library for HTML emails?

Any thoughts on BEM syntax (e.g. `mui-btn--primary`)?

[2015-09-24 14:48] mukuljp commented on #41
this is a nice change @amorey

[2015-09-24 14:49] amorey commented on #41
@mukuljp Which change are you referring to??

[2015-09-24 14:59] metatribal commented on #41
I am using it for email, but very limited.  I would like to use it more.

Syntax is ok with me.
On Sep 24, 2015 8:30 AM, "Andres Morey" <notifications@github.com> wrote:

[2015-09-24 19:37] hampsterx opened #46 "normalizer should be optional"
Adding Mui to an existing project causes global styling to be applied due to normalizer which means it doesn't play nicely.

Would be nicer to have to apply a class at the highest point you want to use mui. Eg globally

<body class="mui">

or just on part of your page

<div class="side-panel mui">

My use case is a custom side panel on an existing site, I need Mui styling to be isolated.

Cheers a

[2015-09-24 19:45] amorey commented on #46
What do you mean by normalizer? Are you having problems with CSS rules from Normalize.css or something else. MUI uses Normalizer.css but we've tried to keep our other "reboot" rules to an absolute minimum. Bootstrap also uses Normalizer.css so this is a common problem shared by CSS frameworks.

[2015-09-24 21:13] hampsterx commented on #46
True, the site I am working on is using foundation5 and has probably been modified a bit.
Anyway, you can probably close this ticket I think I'll just pull in the sass directly and not use the included Normalize

Cheers~

[2015-09-24 21:19] amorey commented on #46
Let's keep the ticket open for now. If there's an easy way to remove the Normalize.css dependency that'd be great. I'm curious to hear about your experience.

[2015-09-25 02:50] amorey commented on #41
Here's a preview of buttons with BEM syntax:
https://github.com/muicss/mui/blob/bem-syntax/examples/buttons.html
https://github.com/muicss/mui/blob/bem-syntax/examples/email/buttons.html

And here's BEM syntax for dropdowns:
https://github.com/muicss/mui/blob/bem-syntax/examples/dropdowns.html

I'd be curious to hear your thoughts before I migrate the rest of the code base to BEM.

[2015-09-25 02:53] metatribal commented on #41
It's verbose, but looks consistent and  readable.  Can't think of a better
alternative.
On Sep 24, 2015 8:50 PM, "Andres Morey" <notifications@github.com> wrote:

[2015-09-26 16:38] amorey opened #47 "Proposal: BEM syntax"
Hi Everyone,

In an attempt to make our CSS as consistent and predictable as possible, we're considering using BEM syntax. Please let us know what you think about these examples:

### Buttons
[code]

### Layout
[code]

### Typography
[code]

### Dropdown
[code]

### Tabs
[code]

### Dividers
[code]

### Helpers
[code]

Note that we haven't started working on BEM syntax for form elements and the gr

[2015-09-26 16:38] amorey commented on #41
Here's a proposal for BEM syntax:
https://github.com/muicss/mui/issues/47

[2015-09-28 09:45] munikumar604 opened #48 "form validations are not working"
Hi Team form validations are not working with attribute no validate in form tag. I am looking to use this framework with knockout js. could you please suggest me.

[2015-09-28 14:32] amorey commented on #48
Can you explain how to reproduce the bug? The form example on the documentation site is working:
https://www.muicss.com/docs/v1/css-js/forms

[2015-09-29 07:17] munikumar604 commented on #48
Hi Amorey  I used like below

<form novalidate>
  <legend>Title</legend>
  <div class="mui-form-group">
    <input type="text" class="mui-form-control" placeholder="Input 1">
  </div>
  <div class="mui-form-group">
    <input type="text" class="mui-form-control" placeholder="Input 2">
  </div>
  <div class="mui-form-group">
    <textarea class="mui-form-control" placeholder="Textarea"></textarea>

[2015-09-29 16:41] amorey commented on #48
Thanks, I'll take a look at it tonight.

[2015-10-07 13:59] amorey opened #49 "Announcement: New release candidate with BEM syntax (v0.2.0-rc1)"
Hi Everyone,

We just published a new release candidate that uses BEM syntax for CSS (v.0.2.0-rc1). We've been going back and forth on how best to structure our CSS and we believe that BEM syntax is the best way to keep our CSS rules consistent and predictable.

Please check out the release candidate and let us know what you think!

https://www.muicss.com/docs/v1/css-js/reference

Andres

[2015-10-07 14:00] #47 closed

[2015-10-07 14:00] amorey commented on #46
@hampsterx Any luck removing normalize.css?

[2015-10-07 14:03] amorey commented on #41
Everyone - thanks for your feedback on the CSS syntax! In order to maintain compatibility with the email library and to maintain consistency and predictability we've settled on BEM syntax (https://github.com/muicss/mui/issues/49). Please check out the latest release candidate and let us know what you think.

https://www.muicss.com/docs/v1/css-js/reference

[2015-10-17 14:07] amorey opened #50 "Announcement: Simpler forms markup in v0.2.1"
Hi Everyone,

I just wanted to give you a quick update on the new forms syntax in our newest release ([v0.2.1](https://www.muicss.com)). We have removed the need for class names on &lt;input&gt; and &lt;label&gt; elements. Now you can use MUI textfields by modifying the wrapper element:

[code]

[code]

[code]

Hopefully you'll find that the new syntax is simpler, more predicable and more consiste

[2015-11-02 15:08] igitur commented on #42
I'm a bit late here, but just want to add that tab events are working well for me now.

[2015-11-02 15:31] amorey commented on #42
Great! Thanks for the update!

[2015-11-18 05:16] a2bsoftware opened #51 "Drop down popup should be over drop down button"
As per Material Design guidelines:
http://www.google.com/design/spec/components/menus.html#menus-behavior

![image](https://cloud.githubusercontent.com/assets/13605721/11233246/68c11cc4-8e20-11e5-9e28-38756de6dc3f.png)

[2015-11-18 14:20] amorey commented on #51
Which of these features are you referring to?

1) [`.mui-dropdown`](https://www.muicss.com/docs/v1/css-js/dropdowns)
![mui_-_material_design_dropdowns](https://cloud.githubusercontent.com/assets/75881/11243332/67d9a6fa-8dd5-11e5-837e-625599b0a807.png)

2) [`.mui-select`](https://www.muicss.com/docs/v1/css-js/forms)
![mui_-_material_design_forms](https://cloud.githubusercontent.com/assets/75881/112

[2015-11-19 05:25] a2bsoftware commented on #51
The dropdown: `.mui-dropdown`

Should be following the standards IMO, what do you think?

[2015-11-27 18:01] amorey commented on #51
@a2bsoftware Sorry for the late reply!

I believe the `mui-select` element follows the MD "drop down" spec (correct me if I'm wrong!). The `mui-dropdown` element is more similar to Bootstrap's `dropdown` component. The name collision is unfortunate but it's been useful for developers coming from Bootstrap.

[2015-11-27 18:03] #38 closed

[2015-11-27 18:04] #46 closed

[2015-11-27 18:04] #41 closed

[2015-11-27 18:42] amorey commented on #48
@munikumar604 - Sorry for the late reply!

The `novalidate` flag controls the browser's submission behavior (e.g. by default Chrome won't submit a form unless the fields pass validation). MUI uses CSS validators to modify the style which are independent of the `novalidate` flag.

Is this still a problem for you?

[2015-11-27 20:06] a2bsoftware commented on #51
No need to apologise :)

I'm going to correct you because I believe you are wrong. I cited a reference in my first post and I am going to cite another from the same web site. Please see the image below:

![image](https://cloud.githubusercontent.com/assets/13605721/11447661/f2c8bba8-95ae-11e5-9f26-9eaead7dc945.png)

Click this link and read the section on dropdown buttons:
http://www.google.com/des

[2015-11-27 20:26] amorey commented on #51
Thanks for the details. A bit busy at the moment but if you want to submit a PR I'd be happy to take a look.

[2015-11-27 20:26] #51 closed

[2015-11-28 07:50] liesislukas opened #53 "better ReactJs support"
Looking forward for better React support. Thanks for your hard work!

https://www.muicss.com/docs/v1/react/boilerplate-html

[2015-11-28 13:52] amorey commented on #53
We're actually planning on working on the React library soon! Are there any particular components you're waiting on?

[2015-11-28 22:26] liesislukas commented on #53
I'm building apps with React and Material UI, so as much as possible. Of course main components are Paper, Buttons, Form Elements, Table, Tabs, Side menu, Loader. I saw your road already started to React, just wanted to show that I'm looking at your site and watching React progress ;) There are already some alternatives. But I found them built not so well. E.g. please don't make mistakes as compon

[2015-11-29 12:31] amorey commented on #53
Great, thanks for the details! Do you have any examples of the Material UI re-paint issue so we don't make the same mistakes?

In terms of MUI React components what do you think about this list (including naming conventions and attributes):

## Components

### Appbar
[code]

### Buttons
[code]

### Caret
[code]

### Container
[code]

### Dividers
[code]

### Dropdowns
[code]

### Forms
[code]

###

[2015-11-30 11:40] liesislukas commented on #53
I actualy done video when i had that bug: https://www.youtube.com/watch?v=S9bciD20u8Q

Your list looks very promising.

About colors. I see you plan to support naming like color=default|primary|danger|accent I think it's great for most users, but there are some areas, where i need custom design - custom color, font size. That could be on home page with call-to-action buttons. I know, that material

[2015-11-30 19:14] sdkcarlos opened #54 "Select with optgroup dinamically added issue"
[code]

There's a problem when a select with optgroup tags , for some reason the options are displayed inline. Any idea why this happen ? Temporaly I solved removing the optgroup tags, but that's not really a solution.

![asd](https://cloud.githubusercontent.com/assets/11634719/11481644/9afd8164-976c-11e5-9020-503a77f1e16f.png)

Very useful library, thanks in advance :+1:

[2015-12-01 03:55] amorey commented on #54
@sdkcarlos Thanks for creating a new Github issue! Do you have a design spec for menus with &lt;optgroup&gt;'s? I haven't seen a design in the MD spec. This is what the default looks like on Chrome:
![devbox_8080_examples_select_html](https://cloud.githubusercontent.com/assets/75881/11491994/4a47e96e-97b5-11e5-8cd9-ed0eb75efd99.png)

[2015-12-01 04:11] amorey commented on #53
Thanks for the feedback! I fixed the typo in the CSS helpers list. I can get started on the list of components soon.

All of the animations in the CSS/JS library are done with CSS and the React library will use the same CSS definitions. The float helpers aren't meant as an endorsement but we can look into adding flexbox CSS helpers as well.

[2015-12-01 04:26] amorey commented on #53
Do you have any suggestions on how to componentize the grid system? MUI uses the same 12-column grid system as [Bootstrap](http://getbootstrap.com/css/) so you can define a width and an offset for each column at each breakpoint and higher. What do you think of this spec?
[code]
Using this spec, a two column layout that collapses at viewport widths smaller than the 'sm' breakpoint would look like:

[2015-12-01 07:35] liesislukas commented on #53
Twitter Bootstrap is really popular product, I think if you want to advertise, that mui has grid system like it, it would be easier to use if it would be actually more like Bootstrap.

"Width", at least for me, is talking about pixels. Many html elements has width with different logic in mind then grid's.

Bootstrap don't use this naming too. I think it would be easier to have col-xs={int} col-md=

[2015-12-01 07:58] liesislukas commented on #53
Just looked once again through your list.
[code]

you collapse input[type=text] and textarea to one element.
If collapsing, maybe instead of option called textarea, better have param called rows={int}  or even just multirows={bool} and height will determine how many rows will fit. Whatever you decide, please leave one way to make multiline text input. I think it's very bad pattern to have multi wa

[2015-12-01 08:11] liesislukas commented on #53
Text color, seems like you took numbers for opacity with dividers & icons, there are docs for text only:

[code]

87, 54, 38 for black 12 is for dividers, not text. Can't find where you got 26.
100, 70, 30 for white

all those numbers are not very human-friendly way. Maybe it's better to use Google's naming like. And black is not black, for text, darkest color is black with opacity 87, so it's gre

[2015-12-02 03:11] amorey commented on #53
Thanks for the detailed feedback.

With regards to the grid naming scheme, the MUI CSS/JS code uses a similar syntax to Bootstrap 3 (e.g. [`mui-col-md-4`, `mui-col-md-offset-4`](https://www.muicss.com/docs/v1/css-js/grid)). In terms of the MUI React spec is this what you're proposing?
[code]
That works but the `col-` prefix seems redundant and using the attribute name `xs` instead doesn't seem des

[2015-12-02 09:31] liesislukas commented on #53
Grid. Bootstrap uses this naming, so i think it's looks familiar and is descriptive enough. "xs" also can be found in shops while buying t-shirts and other cloths. Maybe in other regions it's different, but in Europe it's normal to see all clothing sizes marked as XS (extra small) S (small) M (medium) L (large) XL (extra large) XXL (extra extra large). I remember when i had first steps with bootst

[2015-12-02 12:37] sdkcarlos commented on #54
Using the following html (excuse the disorder, taken from the theme selector of ace Editor kitchen Sink) https://ace.c9.io/build/kitchen-sink.html

[code]
![asd](https://cloud.githubusercontent.com/assets/11634719/11531016/8abf4be6-98c7-11e5-9174-238fd2ab9764.png)

Generates the problem, testing in the main page of muicss fails too, And the previous html seems to be good written.

Thanks for the q

[2015-12-02 12:43] amorey commented on #54
Do you have any ideas in mind on how &lt;optgroup&gt;'s should be displayed in the drop down menu? The Material Design spec doesn't seem to have an equivalent element.

[2015-12-02 12:51] sdkcarlos commented on #54
Well, not actually but if something like the default view in chrome is displayed with muicss would be nice.

For example the optgroup in materialize.css http://materializecss.com/forms.html

Anyway , how you describe this , my issue was only a suggestion :tada:

[2015-12-02 13:45] amorey commented on #54
Ok, great. The Materialize example looks like a good starting point.

[2015-12-02 20:29] defrex opened #55 "npm package"
It would be great to enable installing MUI via NPM. Ideally this package would include the sass source as well as the css.

[2015-12-02 22:44] defrex opened #56 "Set input validation state"
HTML form validation if fine for some simple things, but basically every application has some custom validation.

Is there a class or other way to mark an input as invalid that doesn't rely on the `:invalid` selector?

[2015-12-03 13:52] amorey commented on #56
@defrex Thanks for the pull request! It's been merged into master and published to the CDN (v0.2.8):
https://www.muicss.com

[2015-12-03 13:52] #56 closed

[2015-12-03 14:01] amorey commented on #55
MUI is available via NPM as the `muicss` package:
https://www.npmjs.com/package/muicss

The easiest way to access the source via a package manager is using Bower. For example, this is how you can modify the default SASS variables using Bower and a SASS compiler:
https://www.muicss.com/docs/v1/css-js/customization

Can you describe what you're trying to do with MUI using NPM? Most packages seem to

[2015-12-03 14:37] defrex commented on #55
Ah, I somehow missed that package when I was googling for it, thanks.

I don't use Bower at all. I'm working on a React-based single page app that uses webpack as the build system, and NPM as the exclusive package manager. This setup is pretty typical in the React world. Many React-based libraries only publish on NPM as a result.

It's definitely less common for CSS frameworks. However, using webp

[2015-12-03 15:01] amorey opened #58 "Proposal: React Library Spec"
Hi Everyone,

We're planning an upgrade to the MUI React library to make it production-ready. Please let us know what you think of this spec:

## Components

### Appbar
[code]

### Buttons
[code]

### Caret
[code]

### Container
[code]

### Dividers
[code]

### Dropdowns
[code]

### Forms
[code]

### Grid
[code]

### Panel
[code]

### Tabs
[code]

## CSS Helpers
[code]

## JavaScript API

### Over

[2015-12-03 15:02] amorey commented on #53
@liesislukas Thanks again for all the feedback. I created another github issue to create a more formal proposal for the React spec: https://github.com/muicss/mui/issues/58

[2015-12-03 15:02] #53 closed

[2015-12-03 15:04] amorey commented on #55
Thanks for the details! Currently, the MUICSS NPM package only includes the contents of the `dist/` directory (mui.css, mui.js, etc.). Let me know if it would be helpful to include `src/` as well:
https://github.com/muicss/mui/blob/master/package.json

It's great to hear you're working on a React app. If you have a moment it'd be great to get your feedback on our React spec proposal: https://githu

[2015-12-03 15:31] defrex commented on #55
I would love to get `src/` in the npm package. In fact, it's essential for my build process.

[2015-12-03 15:56] defrex commented on #58
This looks great, and is very exciting.  I have a couple points of feedback.

On the MUIButton and MUIDropdown components you're using the attribute `style`. This is reserved in React for inline CSS styles so you'll need to change it to something else.

The `col-` prefix for the MUICol attributes seems redundant `<MUICol sm={3}/>` would be much cleaner then `<MUICol col-sm={3}/>`.

Prefixing every

[2015-12-04 01:43] amorey commented on #58
Thanks for your excellent feedback! I've incorporated your suggestions into the spec (see above). Do you have any recommendations for an attribute name to replace "style"?

[2015-12-04 02:33] amorey commented on #55
Actually, I was mistaken. The `src/` directory is already in the npm package (`node_modules/muicss/src`). Let me know if that works for you or if we need to do something else.

[2015-12-04 14:43] defrex commented on #58
I'm not sure. `variant` maybe? Two hard problems, amirite?

[2015-12-04 20:42] amorey commented on #58
Good thing we don't have to worry about cache invalidation.

Do you have a preference?
* `variant`
* `type`
* `btnType`
* something else?

The MD spec refers to them as "Button Types":
https://www.google.com/design/spec/components/buttons.html#buttons-button-types

[2015-12-04 21:37] defrex commented on #58
`type` can be harry in some contexts since it's reserved in JS (though it will still work fine in JSX). `btnType` seems reasonable, if a little inelegant.

[2015-12-04 22:14] amorey commented on #58
Agreed... I'm leaning towards 'variant'.

[2015-12-21 05:54] amorey commented on #58
@defrex I have a version of the MUI React library that implements the proposed spec. I want to spend time optimizing the code and writing more unit tests but it'd be useful to get your thoughts on the code beforehand:
https://github.com/muicss/mui/tree/react/src/react

Note that it isn't being exposed via `'muicss/react'` yet. Also, I haven't updated the Button module to ES6 yet because I ran into

[2016-01-04 02:39] danmartinez101 commented on #58
@amorey This is looking pretty awesome! Do you think you could expose it as `muicss/react-next` or something similar?
Or is there another way that these new components can be beta tested?

[2016-01-04 04:25] danmartinez101 commented on #58
I went ahead and built the react branch and am running the components through the paces in a sample applications.

A couple of things that I've come across so far:
1. React components aren't exported in a format consumable via webpack
2. className and style props get dropped instead of merging into the underlying components props

I'm happy to create a pull request for either or both of these if y

[2016-01-05 05:00] amorey commented on #58
@danmartinez101 Great! Happy to hear you like the spec.

What problems did you run into with webpack? Was it an issue with ES6 or JSX syntax? I've been thinking about the best way to expose MUI via an NPM package and so far I've been playing around with using a build step to create a `pkg` from source. In the latest [`react` branch version](https://github.com/muicss/mui/tree/react) you can build t

[2016-01-07 12:39] amorey commented on #58
@danmartinez101 Thanks for the `react` peerDependency recommendation in the `react-packages` branch. I made the change and pushed to github.

I've been playing around with your "monorepo" idea in [that branch](https://github.com/muicss/mui/tree/react-packages) and so far I think it's looking pretty good. If you want to try to split up the work let me know. I think we can use this gulp pattern to c

[2016-01-09 03:56] danmartinez101 commented on #58
That package structure is looking pretty clean :) :+1:

I'll be free a bit next week, so I'll ping you on gitter and see if there is anything I can help out with.

[2016-01-10 17:52] MuhamadFaifi opened #62 "Floating labels bug"
Labels don't float using this code doesn't work:
[code]

While they float perfectly using this code:
[code]

[2016-01-10 18:07] amorey commented on #62
@MuhamadFaifi Thanks for creating this issue. I fenced your example in a code block using Github Markdown to expose the HTML code.

This behavior is by design - to improve performance MUI uses CSS selectors to implement floating labels. Since CSS3 only has a selector for after (e.g. `input + label {}`) the &lt;label&gt; element has to come after &lt;input&gt;.

Hope that helps!

[2016-01-11 22:00] Lukasss93 opened #63 "Edge Event error!"
This error is shown only on Microsoft Edge for Windows 10 Mobile.
It is a MUI bug or Edge bug?

SCRIPT5007: Unable to get property '_muiEventCache' of undefined or null reference
mui.min.js (1,7975)

Please answer me asap :)

[2016-01-11 22:01] amorey commented on #63
@Lukasss93 Thanks for the bug report! I can take a look at this tonight.

[2016-01-12 10:57] amorey commented on #63
@Lukasss93 I wasn't able to reproduce the error looking at the documentation site (https://www.muicss.com) on Edge/Win11. Are you seeing the error on the documentation site or with your own code?

I can see where the error would be triggered but I need to see an example to determine why a null value is being passed into the function instead of an HTML Element:
https://github.com/muicss/mui/blob/ma

[2016-01-12 18:26] Lukasss93 commented on #63
Sorry, I forgot it!

Now this are the steps to replicate the problem:

1. Open Microsoft Edge on Windows 10 PC
2. Visit my web site on https://api.auraxstudios.com/
3. Open Developer Tool F12
4. Click on Emulation Tab
5. Select on:
           Browser Profile: Windows 10 Mobile;
           User Agent String: Microsoft Edge - Windows 10 Mobile
           Orientation: Landscape
           Resolution:

[2016-01-13 03:53] #62 closed

[2016-01-13 04:34] amorey commented on #63
@Lukasss93 Thanks for your excellent bug report! I was able to use the Edge debugger to step through the code and identify the problem. It turns out that it was a bug in MUI triggered when `mui.overlay('off')` was called before `mui.overlay('on')`. The switch to Windows Mobile triggered the part of your code that called `mui.overlay('off')`. In any case, the bug is fixed in v.0.2.10:
https://www.m

[2016-01-13 10:43] Lukasss93 commented on #63
Very thank you for your support! Now works fine.

[2016-01-13 10:43] #63 closed

[2016-01-13 14:42] FoxxMD commented on #58
+1 awesome work guys! really looking forward to trying this out when it's ready.

[2016-01-16 02:27] ghostpanda opened #65 ".mui-col-#{$class}-pull(push)-#{$i} doesn't work"
[code]
.mui-col-lg没有使用position: relative;
导致.mui-col-#{$class}-pull(push)-#{$i} 无法正常工作。
是疏忽了，还是有别的用意？

[2016-01-16 02:53] amorey commented on #65
This was copied over from Bootstrap's grid system but isn't currently being used. Do you need push/pull in the grid system for a project you're working on?

[2016-01-16 03:01] ghostpanda commented on #65
https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_grid-framework.scss
line : 12
you may lost this  :smiley:

by the way - may i speak Chinese?

[2016-01-16 03:07] amorey commented on #65
Sorry, I don't speak Chinese! I can try to use Google translate though.

Do you need push/pull for a specific project? We're trying to keep MUI as small as possible so my preference is for leaving it out unless it's necessary. How many more bytes does it add to the output?

[2016-01-16 03:14] ghostpanda commented on #65
我赞同你的观点，就我个人而言，我push/pull用的很少。

[2016-01-16 05:40] #65 closed

[2016-01-17 15:23] amorey commented on #58
@defrex @danmartinez101 @FoxxMD Thanks for your patience!

We now have a version of MUI React that implements the proposed spec above:
https://github.com/muicss/mui/tree/react

Based on @danmartinez101's recommendation I created a "monorepo" structure and split out the CDN/NPM/Bowser/Meteor packages into separate directories. There's still work to do with Bowser and Meteor but here's the NPM packa

[2016-01-18 14:32] defrex commented on #58
This looks great! Thanks for all the hard work.

Regarding CSS, I'd love to see both the CSS and the SASS source included in the NPM package. When using webpack you can easily import CSS from NPM deps, and if the user is using SASS, the source can be imported directly to enable custom builds.

[2016-01-18 14:48] FoxxMD commented on #58
I agree with @defrex on including both css and sass in source. The README looks good! The links to the docs don't work but I'm sure that still a work in progress :)

[2016-01-18 14:52] amorey commented on #58
@defrex @FoxxMD Thanks for the feedback! The links are a work in progress...

Can you point to an example of how to include SASS source files in an NPM package with webpack? Usually I use bower to import source files.

[2016-01-18 15:35] FoxxMD commented on #58
I don't think there is anything special you need to do (but @defrex please correct me if I'm wrong). Including the `sass` folder along the `lib` folder for the npm package (or inside `lib`) would be enough I think. Then, instead of requiring the distributable css ew can require `mui.sass`

[2016-01-18 16:00] defrex commented on #58
Agreed. Doesn't matter much where it lives in the structure, as long as it's somewhere.

[2016-01-19 14:25] paran0a opened #66 "React- MUI Dropdown auto submits when placed in form element"
Hi ,
I'm using React - MUI. I have a dropdown that is placed in form element.
Since dropdown consists of button that triggers dropdown (and few other elements ) that button auto submits my form.

I know that you can add type="button" as attribute to stop this from happening but I don't know where to place it.

[2016-01-19 14:28] amorey commented on #66
@paran0a Thanks for creating this issue! I can take a closer look tonight.

In the mean time, if you want to dive into the code, we're about to release a new version of the React library so that would be a good place to start:
https://github.com/muicss/mui/tree/master/src/react
https://github.com/muicss/mui/tree/master/packages/npm

[2016-01-20 00:45] amorey commented on #66
@paran0a This bug should be fixed in the newest version (0.3.0-rc1):
https://www.npmjs.com/package/muicss

Be careful if you're currently using version < 0.3.0 as there are breaking changes in the new (and much improved) React library.

[2016-01-20 02:58] ghostpanda opened #67 "mui-angular version"
Hi amorey,
Do you have any plans to develop ```angular version of mui``` in the near future?

[2016-01-20 03:15] amorey commented on #67
@ghostpanda I haven't used angular in a couple of years so I don't think I'd be the best person to work on it. Are you interested in adding Angular support?

[2016-01-20 03:25] ghostpanda commented on #67
@amorey Yes , I have an angular version project, and I'm trying to write ```mui-ng-components```.

[2016-01-20 04:07] amorey commented on #67
Awesome! That's great news. If you want to try adding it directly to the MUI repo you can add them under `src/angular`:
https://github.com/muicss/mui/tree/master/src

[2016-01-20 12:32] amorey commented on #58
@danmartinez101 @defrex @FoxxMD The above spec has been implemented in v0.3.0-rc1 along with CSS and SASS files:
https://www.npmjs.com/package/muicss

The documentation on the main website is coming soon. Let me know what you think of the new version!

[2016-01-20 12:33] #48 closed

[2016-01-20 16:41] sdkcarlos opened #68 "How to trigger ripple efect with javascript"
Is there a way to trigger a ripple effect adding a class to any element ? Or how to trigger the ripple effect using javascript? This feature would be nice, if there isn't.

[2016-01-20 17:55] amorey commented on #68
Currently there isn't but this sounds like a nice feature. Would you be interested in working on it? The ripple code is self-contained so it shouldn't be too difficult to generalize it:
https://github.com/muicss/mui/blob/master/src/js/ripple.js

[2016-01-23 03:29] ghostpanda commented on #67
@amorey  I am starting angular version here.
https://github.com/ghostpanda/mui/tree/angular-dev
I have finished some part of  ```appbar,button,caret,container,divider,dropdown-item,dropdown,panel```
and examples under https://github.com/ghostpanda/mui/tree/angular-dev/examples/angular.
My English is not good, I hope you can help me to comment some javascript code.
Also, you can give me some advice

[2016-01-23 13:28] #66 closed

[2016-01-24 16:23] amorey opened #69 "Announcement: MUI React Library Release Candidate"
Hi Everyone,

Thanks for your patience and your feedback! We finally have a release candidate ready for the MUI React library (v0.3.0-rc3):
https://www.muicss.com/docs/v1/react/introduction

Here is the NPM package:
https://www.npmjs.com/package/muicss

When you have a moment please let us know what you think of the new MUI React library. We're targeting Monday or Tuesday for an official release s

[2016-01-24 16:25] amorey commented on #58
@danmartinez101 @defrex @FoxxMD Thanks again for your feedback. I'm closing this thread in favor of the new React Library Release Candidate Thread: https://github.com/muicss/mui/issues/69

See you in the new thread!

[2016-01-24 16:25] #58 closed

[2016-01-25 03:52] amorey commented on #67
@ghostpanda It looks great! It's been a while since I used Angular but I'll try to get back into it so I can help with the project.

Is there anything in particular that you want me to take a look at?

[2016-01-27 04:08] amorey commented on #67
@ghostpanda Is the code ready to merge into master? When you add some unit tests I can start working on merging it into master and adding it to muicss.com.

[2016-01-27 05:01] ghostpanda commented on #67
@amorey Sorry, I am working on an ```three.js  3D model``` project these days. I plan to continue this next week.

[2016-01-27 09:33] amorey commented on #67
Ok! I hope your project is going well! Let me know if there's anything I can help with Angular. I tested out your examples and it's looking great so far.

[2016-01-27 09:57] ghostpanda commented on #67
@amorey  I haven't start ```unit test``` yet . Would you help me with it? :laughing:

[2016-01-27 13:14] amorey commented on #67
I added angular to the unit test environment:
https://github.com/muicss/mui/blob/ghostpanda_angular-dev/test/setup.js

And set up the basic structure for some unit tests:
https://github.com/muicss/mui/tree/ghostpanda_angular-dev/test/angular-tests

But I ran into problems creating a test that compiles HTML and checks the result. Take a look and let me know if you have some ideas on how to test the

[2016-01-28 08:53] mahmoudmy opened #70 "RTL support?"
Nice job!
Is there any plan for supporting RTL languages like Persian, Arabic, ... ?

[2016-01-28 10:04] ghostpanda commented on #67
@amorey
Hi, I modified some angular unit test here, and it seems to work.
https://github.com/ghostpanda/mui/tree/angular-dev/test
I modified some directive with ```replace: true``` attribute.
by the way, could you give me some advice which is better  ```replace: true``` or  ```replace: false```

[2016-01-28 13:35] amorey commented on #70
Hi @mahmoudmy! Where would you like to see RTL support? In which ways does MUI currently not support RTL?

[2016-01-29 03:18] amorey commented on #67
Great, it's working for me too! Here are some suggestions:

* We're using [JSDOC](http://usejsdoc.org/about-getting-started.html) for documentation and the [Airbnb JavaScript Style Guide](https://github.com/airbnb/javascript/tree/master/es5) for coding styles
* I think it would be better to put `global.Node = window.Node` in the angular test helpers module instead of before-compilers.js to keep th

[2016-01-29 03:35] ghostpanda commented on #67
Thanks for your advice!
I'll start review the code next week and finish the rest components.
It is really hard for me to comment all the code in English, I'll comment some code in Chinese.
I really hope that you can help me to translate that.

[2016-01-29 04:28] amorey commented on #67
No problem! If you comment in Chinese I can use Google translate to help me rewrite the comments in English.

[2016-01-29 09:02] ldd opened #71 "react: onChange function does nothing on a Select component"
Looking at the [code](https://github.com/muicss/mui/blob/master/src/react/select.jsx) for the select Component, I saw that onChange is never used.
In a similar component, [tabs](https://github.com/muicss/mui/blob/master/src/react/tabs.jsx), it is used correctly.

So for my specific use case, I just made sure that the onChange function was called before you hid the menu.

Something like
[code]

[2016-01-29 10:03] ldd opened #72 "react: button does not properly unmount (ripple effect)"
See https://github.com/muicss/mui/blob/master/src/react/button.jsx#L161

Basically, if the button is unmounted before 200ms pass, that timeout will still happen.

proposed solution: add a componentWillUnmount method to the button component and use clearTimeout() to remove the timeout.

[2016-01-29 14:27] amorey commented on #71
Thanks for the bug report! I'll take a look at it tonight

[2016-01-30 02:09] ldd opened #73 "react: Select component has no way to set a default value"
so, a normal select from react let's you pick the default value. This is not possible with this library.
ex:
[code]
Moreover, select-items do not have a way to 'force' them to be selected. I have no idea how to do it.
My super-hacky solution: swap the first and nth options... which works but it is ovbiously not ideal

[2016-01-30 02:49] ldd commented on #73
ok, this was a no brainer issue to solve, I just added a value property to the [Select component](https://github.com/muicss/mui/blob/master/src/react/select.jsx#L172)

[code]

[2016-01-30 03:23] amorey commented on #73
Great! I can work on incorporating that change into the master.

[2016-01-30 13:07] Thermatix opened #75 "Error when DOM node's are removed"
I'm getting a website breaking error:
[code]

It happens when my router removes content from a DOM node and appends new content to the same node.

[2016-01-30 13:22] amorey commented on #75
Thanks for the bug report! Can you provide any more details/examples? What is getting removed that triggers the error?

[2016-01-30 13:34] Thermatix commented on #75
I apologize, the problem wasn't with mui at all, but it was being reported in the mui lib, hence why I thought it was. The problem was that a node wasn't being created and somehow this propagated into the mui-library.

[2016-01-30 13:36] amorey commented on #75
Also, which version of mui.js are you using?

[2016-01-30 13:42] Thermatix commented on #75
I'm using mui version 0.3.0.

I think I know where the error happens.

So, you click a button the ripple effect happens, the button node gets removed and then mui tries to remove the ripple effect but the button node isn't  there any more.

it happens here:
[code]

which is why you get this error:
[code]

I think the fix is simple, check if the node exists, if it does remove it, if not then do not

[2016-01-30 13:44] amorey commented on #75
Thanks for the details! I can take a closer look at the error.

Do you know why the ripple element isn't there anymore? Is another library removing it before MUI hits that line of code?

[2016-01-30 13:45] Thermatix commented on #75
Because I removed it :).

[2016-01-30 13:47] amorey commented on #75
How did you remove it? Are you trying to disable the ripple effect?

[2016-01-30 14:03] Thermatix commented on #75
It's a navigation button, you click on it and it goes to a new page, but it's designed that the button of the page you are on is removed.
I'm doing this through react.

But it's strange, I put a log and the button exists... could it be becuase react is just changing the node when it re-renders everything?

[2016-01-30 14:08] amorey commented on #75
Ok, I think I know how to fix it and make the code more robust.

Have you taken a look at the MUI React library? MUI JS library should work fine with other React libraries but if the rest of your app uses React it might be easier to use MUI React instead:
https://www.muicss.com/docs/v1/react/introduction

[2016-01-30 14:48] Thermatix commented on #75
I'm using react.rb not react.js, it might work but I'm fine with this.

[2016-01-30 18:07] amorey commented on #75
The bug should be fixed in the `react-bugfix` branch:
https://github.com/muicss/mui/tree/ripple-bugfix

Can you try it out? If you hotline to this `mui.js` you should be able to test it easily:
https://raw.githubusercontent.com/muicss/mui/ripple-bugfix/packages/cdn/js/mui.js

[2016-01-31 12:33] amorey commented on #73
Just to follow up, I submitted a pull request with some suggestions for your working branch: https://github.com/ldd/mui/pull/1

[2016-01-31 16:38] amorey commented on #73
@ldd I've been taking a closer look at adding support for `value`, `defaultValue` and `onChange` to the `<Select>` component and it's going to require more changes to the component than I thought. In any case, I'm working on it now and should have a fix out relatively soon.

[2016-01-31 23:32] ldd commented on #73
yeah, it is not as easy as I thought, but nice work! I love this framework and more than a bug, it's a missing feature.

[2016-02-01 02:14] amorey commented on #75
@Thermatix The `react-bugfix` branch was merged into the `ondeck` branch so try this `mui.js` file instead:
https://raw.githubusercontent.com/muicss/mui/ondeck/packages/cdn/js/mui.js

[2016-02-01 02:16] amorey commented on #73
@ldd The changes you requested are in the `ondeck` branch:
https://github.com/muicss/mui/tree/ondeck

I also changed the MUI React component attribute names to be more React-like (e.g. `isDisabled` -> `disabled`):
https://github.com/muicss/mui/tree/ondeck/packages/npm

Here's the changelog:
https://github.com/muicss/mui/blob/ondeck/CHANGELOG.md

[2016-02-01 02:17] amorey commented on #71
Closing this issue in favor of https://github.com/muicss/mui/issues/73

[2016-02-01 02:17] #71 closed

[2016-02-01 02:33] amorey commented on #72
Thanks for the bug report and the suggested fix. Your suggestion is implemented in the `ondeck-ripple-unmount` branch:
https://github.com/muicss/mui/blob/ondeck-ripple-unmount/src/react/button.jsx#L158-L171

Let me know if it looks ok!

[2016-02-01 03:23] amorey commented on #70
@mahmoudmy To write text right to left you can use the `direction` CSS property:
http://www.w3schools.com/cssref/pr_text_direction.asp

The `direction` property shouldn't interfere with any MUI CSS so you should be able to use it anywhere without a problem. Would a CSS helper (e.g. `.mui--direction-rtl`) help?

[2016-02-01 05:18] mahmoudmy commented on #70
Thanks @amorey, using `direction` property may be useful but it's not just about text-direction. In some cases the right or left margins (or padding) should be flipped. Maybe we need an additional `.mui-rtl.css`  file!

[2016-02-01 14:32] amorey commented on #70
I see... can you show me where the padding margin needs to get flipped? We should be able to do that using CSS helpers.

[2016-02-01 22:07] Thermatix commented on #75
I tried it, I get a 404 when I do.

[2016-02-01 22:09] Thermatix commented on #75
I get this error when I try to use it:
[code]

[2016-02-01 22:10] amorey commented on #75
That's too bad. I thought you could hotlink to the file but I guess Github
doesn't allow that. Can you cut/paste the code into your app to test it
out? If not, it's not a big deal. I'm pretty confident in the code.

On Mon, Feb 1, 2016 at 5:09 PM, Thermatix <notifications@github.com> wrote:

[2016-02-02 13:18] #72 closed

[2016-02-02 13:25] amorey commented on #75
Fixed via 39bda01ef37d2fa21d190061285de1beefa86462

[2016-02-02 13:25] #75 closed

[2016-02-02 13:25] amorey commented on #73
Fixed via 39bda01ef37d2fa21d190061285de1beefa86462

Code is live in v0.4.0

[2016-02-02 13:25] #73 closed

[2016-02-03 09:50] serayuzgur opened #76 "React components should take EventListeners from props."
I needed to add a click event on Row component. It is possible to change the code like
`onClick:this.props.onClick` but I think it should be generic and available for all components and all react events. What do you think?

[2016-02-03 12:47] amorey commented on #76
That's a good idea. We can probably add support for all standard React events relatively easily by using attribute spreading (e.g. `{ ...this.props}`). Let me know if you have time to take a look at it. Otherwise, I can start working on it:
https://github.com/muicss/mui/blob/master/src/react/row.jsx#L25-L33

[2016-02-03 16:50] serayuzgur opened #78 "Missing dependencies on a clean system"
Tried to build the project on clean system and seems some dependencies are missing. Here is the list. I think they must be included in `devDependencies`. What is your opinion?
- 'browserslist'
- 'num2fraction'
- 'postcss-value-parser'
- 'caniuse-db'
- 'normalize-range'

[2016-02-03 18:37] amorey commented on #78
That's interesting... which version of node and npm are you running? I haven't run into any dependency issues using node 5.3.0 and npm 3.5.8.

[2016-02-03 18:46] serayuzgur commented on #78
npm: 2.14.7,
node: v4.2.1

[2016-02-03 18:54] amorey commented on #78
Would it be easy to try with 5.3.0 and >3.5.8? I use this tool to set up new node environments:
https://pypi.python.org/pypi/nodeenv
[code]

[2016-02-04 06:23] serayuzgur commented on #78
Hi, I tried to install mui-env, it is installed with success. I got error on built , now trieng to fix it. Here is the op and result
`npm install`  = success

`./node_modules/.bin/gulp npm:build` =`bad interpreter: Permission denied`

`sudo ./node_modules/.bin/gulp npm:build` = `sudo: unable to execute ./node_modules/.bin/gulp: Permission denied`

[2016-02-04 12:29] amorey commented on #78
Hmm... a permission denied error sounds like a problem with your local file permissions not with the MUI dependencies. Which tools are you using to set up the node environment?

[2016-02-04 14:02] pke opened #79 "How does this compare to material-ui react components?"
I see this framework is much smaller than http://www.material-ui.com/

How does it compare? What is it lacking?

[2016-02-04 14:32] serayuzgur opened #80 "InputText value & defaultValue Problem."
Summary: `value` attr should be taken from state. I am planning to change it that way and implement `componentShouldUpdate`

Here is the scenario. I have a grid.
1. Selection + Edit button renders a form.
2. Form must be rendered with the values from selection.
3. Form must be able to re-render it self if we do 1st step again (change selection & click edit)
4. Form values must be editable after re

[2016-02-04 14:41] serayuzgur commented on #79
I used material ui at first. It is nice looking and working. As I experienced, it is also slow, and not well structured. (Spends lots of waste time [Perf](https://facebook.github.io/react/docs/perf.html) & lots of code )
I starded to write my own components powered by muicss for 3 days.
muicss has less components with some bugs but according to me it is easier to fix muicss bugs or write component

[2016-02-04 14:45] serayuzgur commented on #78
It was same as you described.
brew,nodeenv, and the command that you gave me.

[2016-02-04 14:59] pke commented on #79
Yeah. I also felt like material ui is a bit on the slow side. And it's heavy in distribution size. Like over 2mb. Will give this one here a whirl

[2016-02-04 15:00] amorey commented on #78
Did you set up the environment with sudo or run any commands with sudo? My guess is that some of your files are owned by root. This is how I set up my environment:

[code]

The basic strategy is to get node/npm to use the sandbox that nodeenv set up. If it's working properly all of the files will be owned by your user account and you won't need to use sudo.

[2016-02-04 15:03] amorey commented on #80
Thanks for digging into this. I can take a closer look tonight. Which version of MUI are you using? I pushed some changes to the Input components in v0.4.1.

[2016-02-04 15:13] amorey commented on #79
@pke Thanks for kicking off the discussion!

Material UI is great as a fully-featured solution. MUI is designed to be fast, small and very hackable. As developers we wanted a small library that would give us more control over the look, feel and behavior of our apps.

MUI is also focused on cross-platform support so as a developer you can use the same UI components across language and platform (JS,

[2016-02-04 15:16] serayuzgur commented on #80
I am all up-to-date. If you provide your opinion also I can include it to my push request

[2016-02-04 15:25] serayuzgur commented on #78
Thanks, and I think your last comment should be in the **README** doc under the **build** title

[2016-02-04 15:25] #78 closed

[2016-02-04 15:26] amorey commented on #80
What do you mean by becoming `editable=false`?

When I wrote the logic for the `<Input>` component I wanted to mimic the controlled/uncontrolled behavior of React `<Input>` components (https://facebook.github.io/react/docs/forms.html). The intended behavior is that you can control the value of MUI `<Input>` by calling `.setState()` in your Component. Here's a unit test that's designed to test for

[2016-02-04 15:29] amorey commented on #78
I thought about that... but there are many tools out there and many ways to set up a node sandbox. This is the way I like to set up sandboxes but it certainly isn't the only way to do it!

[2016-02-04 15:45] serayuzgur commented on #80
If I set value I can not edit it without providing onChange function and it is the expected result. In your test case you are setting the state of TestApp instance , it is the same thing that I did with Form. The thing is  `parentOfInputField.setState({...})` works but it means rendering the parent but `inputField.setState({...})` is not working because input field's value is only taken from props

[2016-02-04 15:48] amorey commented on #80
I see... is that the intended use of React components? I thought about doing that but I couldn't find any examples in the React documentation of an outer component calling an inner component's `.setState()` method. Do you know of any examples?

[2016-02-04 16:04] serayuzgur commented on #80
Summary: I think `setState` should update instance's value
As far as I know `setState` is for all modifications of component's state from anywhere. So in [Component API](https://facebook.github.io/react/docs/component-api.html) under setState title it says event handlers. But in this case I gave the handler from parent.

setState and correct usage of it is very important for performance so instead

[2016-02-04 16:07] serayuzgur commented on #80
And  as an example I looked at [Forms](https://facebook.github.io/react/docs/forms.html)
[code]
As you see, `value` comes from `state`.

[2016-02-04 16:33] amorey commented on #80
That example makes sense, but how is that different from this?

[code]

[2016-02-04 16:36] amorey commented on #80
Can you show me an example of how you'd like to use `<TextInput />` so I can work backwards? What does your own component's code look like?

[2016-02-04 17:06] serayuzgur commented on #80
Hi , this is from your sample`  <TextInput value={this.state.value} `
And this is from _input.js
[code]
And I think it should be like
[code]

[2016-02-04 17:28] WhatFreshHellIsThis commented on #29
Personally I think the smoothed fonts look worse for some reason and the wider spacing looks better.
Can you not use Roboto?

[2016-02-04 18:36] amorey commented on #80
It would still be useful to see how you expect it to work in your component. Does your use case look like this?

[code]

[2016-02-05 02:08] amorey commented on #76
Support for generic React EventListeners has been added to the latest release (v.0.4.2):
https://github.com/muicss/mui/commit/ced4060979e66d2f1b04fb25f4c88e629001ad51

[2016-02-05 02:08] #76 closed

[2016-02-05 02:13] amorey commented on #80
Or are you trying to do something like this?

[code]

[2016-02-05 02:39] amorey commented on #29
Adding a custom font to the CSS affects the load time of the app and the choice of font will have big effects on the look and feel of the site so we wanted to hand over control of that decision to the developer.

Also, it's easy for developers to add a custom font themselves so we didn't feel that we were adding much value by embedding it in the CSS. Here's an example of how to add Roboto:
https:/

[2016-02-05 02:58] amorey commented on #70
@mahmoudmy Let me know where padding and margin needs to get flipped in order to support right-to-left languages. I think this would be a nice feature to add as a CSS helper.

[2016-02-05 06:32] serayuzgur commented on #80
Sorry for delay, Timezone problems :smile: Here is my code
[code]

[2016-02-05 06:35] amorey commented on #80
Thanks! That's very helpful. And just to make sure I understand - the reason you want to call `.setState()` on the `<TextInput>` instance is to improve performance?

[2016-02-05 07:22] serayuzgur commented on #80
Yes, I don't want to render whole form  but just the related component on change.  Also I think `value` is a state kind property. It can change internally, externally or via UI and this is what state is for.  Also this will be important for other components to gain performance.

[2016-02-05 10:41] mahmoudmy commented on #70
As you said, MUI uses the same grid system as Bootstrap, so [bootstrap-rtl](https://github.com/morteza/bootstrap-rtl) may help you to create a CSS helper for RTL.

[2016-02-05 14:49] amorey commented on #80
Ok thanks! Using `this.state.value` sounds like a good solution. I can take a closer look at this tonight.

[2016-02-06 03:12] amorey commented on #80
I've been digging into this and I'm not sure if calling `.setState()` on the `<TextInput>` instance will improve performance.

I added some debugging statements to the `constructor()` and `componentDidMount()` methods in the `<TextInput>` component and I used this example to change the value property:

[code]

And what I found was that the component only gets mounted once and each subsequent butto

[2016-02-07 10:07] ghostpanda commented on #67
@amorey
我抽空基本完成了mui的angular组件和examples（单元测试我还没有时间开始做，所以只请求merge到dev branch上）。
明天是中国的新年，在这里祝你新年快乐！
:smiley:
中国的新年是非常忙碌的，在最近的半个月里，我可能没有时间继续去完成单元测试了，我表示十分抱歉。
当然，如果我能抽到时间的话，我会及时更新单元测试的。
:smile:

[2016-02-07 15:28] amorey opened #82 "Announcement: New default font-family"
Hi Everyone,

I just wanted to let you know about a change to the default font-family in the newest version of MUI (v0.4.2). Previously the default font-family was `Helvetica Neue, Helvetica, Arial, Verdana, Trebuchet MS`. Now the default font-family is `Arial, Verdana, Tahoma`.

For a while we've been debating whether or not to make the default font `Roboto` or to favor a system-specific font suc

[2016-02-08 02:50] amorey commented on #67
@ghostpanda This is awesome! The code is GREAT!!

I've been working on adding examples to the documentation website but it's going to take a little while to finish. So far I've run into these issues:

* The `disable` attribute should be called `disabled`
* The `disabled` attribute should be `true` if present (e.g. `<mui-button disabled>`)
* I think it's better to use CSS helper classes instead of

[2016-02-08 12:48] amorey commented on #67
@ghostpanda

I just wanted to let you know that I fixed the injector bug by specifying the dependencies here:
https://github.com/muicss/mui/blob/master/src/angular/input.js#L16

I also simplified the Angular examples by using `ng-app`:
https://github.com/muicss/mui/blob/master/examples/angular/appbar.html#L2

The changes are live in v0.4.4 and in `muicss:master`.

[2016-02-10 09:17] serayuzgur commented on #80
Sorry for late response and thanks for not giving up :smile: . In your example, you only change `TextInput` value. By calling `this.setState` Entire `Example` renders again for a very changeable value.
Let's say you defined a `ref="someInputRef"` for `TextInput` and just call
`this.refs.someInputRef.setState({value: Math.random().toString()});` at OnClick. It will only render the related field, in

[2016-02-10 16:52] ghostpanda commented on #67
@amorey 我已经修改了上述问题。
:smiley:

[2016-02-11 03:44] amorey commented on #80
I see... that makes sense.

Do you usually use this technique to update React `<input>` components? Have you seen any React documentation about pros/cons of updating a sub-component's state by using `this.refs.someInputRef.setState()`?

[2016-02-11 03:51] amorey commented on #67
Great! I'll take a look at the code!

Sorry it didn't add your contribution automatically when I merged your changes. Can I add you as a contributor here:
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-02-11 03:55] amorey commented on #67
Hmm... I did a `--squash` merge when I merged your code into the master so it looks like I got the credit for the changes:
https://github.com/muicss/mui/blame/master/src/angular/button.js

[2016-02-11 04:38] ghostpanda commented on #67
👌好的😃这是我第一次在git上贡献代码，留个纪念😄

[2016-02-11 06:53] serayuzgur commented on #80
Not usually but, now I am writing a form renderer for datatable. I will be written once and must be well calculated. I am not sure [Refs to Components](https://facebook.github.io/react/docs/more-about-refs.html) explains. I think it supports my Idea.
The only think may be conflicting with my idea is the following quote but again I am not trying to "make things happen", just a single form which can

[2016-02-13 16:36] amorey commented on #67
@ghostpanda Thanks again for creating a pull request! Your changes are in the latest version of MUI (v0.4.5).

[2016-02-14 05:11] amorey commented on #80
@serayuzgur Here's a new branch that supports the `.setState()` use case you're looking for:
https://github.com/muicss/mui/tree/input-setstate

After working on this, I'm not sure this is a use case we should support in an official way. Here's a quote from the [Refs to Components](https://facebook.github.io/react/docs/more-about-refs.html) document which says refs shouldn't be used as the go-to wa

[2016-02-16 04:03] ghostpanda commented on #67
@amorey  You're welcome!
Maybe there's 4 issues.
https://www.muicss.com/docs/v1/angular/forms
```<mui-input label="Input 1" float-label></mui-input>``` should be
```<mui-input floating-label="Input 1"></mui-input>```

```Checkboxes and radio buttons``` directive has no ```checked```  attribute , only supports ngModel now.

https://www.muicss.com/docs/v1/angular/tabs some error reports.

https://ww

[2016-02-17 04:35] amorey commented on #67
@ghostpanda

What do you think about using a `mui-` prefix for custom attributes? The official Angular Material Design library uses prefixes for custom attributes:
https://material.angularjs.org/latest/demo/sidenav

Here's a proposal for the MUI Angular spec. Let me know what you think:

### Appbar
[code]

### Button
[code]

### Caret
[code]

### Checkbox
[code]

### Container
[code]

### Divider

[2016-02-17 13:43] ghostpanda commented on #67
看起来很不错！我刚开始的想法只是尽可能减少字母。

[2016-02-18 05:30] alvaro1728 commented on #55
Hi @defrex, I've npm installed the muicss package into my react project but it doesn't automatically load the styles unless I do this:

`require('muicss/lib/css/mui.min.css');`

Is this the proper/recommended way? (I'm new at this.)

Thanks,
Alvaro

[2016-02-18 08:39] serayuzgur commented on #80
Hi @amorey
First of all thanks for the branch. I do have a sense for setState is faster than props but only if you structure it well. :smile:
I want to ask you a question, here is the scenario
Let's say we have a form like
[code]
How to would handle `onChange`?
I would define a function on the object and give them to the children like

[code]
Maybe my approach is wrong.

[2016-02-18 15:29] defrex commented on #55
It very much depends on your setup. Assuming you're using webpack and `style-loader!css-loader` what you have there will work perfectly.

Personally, I prefer to optionally load just the modules I need. So I copy `muicss/lib/sass/mui.scss` into my own project as `_mui.scss` and modify it like so.

[code]

This enables me to comment out the modules I'm not using (yet). Note that this approach requi

[2016-02-18 15:33] amorey commented on #55
In terms of customization, another option is to use `bower`:

[code]

[code]

https://www.muicss.com/docs/v1/css-js/customization

[2016-02-18 15:40] defrex commented on #55
Good point. In actual fact my `_mui.scss` file has this line at the top.

[code]

In which I define a bunch of variable-based overrides.

[2016-02-18 17:00] chrisleedavis opened #84 "React - textarea-input doesn't exist"
Version: muicss@0.4.5
Issue: react.js file references incorrect modules for TextInput & TextareaInput:

![image](https://cloud.githubusercontent.com/assets/6451259/13151127/bd1bdc4c-d636-11e5-8ef1-2b0f470111e7.png)

![image](https://cloud.githubusercontent.com/assets/6451259/13151143/c8e02ce0-d636-11e5-9ec6-168c7b4f0878.png)

![image](https://cloud.githubusercontent.com/assets/6451259/13151134/c5d

[2016-02-19 01:44] amorey commented on #84
Thanks for the bug report! The problem should be fixed in v0.4.6:
https://www.muicss.com/

Let me know if everything is working properly.

[2016-02-19 02:21] amorey commented on #80
That should work except the `mui:input-setstate` branch uses the `value` property internally:
[code]

What do you mean by confusing? Which part of the code do you want advice on?

I've been reading up on `props` vs `state` and I think modifying attributes like `value` via `setState()` is not recommended. React used to have a `setProps()` method which would have accomplished what you're trying to d

[2016-02-19 12:25] chrisleedavis commented on #84
Works perfectly, thank you!!!

[2016-02-19 12:25] #84 closed

[2016-02-20 12:32] amorey commented on #67
@ghostpanda Do you have time to work on the Angular library soon? I'd like to include the new Angular library in the next newsletter. Let me know when you have time!

[2016-02-21 06:49] ghostpanda commented on #67
@amorey
I modified some of your MUI Angular spec as ```*``` prefix.
下面是我已经完成的部分（更新中）:

#### Appbar
[code]
#### *Button
[code]

[2016-02-21 12:29] amorey commented on #67
Adding event handlers would be great. Do the MUI components currently support the Angular built-in event handlers (e.g. `ng-click`)?

Also, here are some other questions/suggestions:

  * Can/should `<mui-dropdown-item>` support `ng-click`?
  * Can `<mui-input>` and `<mui-textarea>` support `ng-model`?
  * For feature parity with MUI React, `<mui-input>`, `<mui-textarea>`, `<mui-select>` and `<mui

[2016-02-21 14:05] ghostpanda commented on #67
@amorey
some directive supports built-in event handlers , but I unified ```ng-click``` to ```on-click```.
```<mui-input>``` and ```<mui-textarea>``` supports ```ng-model``` and change event now.

[2016-02-21 16:12] amorey commented on #67
I see... what happens if the user defines both 'on-click' and 'ng-click'?

What do you think about calling it 'mui-on-click' or 'mui-click' to be consistent with the other variables?

Let me know when it's ready to merge!

[2016-02-22 01:42] ghostpanda commented on #67
我想，还是统一使用'ng-click’可能会好一些。
同时使用'on-click' 和 'ng-click’的时候’ng-click’可能会有些问题。
这周恐怕没办法抽出时间完成所有部分，不过我会尽力，尽快merge。

原始邮件
发件人:Andres Moreynotifications@github.com
收件人:muicss/muimui@noreply.github.com
抄送:gaoqi.liuliugaoqi@foxmail.com
发送时间:2016年2月22日(周一) 00:12
主题:Re: [mui] mui-angular version (#67)

I see... what happens if the user defines both 'on-click' and 'ng-click'?

 What do you think about calling

[2016-02-22 08:40] ghostpanda commented on #67
我想，还是统一使用'ng-click’可能会好一些。
同时使用'on-click' 和 'ng-click’的时候’ng-click’可能会有些问题。
这周恐怕没办法抽出时间完成所有部分，不过我会尽力，尽快merge。

@amorey  I'll modify the directives like this:
### *Checkbox
[code]

[2016-02-22 11:22] pke commented on #79
After a quick check MUI is indeed much faster than MaterialUI. I'll give it a run in my Cordova app.

[2016-02-22 13:13] amorey commented on #67
Excellent! Looks great!

[2016-02-22 15:24] amorey commented on #79
Excellent! Let us know if you run into any issues or have any suggestions!

[2016-02-23 05:37] ghostpanda commented on #67
@amorey I'll remove  ```value``` ```disabled```(useless) like [angular checkbox](https://docs.angularjs.org/api/ng/input/input%5Bcheckbox%5D):

### *Checkbox
[code]

[2016-02-23 12:23] amorey commented on #67
Sounds good! Sorry, I thought Angular supported both `disabled` and `ng-disabled`.

[2016-02-25 10:38] pke opened #85 "Inline Styles?"
I wonder why you went with an external CSS over inline styles?

[2016-02-25 10:58] amorey commented on #85
Can you explain what you mean by inline styles in more detail? Are you referring to the React Library or something else? Do you know of another CSS framework that doesn't use external CSS?

[2016-02-25 12:42] pke commented on #85
A yes, sorry I was referring to the react library of muicss. I just wondered why the react library also requires the bundling of a css file with the app instead of inline css styles.
I have not decided for one another yet, I always liked CSS. And while I see a point in react inline styles they sometimes also feel limited and bloated.

[2016-02-25 12:57] amorey commented on #85
If you want to bundle the MUI CSS library with your React code you can do it in your build script. For example, here's the build target for `mui-react-combined.js`:
https://github.com/muicss/mui/blob/master/build-targets/cdn-react-combined.js

And here's the relevant task in the build script:
https://github.com/muicss/mui/blob/master/gulpfile.js#L249-L269

There are many pros/cons to bundling CSS

[2016-02-25 12:58] pke commented on #85
Thank you for the swift response. I'll take a look!

[2016-02-25 12:58] #85 closed

[2016-02-26 20:52] chrisleedavis commented on #79
The main reason for me: Material UI uses inline styling and muicss uses sass.  Debugging with Material UI is a bit of a pain through dev tools as a result.  Check out their discussions on why they're doing it.

I wish muicss had a datepicker but overall, it's really easy to use, override, customize, etc.

[2016-02-28 00:33] alihamze opened #86 "Erasing textfield value using jQuery doesn't reset floating labels"
I am emptying a textfield's value using jQuery (`$(textfield).val('');`) but the floating label remains floating above the empty textfield. Sending the change event via jQuery (`$(textfield).change();`) doesn't cause the label to update.

[2016-02-28 00:45] alihamze commented on #86
Adding `$(textfield).removeClass('mui--is-not-empty').addClass('mui--is-empty');` fixes this, but shouldn't this be handled by the MUI event handler?

[2016-02-29 01:52] amorey commented on #86
@alihamze Thanks for creating this issue.

Would adding a MUI event handler for `onchange` fix the issue for you? You would still have to trigger the event explicitly because the `onchange` event doesn't trigger automatically when you modify the input value programmatically:
http://stackoverflow.com/questions/3179385/val-doesnt-trigger-change-in-jquery

[2016-02-29 04:12] alihamze commented on #86
@amorey Yes that would work. That would just use the same handler [here](https://github.com/muicss/mui/blob/master/src/js/forms/textfield.js#L30) right?

[2016-02-29 09:36] serayuzgur commented on #80
Thanks for all the help and explanation.

[2016-02-29 09:36] #80 closed

[2016-02-29 15:36] amorey commented on #86
Yep! That should work. If you want to implement it feel free to issue a pull request otherwise I should be able to set it up tonight.

[2016-03-01 00:45] alihamze commented on #86
Alright, I'm just going to have it use the same inputHandler since it looks like all that input handler does is add/remove the `mui--is-not-empty` and `mui--is-empty` classes which would work in this case.

[2016-03-01 02:25] alihamze commented on #86
I can't seem to get jqLite to add the change event handler. I tested the handler using `jqLite.on(inputEl, 'change', function() { console.log('Changed'); });` and the 'Changed' never gets logged.

[2016-03-01 02:42] amorey commented on #86
Are you triggering the `change` event programatically or by modifying the input manually? By default, JavaScript only fires the `change` event when the input element loses focus.

I just tried `jqlite.on(inputEl, 'change', function() {console.log('Changed');});` and it worked when I triggerred the event programmatically and manually.

[2016-03-01 03:54] alihamze commented on #86
I tested it both ways and it didn't seem to work. I just tested it in an empty project and it works so I guess the issue wasn't with the event handler itself and instead something I'll have to deal with in the other project. I'll submit a PR as soon as this build finishes and I test it with the actual event handler instead of the test `console.log()`.

[2016-03-01 04:15] alihamze commented on #86
Ok, it works if I send the change event via regular JS, but not through jQuery.

[code]
With the following HTML:
[code]
Only the first function actually works. If you want to recreate this, I am using the MUI css from Bower, the JS built with only 1 line changed (added `jqLite.on(inputEl, 'change', inputHandler);`) and jQuery from [Google Hosted Libraries](https://ajax.googleapis.com/ajax/libs/jqu

[2016-03-01 04:16] amorey commented on #86
Thanks! That helps! I can take a closer look at why JS works but jQuery doesn't.

[2016-03-01 04:32] alihamze commented on #86
It looks like [jQuery doesn't fire native event listeners](http://learn.jquery.com/events/triggering-event-handlers/). In order for MUI to add support for jQuery, it would need to either add jQuery event handlers, or add the code directly to the html of the input (`onclick="changeEvent();"`).

[2016-03-01 04:41] amorey commented on #86
That's unfortunate... unless there's an easier way to key into the jQuery event system, adding support for jQuery events would require making jQuery a dependency. Would you consider using native events to trigger `onchange`?

This plugin might help too https://github.com/jquery/jquery-simulate/

[2016-03-01 04:50] alihamze commented on #86
Yes I was looking at that but am most likely going to go down the native events route as that plugin hasn't been touched in over a year and they state it's future is unclear in the readme. Either way, I think keeping MUI dependency-free is important so I'll switch to using native events for this. Thanks for your help though :)

[2016-03-01 04:50] #86 closed

[2016-03-01 04:53] amorey commented on #86
No problem! Thanks for debugging the issue.

[2016-03-02 04:30] amorey commented on #67
@ghostpanda Any updates on the Angular library? It'd be great to include it in the next newsletter. Let me know if you need help finishing the remaining items.

[2016-03-14 10:59] oss92 opened #89 "File Input"
Extending the `Input` to include file uploading would be nice.

What I get now is a warning `Failed propType: Invalid prop `type` of value `file` supplied to `Input`, expected one of ["text","email","url","tel","password"].`

Perhaps [this could help (Dropify)](http://jeremyfagis.github.io/dropify/) or this [Codepen sample](http://codepen.io/akhmed_gaziev/pen/JdVQQm)

[2016-03-20 21:11] amorey commented on #89
@oss92 Apologies for the late reply! I've been traveling this past week.

Our goal is to keep the core MUI library as lightweight as possible and support other components via a plugin system. We haven't started working the plugin system yet but if this is something you'd like to look into, let me know.

[2016-03-22 14:05] #55 closed

[2016-03-22 15:23] oss92 commented on #89
But since it already includes `["text","email","url","tel","password"]`, doesn't it make sense to only include also `file`?

Anyways the plugin system sounds good too. Thanks for your reply! :+1:

[2016-03-22 15:29] amorey commented on #89
No prob! Adding "file" to the list would imply that the MUI `<Input>` component supports file uploading. To use the browser's built-in file upload component you can ignore the MUI component and use the native `<input type="file">` element instead.

[2016-03-30 04:06] bojjenclon opened #90 "Multiple dropdowns remaining open at once"
When using multiple dropdowns in the same page, if you click one (showing its contents) and then click another they'll both remain open (until somewhere else in the page or one of their options is picked). How can I ensure that only the most recently clicked dropdown remains open when was was open previously?

[2016-03-30 04:28] amorey commented on #90
Thanks for reporting this - it's definitely a bug. I think it's happening because a click on the toggle button itself doesn't get propagated:
https://github.com/muicss/mui/blob/master/src/js/dropdown.js#L45-L46

If you can take a look at this and submit a pull request that would be great otherwise I can take a closer look.

[2016-03-31 01:39] bojjenclon commented on #90
If I get a chance over the next few days to look at it I will, college permitting that is. Alas, I can't make any promises that I'll be able to make a pull request, but I'll see what I can do.

[2016-03-31 03:30] amorey commented on #90
No worries, the problem ended up being easy to fix. Rather than preventing event propagation explicitly, I set the toggle element type to "button" by default:
https://github.com/muicss/mui/blob/master/src/js/dropdown.js#L26-L27

The new code is live in v0.4.8:
https://www.muicss.com

Let us know if you notice any more problems!

Fixed via https://github.com/muicss/mui/commit/d0bff396d8bcbd394a3536

[2016-03-31 03:30] #90 closed

[2016-03-31 05:55] bojjenclon commented on #90
Awesome, that appears to have fixed it. Thank you so much, that was an amazing response time. Keep up the good work, love the library. :)

[2016-04-05 03:28] bojjenclon opened #91 "Numeric Input Styling"
When looking through the documentation for form elements, I noticed there isn't anything for an HTML5 number input field. Simply switching the input tag to type="number" works fine for actually receiving data from the user, but the spinners that appear are largely out of place compared to the rest of the styling provided by MUI. Will support for these input types be added (or possibly already exis

[2016-04-05 12:53] amorey commented on #91
Currently, MUI doesn't support special styling for HTML5 number input fields. Our goal is to keep the core library as simple and as small as possible so we've tried to keep to the basics (containers, panels, buttons, text inputs, typography, etc.). However, in the future we plan to add a plugin architecture to make it easy to build and share MUI extensions. If this is something you're interested i

[2016-04-05 18:00] bojjenclon commented on #91
Do you have a preferred contact method where we could talk a little more in depth about what contributing would entail?

[2016-04-05 18:01] amorey commented on #91
Sure! Email us at contact@muicss.com

[2016-04-06 09:46] IAkumaI opened #92 "DropdownItem onClick double fire"
When I add onClick to DropdownItem, methods fire twice.

[code]

Maybe I have a wrong code?

[2016-04-06 09:48] IAkumaI commented on #19
Still doesn't close on ver 0.4.8

[code]

[2016-04-06 10:25] amorey commented on #19
@IAkumaI How can I reproduce the bug?

Are you seeing the bug here:
https://jsfiddle.net/rff1ao8m/

Here's the expected behavior:
* Dropdown menu opens when the user clicks on a toggle button
* If the user clicks on the other dropdown toggle button then the original menu will close and the new menu will open

[2016-04-06 10:32] IAkumaI commented on #19
@amorey just use the react version. You can use exanple from issue https://github.com/muicss/mui/issues/92

In jsfiddle all works fine, but if you'll use react - error still here.

[2016-04-06 10:36] amorey commented on #19
Ah I see. Ok, I'll take a look. If you want to try debugging it, the relevant code is here:
https://github.com/muicss/mui/blob/master/src/react/dropdown.jsx#L110-L112

[2016-04-06 10:50] amorey commented on #92
Thanks for the bug report. I can reproduce the error that is causing the DropdownItem onClick method to fire twice. I'll take a look at it.

[2016-04-06 11:05] IAkumaI commented on #19
@amorey Maybe just add ```this.close();``` to that method?

[2016-04-06 11:46] amorey commented on #92
The bug is fixed in the `react-dropdown-bugfix` branch:
https://github.com/muicss/mui/compare/master...react-dropdown-bugfix

I also added some unit tests here:
https://github.com/muicss/mui/blob/react-dropdown-bugfix/test/react-tests/test-dropdown.js#L99-L164

Before I push this to master it would be useful to get your feedback on the Dropdown component event model:
* Should onClick events on the

[2016-04-06 11:53] IAkumaI commented on #92
1. onClick event on <Dropdown> should trigger only when the toggle button was clicked.

2. Yeah, it will be very useful.

3. I dont want any more events....yet :)

If you add an ability to insert HTML input ```<Dropdown label="HERE">``` it will be cool. But, I haven't any idea how to do this, maybe an additional child element? Like this, for example:

[code]

[2016-04-06 12:01] amorey commented on #92
Great! Thanks for the feedback. I'll implement 1+2 before pushing to master.

I'm not sure the most elegant way to support HTML for labels. Have you seen any ways in other libraries? One possibility is to accept a React Component instance as a value. Would that work for you?

[2016-04-06 12:03] IAkumaI commented on #92
Oh, a React Component instance as a value is a good idea, I think.
But it should support string and a React Component both.

[2016-04-06 13:11] amorey commented on #92
Great, I think it should be possible to support both strings and React components. I can work on this tonight. But if you want to use the code in the mean time, it's here:
https://github.com/muicss/mui/tree/react-dropdown-bugfix

[2016-04-06 14:05] IAkumaI commented on #92
Thank for the fast response :)

[2016-04-07 02:47] amorey commented on #92
@IAkumaI All of the changes you requested are live in v0.4.9 (https://www.muicss.com/):
  * Dropdown onClick bug should be fixed
  * `<Dropdown>` now supports `onSelect` property which fires when `<DropdownItem>` gets clicked
  * `<DropdownItem>` supports `value` property that gets passed to `onSelect` method
  * `<Dropdown>` `label` attribute supports React elements

[2016-04-07 06:21] IAkumaI commented on #92
It's cool, works fine, thanks :)

[2016-04-07 06:21] #92 closed

[2016-04-07 12:02] amorey commented on #92
Great! Let us know if you notice any more issues.

[2016-04-07 12:03] amorey commented on #19
Fixed via: https://github.com/muicss/mui/commit/d0bff396d8bcbd394a3536b69b626f983745ac11

[2016-04-07 12:03] #19 closed

[2016-04-12 13:15] IAkumaI opened #93 "Stylized checkboxes and radio buttons"
May you add stylized checkboxes and radio buttons?

Like this:
http://www.material-ui.com/#/components/checkbox
http://www.material-ui.com/#/components/radio-button

And toggle:
http://www.material-ui.com/#/components/toggle

It could be very good.

[2016-04-12 13:22] IAkumaI opened #94 "React <Checkbox /> onChange twice"
Hi,

[code]

```toggle``` will fired twice.

Same to onClick event. I think it's related to https://github.com/muicss/mui/issues/92

[2016-04-13 01:18] amorey commented on #94
Thanks for the bug report! It was indeed a similar bug to the onClick event issue.

Fixed via https://github.com/muicss/mui/commit/7875e93e39f6e34532e87bf437e79ab616ceaabe and the corresponding unit test is here:
https://github.com/muicss/mui/blob/master/test/react-tests/test-checkbox.js#L103-L125

The new code is live in v0.5.1:
https://www.muicss.com

[2016-04-13 01:18] #94 closed

[2016-04-13 15:00] defrex opened #95 "React 15 support"
There is a new version of React that doesn't match MUI's dependency. The breaking changes aren't very harsh, so it'll likely work as-is. Bumping the required react version will just make it easier to upgrade react without getting an earful from NPM.

[2016-04-13 15:03] amorey commented on #95
Thanks, I've been meaning to upgrade React and run the tests. If you can do this and submit a pull request that would be great, otherwise I can try it out tonight.

[2016-04-13 15:16] defrex commented on #95
I just ran the tests. It turns out there are a bunch of errors.

The primary issue seems to be controlled vs uncontrolled inputs. You can no longer specify `defaultValue` and `value` at the same time.

[2016-04-14 14:51] amorey commented on #95
Thanks for the pull request! The code has been merged into the master and is live on npm (v0.5.2):
https://www.npmjs.com/package/muicss

Can I add you to AUTHORS.txt?
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-04-14 15:16] defrex commented on #95
Please do :)

[2016-04-14 15:26] amorey commented on #95
Great! What would you like me to use for your email/contact info?

[2016-04-14 15:32] defrex commented on #95
`Aron Jones <aron.jones@gmail.com>`

[2016-04-14 15:33] amorey commented on #95
Done! Thanks again.
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-04-14 15:33] #95 closed

[2016-04-16 15:59] amorey commented on #67
@ghostpanda Thanks for your help on the MUI Angular library. The latest version has reached feature parity with CSS/JS and React libraries:
https://www.muicss.com/docs/v1/angular/boilerplate-html

Can I add you to the MUI contributors list?
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-04-16 16:20] amorey commented on #93
@IAkumaI - Thanks for creating this issue and apologies for the late reply!

Our goal is to keep the core library as simple and as small as possible so we've tried to keep to the basics (containers, panels, buttons, text inputs, typography, etc.). We also want to give the developer control over the ultimate look-and-feel of the app so we've chosen to focus on extensibility instead of adding all th

[2016-04-20 15:50] IAkumaI opened #97 "React DropdownItem target=_blank"
Hi,

can you add ```target=_blank``` support to the DropdownItem (React)?
Today, target attribute added to the ```li``` tag instead of ```a```

[2016-04-20 15:57] amorey commented on #97
Sure! I can look at it later but feel free to create a pull request if you have time.

[2016-04-22 09:01] tianyuanzhonglu opened #98 "No 'mui-angular' package in NPM repositry"
So, ES6 'import mui-angular' cannot work.

[2016-04-22 11:54] amorey commented on #98
Can you give an example of how you would like to use `mui-angular`? Are you trying to embed the entire library into a client bundle or are you trying to use directives on an as-needed basis.

Do you have an example of another Angular library with a good Node API?

[2016-04-22 12:21] amorey commented on #97
@IAkumaI - The `<DropdownItem>` component in the latest version of MUI (v0.5.4) includes support for the `target` attribute: Here's the unit test:
https://github.com/muicss/mui/blob/master/test/react-tests/test-dropdown.js#L191-L205

Let me know if you run into any issues!

[2016-04-22 12:21] #97 closed

[2016-04-22 16:03] IAkumaI commented on #97
Ok, thanks

[2016-04-24 03:18] tianyuanzhonglu commented on #98
$npm install --save muicss

app.js
`
import {AppBar} from 'muicss';
`

[2016-04-24 03:31] amorey commented on #98
How would you use `Appbar` in your code?

Based on other examples it looks like this is the recommended way to import Angular libraries using node:
[code]

http://blog.npmjs.org/post/114584444410/using-angulars-new-improved-browserify-support

[2016-04-24 05:08] tianyuanzhonglu commented on #98
my mistake.

I follow angular project skeleton in npm respositry, add

node_modules/muicss/angular.js
`
require('./lib/angular/appbar'); (copy from 0.5.4.tar.gz/package/angular)
require('./lib/angular/button');
require('./lib/angular/caret');
require('./lib/angular/checkbox');
require('./lib/angular/col');
require('./lib/angular/container');
require('./lib/angular/divider');
require('./lib/angular

[2016-04-24 05:13] tianyuanzhonglu commented on #98
[code]

angular.js and lib/anguar/ is added by me.

[2016-04-24 11:46] amorey commented on #98
I found some tutorials that have some good suggestions for how to use Angular with ES6:
http://www.sitepoint.com/writing-angularjs-apps-using-es6/
https://nazargargol.com/scope-watch-with-angular-es6-class/

If we follow these suggestions then the interface to MUI Angular would look like this:
[code]

Alternatively you could import the entire MUI Angular library like this:
[code]

What do you thin

[2016-04-25 03:18] tianyuanzhonglu commented on #98
There's NO `muicss/lib/angular/appbar` when install using `npm install --save muicss` !
That's why I add `muicss/lib/angular.js` and `muicss/lib/angular` manually, so I suggest add `muicss/lib/angular` package in npm repository.

[2016-04-25 04:24] amorey commented on #98
@tianyuanzhonglu `mui/angular` and `mui/lib/angular` haven't been added to the NPM package yet. We need to define the interface before adding them.

[2016-04-26 03:58] amorey commented on #98
@tianyuanzhonglu Thanks for your pull request. Here's a version that incorporates your changes:
https://github.com/muicss/mui/compare/master...angular-es6

Let me know if this works for you and I can merge it into master.

[2016-04-26 07:15] tianyuanzhonglu commented on #98
@amorey Yes, it works :+1:

[2016-04-26 13:42] amorey commented on #98
@tianyuanzhonglu Thanks! The new code is live in version 0.5.5:
https://www.npmjs.com/package/muicss

Thanks again for your help. Can I add you to our contributor's list?
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-04-27 01:33] tianyuanzhonglu commented on #98
@amorey Thank you, My pleasure!

[2016-04-27 03:57] amorey commented on #98
Great! Let me know what you'd like to use for your email address/url.
https://github.com/muicss/mui/blob/master/AUTHORS.txt

[2016-04-27 03:57] #98 closed

[2016-04-27 06:43] tianyuanzhonglu commented on #98
@amorey
tianyuanzhonglu <tianyuanzhonglu@163.com>

[2016-04-27 22:56] jurgob opened #100 "Problem with Input element"
if I do this:
`<Input name={name} label={label} defaultValue={value} type={type?type:"text"} />`

sometimes I get this error:

`warning.js:45 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.`

if I remove the attribute "label" the issue is

[2016-04-28 05:13] amorey commented on #100
Thanks for creating a github issue! I was unable to reproduce the issue in JSFiddle. Can you create an example in JSFiddle or somewhere else?

[2016-04-28 09:29] jurgob commented on #100
I was trying to fix it but I had some problem building mui (and I'm not sure I have the time to do it) :P
basically I think that the problem is here: https://github.com/muicss/mui/blob/master/src/react/text-field.jsx
on line 159.
the setState is done inside a setTimeout, but what if that component is unmounted before the setTimout trigger its callback?
so I was thinking to do a change  like :

`th

[2016-04-28 14:13] amorey commented on #100
Yes, that would explain it. I fixed it and published a new version with the bugfix (0.5.6):
https://github.com/muicss/mui/commit/369bde1ef6e744a2bad199edbc685be471d0eda3

Do you have any thoughts on how to test for this condition?
https://github.com/muicss/mui/blob/master/test/react-tests/test-input.js#L116-L126

Also, would you like to be added to the contributors list? Let me know what you'd lik

[2016-04-28 14:13] #100 closed

[2016-05-03 07:46] oss92 opened #104 "Showing placeholder instead of first option in select"
I have a select box with a few options and I wanted to have a `Placeholder` shown instead of the first option.

[code]

Although I set `useDefault` to false, it still shows the first option. Is there a way to achieve that or maybe it needs a fix?

[2016-05-03 12:34] amorey commented on #104
Currently the MUI React `<Select>` component doesn't have specific support for placeholders (beyond the way you would normally implement it using html `<select>` tag). When `useDefault` is `true` the component will use the system's default dialog box when it is opened.

If you want to submit a pull request with support for a `placeholder` property that would be great!

[2016-05-03 12:54] andreale commented on #104
👍

[2016-05-06 13:27] victorkane opened #105 "EPEERINVALID error with npm install"
Error:

[code]

I'm using react 15.0.2

[2016-05-06 14:25] amorey commented on #105
Hi @victorkane - Thanks for the bug report. The peerDependency is now "react@^0.14.0 || ^15.0.0" in MUI v0.5.8:
https://www.npmjs.com/package/muicss

Let me know if you run into any issues.

[2016-05-06 14:25] #105 closed

[2016-05-12 14:01] vans163 opened #106 "When clicking a button you get error: element.getBoundingClientRect is not a function"
includes:
[code]
cordova.js is included too, the error is here:
[code]

Example of button:

[code]

[2016-05-12 15:10] vans163 commented on #106
I put React 15.0.2 and this problem goes away.  Maybe it should be noted which versions of React are compatible with mui?

[2016-05-12 15:44] amorey commented on #106
I wouldn't have expected the version of React to cause that problem but it's possible that the way they handle `refs` changed from 0.13.X to 15.0.X. For reference, here's the line in `button.jsx` that triggered the error:
https://github.com/muicss/mui/blob/master/src/react/button.jsx#L63

Currently the required React version is specified as a peer dependency in the NPM package but we can add it to

[2016-05-12 15:57] amorey commented on #106
I added a note about the required React version to the documentation site:
https://www.muicss.com/docs/v1/react/introduction

Thanks for reporting the error and debugging the issue!

[2016-05-12 15:57] #106 closed

[2016-05-15 16:27] alihamze opened #107 "Floating action buttons are displayed over form selects"
Hey,
I attached a screenshot so you can see what it looks like.
![image](https://cloud.githubusercontent.com/assets/1642068/15275388/3d53436e-1a98-11e6-8e8c-b3d0cd2ef3bd.png)

[2016-05-16 09:21] tamaghna91 commented on #93
@IAkumaI as the core library is generalized and made it simple to use for every purposes, if you want to extends the use of style and look please go and use other libraries that most suited for you on this case bootstrap is more flavored and lots of input styling variations available.

[2016-05-18 02:31] amorey commented on #107
@alihamze Sorry for the late reply - I was off the grid this weekend!

Fixed in v0.5.9:
https://www.muicss.com/

Let me know if you run into any issues.

[2016-05-18 02:31] #107 closed

[2016-05-18 12:34] alihamze commented on #107
Awesome, thanks 😀

[2016-05-21 23:51] alihamze opened #108 "Labels for Select"
Hey,
Is there any way to add a label to a select box? It could share the same style as the `mui-textfield` fixed label.

[2016-05-22 00:03] amorey commented on #108
Currently there isn't any special treatment of labels inside `<div class="mui-select">` components. How would you want the label to look and behave?

[2016-05-22 00:58] alihamze commented on #108
I believe it should look like (font, color, size) the text field label. It would only have the fixed label right above it unless you want to support floating labels that float on click and once a value has been picked.

On Sat, May 21, 2016 at 20:03 Andres Morey

<
mailto:Andres Morey <notifications@github.com>

Currently there isn't any special treatment of labels inside

<div class="mui-select">

[2016-05-22 12:16] nvma commented on #108
I generally agree with this notion, I had to rewrite select labels to match input labels because otherwise they stand out in a form, causing minor visual misalignment.

[2016-05-22 14:09] amorey commented on #108
Thanks for the feedback! I added support for select box labels to the `muicss:select-label` branch. Here's an example of an html block:

[code]

Can you try out this CSS file and let me know if it's working as expected?
https://raw.githubusercontent.com/muicss/mui/select-label/packages/cdn/css/mui.css

[2016-05-22 14:32] nvma commented on #108
I can confirm that it works perfectly for me, thank you. Appreciate your work :)

[2016-05-22 14:39] amorey commented on #108
Great! I'm away from my computer but I'll push a new version later today.

[2016-05-22 19:46] alihamze commented on #108
This works perfectly, thanks :)

[2016-05-23 03:02] amorey commented on #108
The changes are live in v0.6.0:
https://www.muicss.com

Thanks again for your help!

[2016-05-23 03:02] #108 closed

[2016-05-28 12:17] Itagiba opened #109 "How to include the NPM package in my project?"
I want to use MUI SASS for my project but the NPM and not SASS version. I have installed it via NPM but cannot find instructions on how to add and use it to the project. My project uses webpack and node so I prefer not to use bower. I added my muicss.scss to my styles folder and the following in my app.js entry point:

`import mui from 'muicss/lib/sass';`

However this does not find it. How can I

[2016-05-28 12:55] amorey commented on #109
In your code snippet it looks like you're trying to import SASS directly from JavaScript which won't work because NodeJS won't know how to handle SASS files.

Instead you can create a custom `.scss` file that imports the MUI SASS source files from the `node_modules` directory:

[code]

Then you can compile the custom `.scss` file using webpack. Have you seen any other projects doing it differently

[2016-05-28 14:43] Itagiba commented on #109
Hey Thanks for your reply, it seems to be importing but I am now getting a different error which appears to be a separate issue:

[code]

[2016-05-28 14:57] amorey commented on #109
How are you running SASS? Which version are you using? The script from my previous comment is working for me from the command line using sass-3.4.22:

[code]

[2016-05-28 15:02] Itagiba commented on #109
`"node-sass": "^3.7.0",`

[code]

Full error:

[code]

[2016-05-28 15:13] Itagiba commented on #109
Hey, I fixed it. I have re-ordered some files and now my custom.scss file looks like so:

[code]

Thanks!

[2016-05-28 15:13] #109 closed

[2016-05-28 15:25] amorey commented on #109
Great! Let me know if you run into any other issues.

[2016-06-03 21:41] scarlz opened #111 "Missing src files in npm package"
Having installed this package via npm, the webcomponents and most of the standard javascript files are missing from the src folder, with only the overlay being made available.

Is there a specific reason these have been left out? They are all present in the bower release, but I'd rather not have to add bower just as a means to make these available for bundling.

[2016-06-04 17:44] amorey commented on #111
Most users have been using the MUI NPM package for the React and Angular libraries so we didn't include the MUI CSS/JS code.

Are you trying to make a custom build or just include the distribution file in your code?

[2016-06-04 18:45] scarlz commented on #111
Ideally I would just require whichever functionality that was needed (e.g. ripple only). That not withstanding, as I'm using npm for frontend and backend packages, being able to import the mui js into my vendor bundle was what I was looking for.

[2016-06-04 19:53] amorey commented on #111
Currently the modules are only being used by the `mui.js` build target so we haven't had to think too hard about how to expose them to developers. It'd be useful to take a step back and think about how they should behave.

Do you have any thoughts on how you'd like to interact with the MUI JS modules from your code? What kind of functionality do you need from the ripples module? For reference this

[2016-06-12 09:16] expl0r3r commented on #79
It's better it doesn't. Instead we use mui to create html5 responsive apps.
That means using the html5 date input.
Sure firefox desktop is lagging right now, but all other browsers are supported now.

[2016-06-12 22:44] pazams opened #112 "ripple jitters in FF in pages with a large amount of buttons"
Thanks for this lightweight lib!

ripple jitters in FF in pages with a large amount of buttons
Bug produced with:
    Browser: FireFox 46.0.1
    Page:      https://www.muicss.com/docs/v1/css-js/buttons

[2016-06-13 14:19] vahidalvandi opened #114 "disabled not work in a link"
<a class="mui-btn mui-btn--small mui-btn--primary" href=""  disabled >ddddddddddd</a>

not work

[2016-06-14 03:35] amorey commented on #112
Which OS are you using? The ripple effect seems smooth on FF 47.0 running on OS X but I know that FF has issues with CSS animations on other systems.

[2016-06-14 04:47] amorey commented on #114
The HTML spec doesn't include support for the `disabled` attribute on `<a>` elements:
http://www.w3.org/TR/html5/disabled-elements.html

For disabled-like styling you can add `mui--is-disabled` class:
[code]

Does that help?

[2016-06-14 06:46] vahidalvandi commented on #114
very thanks fork fine.
please publish this in site

[2016-06-14 06:46] #114 closed

[2016-06-14 13:00] amorey commented on #114
Great! Do you have a preference between `.mui--is-disabled` and `.mui--disabled`?

[2016-06-14 21:36] pazams commented on #112
forgot the OS:

Browser: FireFox 46.0.1
**OS: Ubuntu 14.04**
Page: https://www.muicss.com/docs/v1/css-js/buttons

I can be more precise about "jittering" adverse effect:
The result is such that animation runs 4x slower compared to Chrome,
And perhaps because of that the it doesn't feel smooth.

[2016-06-15 07:50] vahidalvandi commented on #114
i dont now

[2016-06-15 07:52] vahidalvandi commented on #114
i don't know

[2016-06-17 09:17] devmakk opened #115 "RESPONSIVE NAVIGATION BAR"
please add a RESPONSIVE NAVIGATION BAR LIKE IN BOOTSTRAP, when viewed in mobile device the navigation bar is not converting like in bootstrap

[2016-06-20 03:55] amorey commented on #112
@pazams Thanks again for helping out with this issue. I think the problem is that the animation duration (2s) is slowing down FF. To fix the bug I modified the ripple effect so it behaves the same as MDL. Please try out the `mui:firefox-bugfix` branch and let me know if that fixes the problem for you:
https://github.com/muicss/mui/tree/firefox-bugfix

[2016-06-20 19:26] pazams commented on #112
Yes,
I pull the branch, built and test the buttons example page,
and can confirm bug is now fixed with the same environment setup.

Thanks!

[2016-06-21 03:11] amorey commented on #112
Great! Thanks for checking. I'll add the changes to the React and Angular libraries and push a new version asap.

[2016-06-23 01:59] amorey commented on #112
@pazams Thanks again for your help and apologies for the delay. The bug is fixed in v0.6.3:
https://www.muicss.com/
https://www.npmjs.com/package/muicss

Let me know if you notice any issues with the ripple effect.

[2016-06-23 01:59] #112 closed

[2016-06-23 12:55] amorey opened #116 "Announcement: New and improved ripple effect"
Hi Everyone,

I just wanted to let you know about a big improvement to the ripple effect in MUI v0.6.3.

The new ripple effect executes faster (0.6s) which feels smoother to the user and also performs better across browsers. In addition, the new ripple effect fills the entire button and fades out when the user lifts the click button or exits the button element which gives the user more visual feed

[2016-06-25 05:51] adrianha opened #117 "muicss server side rendering"
I have trouble when using muicss on server side rendering because it cant access document on server side rendering.
`ReferenceError: document is not defined
    at Object.<anonymous> (/Volumes/Data/Documents/Programming/Projects/cuciin/node_modules/muicss/lib/react/button.js:30:39)`
Any idea?

[2016-06-25 05:57] amorey commented on #117
Did that problem start recently? It looks like I introduced a dependency on `document` recently:
https://github.com/muicss/mui/blob/master/src/react/button.jsx#L17

Can you try moving that line to here and see if it solves the problem?
https://github.com/muicss/mui/blob/master/src/react/button.jsx#L81

[2016-06-25 06:31] adrianha commented on #117
hmm, i cant find it on node modules folder. do i need to build it manually from source?

[2016-06-25 06:33] amorey commented on #117
Fixed via muicss/mui@1ac3eebf6edfdfb9556bfa7c2921198c83723a39.

The new code is live in v0.6.4. Let me know if that fixes the problem!

[2016-06-25 06:40] adrianha commented on #117
Thank you very much @amorey !
It works now

[2016-06-25 06:40] #117 closed

[2016-06-25 06:40] amorey commented on #117
Excellent! Thanks for the bug report.

[2016-06-26 09:30] adrianha opened #118 "Dropdown issue on server side rendering"
There's a problem when using dropdown on server side rendering.
Maybe because
https://github.com/muicss/mui/blob/master/src/react/dropdown.jsx#L72 and https://github.com/muicss/mui/blob/master/src/react/dropdown.jsx#L76 depends on `document`.

[2016-06-26 10:54] amorey commented on #118
It's likely that the problem is due to the use of `document` in `componentWillMount()` instead of `componentDidMount()`. It should be safe to change the function. Can you try it out locally and see if that fixes the problem? The code will be in `node_modules/muicss/lib/react/dropdown.js`:
https://github.com/muicss/mui/blob/master/packages/npm/lib/react/dropdown.js#L68-L69

[2016-06-26 11:25] adrianha commented on #118
Looks like the problem has been solved by following your instruction :)
Thank you very much

[2016-06-26 11:47] amorey commented on #118
Great! Thanks for checking. I pushed the bugfix to `muicss:master` and published a new version (v.0.6.5):
https://www.muicss.com
https://www.npmjs.com/package/muicss

I looked at the use of `document` in the rest of the code and I think that should be the last of the React server-side rendering issues. Let me know if you run into any more problems.

[2016-06-26 11:47] #118 closed

[2016-06-26 11:54] adrianha commented on #118
Thank you very much @amorey !

[2016-07-05 04:34] paulomcnally opened #119 "Turbolinks"
How to implement with turbolinks?

[2016-07-05 16:29] amorey commented on #119
I don't use turbolinks myself but taking a look at the documentation, I think it should be fine to use MUI with turbolinks. Once the MUI CSS and JS files are loaded, the code will automatically detect any new MUI HTML added to the DOM dynamically.

Are you running into any problems using MUI with turbolinks?

[2016-07-05 22:30] egauci opened #120 "non-standard attributes in React"
On updating to react 15.2.0 I started seeing warnings of this type:

This seems to be caused by code of this form:

    <div { ...props }>

While not directly harmful, it floods the console with warnings, making it difficult to scan for real issues.

Perhaps filter out known props? for example:

    const { fluid, ...userProps } = props;
    <div { ...userProps }>

[2016-07-06 09:02] amorey commented on #120
Thanks for reporting this issue! We're using `{ ...props }` to pass through React supported events (e.g. onClick, onHover). Do you know of a more elegant way to this?

[2016-07-06 13:35] egauci commented on #120
I don't know about elegant, but filtering out the props consumed by the component, (in the example I used above, "fluid") should work. The ES6 spread/rest syntax is fairly concise.

[2016-07-08 15:22] c-dante opened #121 "mui angular select and `ng-change`"
It looks like the current implementation of the `mui-select` input component doesn't correctly handle the required `ng-model`.

The result is putting an `ng-change` on the select to handle input events doesn't work, and neither does attaching a watch to the model.

`https://github.com/muicss/mui/blob/master/src/angular/select.js#L25`

I'm pretty sure what's happening is `ngModel` on the scope is b

[2016-07-08 20:35] amorey commented on #120
I have a working version in the `mui:react-upgrade` branch if you'd like to try it out. I'd like to do some further testing before merging it into master:
https://github.com/muicss/mui/tree/react-upgrade

[2016-07-08 20:49] amorey commented on #121
Thanks for the bug report! Let me know if you're working on a pull request so we don't duplicate the effort.

[2016-07-08 20:55] c-dante commented on #121
Currently not, but I'll update if I do!

[2016-07-10 06:36] amorey commented on #120
@egauci Thanks again for the bug report. The non-standard property issue has been fixed in v0.6.6:
https://www.muicss.com
https://www.npmjs.com/package/muicss

Please let me know if you run into any problems with the new version.

[2016-07-10 06:36] #120 closed

[2016-07-12 21:45] rstellar opened #123 "Support for Material-UI Tables"
Is there a plan to support Material UI tables?
http://www.material-ui.com/#/components/table

[2016-07-12 22:07] amorey commented on #123
We're trying to keep the core library as small and lightweight as possible so currently there are no plans to support MD tables in the core MUI library. However, I'd like to see MUI add a plugin architecture so that we can support more fully featured components as plugins. Personally I think adding a plugin architecture to MUI would be an interesting project but I'd love for someone else to take t

[2016-07-13 14:18] burawi opened #124 "What about adding Chips"
What about adding these classes ?
[Material Design Chips](http://codepen.io/moso/pen/EjEgQY/)

[2016-07-14 06:15] ningliu opened #125 "Is there any plan to add "Toggle"?"

[2016-07-21 14:13] #79 closed

[2016-07-22 06:26] amorey commented on #124
@burawi Apologies for the late reply! I got married last week and was busy preparing for the wedding.

The Material Design Chips look very nice and useful but I think it's a better fit for a plugin than a core component. In general, we're trying to keep the core library as small and lightweight as possible so I think we should strive for a minimal set of components in MUI core and support everythi

[2016-07-22 06:29] amorey commented on #125
@ningliu Apologies for the late reply! I got married last week and was busy preparing for the wedding.

A toggle component would be very useful but I think it's a better fit for a plugin than a core component. In general, we're trying to keep the core library as small and lightweight as possible so I think we should strive for a minimal set of components in MUI core and support everything else via

[2016-07-22 06:43] amorey commented on #115
@devmakk Apologies for the late reply! I just got married and have been busy with wedding planning.

We're trying to keep the core library as small and lightweight as possible so currently there are no plans to add a more fully featured Bootstrap-like navigation bar to the core MUI library. However, I'd like to see us add a plugin architecture to MUI so we can support more fully featured component

[2016-07-26 15:32] Lattyware opened #126 "It isn't possible to use subresource integrity using cdn.muicss.com."
[Subresource integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) is a best practice for ensuring your site isn't compromised if your CDN is. Unfortunately, to use SRI, the CDN has to [enabled CORS](http://enable-cors.org/server.html) to allow clients to perform the check. Currently the CDN at cdn.muicss.com does not do this, meaning browsers can't make this chec

[2016-07-26 15:37] Lattyware commented on #126
As a note, I also [tried to get mui on cdnjs](https://github.com/cdnjs/cdnjs/issues/8334) (cloudflare's CDN which does support SRI), and it seems their automated systems need precompiled files to base off.  If cdn.muicss.com can't support SRI for whatever reason, another solution might be to enable cdnjs to host a copy.

[2016-07-26 15:43] amorey commented on #126
Thanks for creating this issue! We should be able to support SRI. Let me look into this and get back to you.

Incidentally, we have DNSSEC enabled for cdn.muicss.com so there's some protection against man-in-the-middle attacks for clients that support it:
http://dnssec-debugger.verisignlabs.com/cdn.muicss.com

[2016-07-27 12:21] amorey commented on #126
@Lattyware Thanks again for creating this issue. I enabled CORS support on cdn.muicss.com and added some security/SRI documentation to the website:
https://www.muicss.com/docs/v1/getting-started/security

Let me know if you notice any problems with our SRI support or have any other suggestions on how to improve MUI's security!

[2016-07-27 15:43] Lattyware commented on #126
Thanks for sorting it so quickly - that is great, and it's good to see it in the docs too.

[2016-07-27 15:43] #126 closed

[2016-08-02 21:40] bomholt opened #127 "scroll navigation + overlay() scroll lock problem"
Using the #sidedrawer as a scroll navigation (pressing navigation links will scroll to a content anchor tag) conflicts with the scroll lock of the overlay() method.
Closing the #sidedrawer resets the "scroll progress".

[2016-08-03 11:02] amorey commented on #127
Thanks for creating this issue! As we discussed in a separate thread, I think it should be fine to disable the scroll-position reset feature by default in `overlay()` but it will require some testing.

[2016-08-09 23:30] it11ah1 opened #128 "Problem with stealing focus back to the select box"
Problem reproduction: Go to the forms example and open the menu of a select control. Than click on the next input field below. The focus switches to the input field and later back to the select box.

In both the react- and the js-variant of mui-select you can find a statemen `selectEl.focus();` It should refocus the select element after closing the corresponding menu. But if you close the menu by

[2016-08-10 04:47] amorey commented on #128
Thanks for creating this issue! I was able to reproduce this problem as well. I should be able to fix it soon but if you can take a look at it earlier that would be very helpful.

[2016-08-10 08:18] it11ah1 commented on #128
Thank you for responding fast. I can take a look if preliminary version is finished. (My time zone is GMT+0200 ;-))

[2016-08-10 20:35] RGreenberger opened #129 "Muicss Input with floating label does not respond to programmatic changes (React)"
-Our project is written in React-Redux and uses the mui-css library.
We have an mui-css input that receives a value in one of two ways:
It can either receive a value like a regular input (when the user types into the field), or the value is passed in programmatically from a backend calculation. This input has a floating label. When the value is changed programmatically, the floating label does not

[2016-08-10 22:06] amorey commented on #129
Thanks for creating this issue! This is fixable but it's going to take some work. We just need to modify the `render()` method so it replaces `mui--is-not-empty` class with `mui--is-empty`. I created a test for the bug in the `muicss:textfield-bugfix` branch:
https://github.com/muicss/mui/blob/textfield-bugfix/test/react-tests/test-input.js#L67-L103

I can take a look at this soon but if you want

[2016-08-11 12:24] komalwt opened #130 "Add content in modal window"
Hi, I need to add a form in modal window. can u plz help how i can do this. I am new to jquery.

[2016-08-11 12:47] amorey commented on #130
To add content to the modal just add the DOM elements to the wrapper element. Here's an example using jQuery:

[code]
https://jsfiddle.net/muicss/tc2a2dyv/

[2016-08-11 16:49] RachelGreenberger commented on #129
Thanks for your quick response!
We tried to programmatically set the class name for each input to either "mui--is-not-empty" or "mui--is-empty" based on if there is a value being passed in or not. However, we are finding, that the input's class names are being overwritten, and even though we can clearly see that there is no value and we properly set the class name, the input seems to have the wron

[2016-08-11 17:02] amorey commented on #129
The `"mui--is-empty"` classes are being set in the `render()` method so it's not surprising that you're having problems overriding them from your component:
https://github.com/muicss/mui/blob/master/src/react/text-field.jsx#L78-L89

To fix the problem in MUI, it should be easy to check `this.props.value` and determine if the input box is empty here:
https://github.com/muicss/mui/blob/master/src/re

[2016-08-11 19:51] RGreenberger commented on #129
We worked on a bug fix- and successfully fixed the issue. I created a pull request with my changes.

[2016-08-12 01:24] amorey commented on #129
@RGreenberger Thank you for your pull request! The bug fix is in v0.6.9:
https://www.muicss.com
https://www.npmjs.com/package/muicss

Please re-open this issue if it's still a problem.

[2016-08-12 04:48] komalwt commented on #130
Thanks for the support. I will check this.

On Thu, Aug 11, 2016 at 6:17 PM, Andres Morey <notifications@github.com>
wrote:

[2016-08-12 10:57] it11ah1 commented on #129
The changes done in 0.6.9 lead to using the class `"mui—is-empty"` on a non empty textbox filled by `defaultValue`. And so the floating label will be moved over the text.

(A new unit test could fail if `"mui—is-empty"` occurs on a filled textbox.)

[2016-08-12 15:24] amorey commented on #129
@it11ah1 Have you run into problems with text boxes filled by `defaultValue`? There's an example on the documentation site that uses 0.6.9 and it appears to be working properly (it gets rendered with `"mui--is-not-empty"` and without `"mui--is-empty"`):
https://www.muicss.com/docs/v1/react/forms

I added a test to the `muicss:master` and that is passing as well:
https://github.com/muicss/mui/blob/

[2016-08-16 23:25] amorey commented on #129
@it11ah1 Did you run into any problems using the `<Input>` component with `defaultValue` and floating labels? I want to make sure it's working properly.

[2016-08-17 05:36] JaiKul opened #133 "Issue with overlay, modal - unable to scroll page after closing"
**Problem reproduction:** Go to the overlay example and then click on the "ACTIVATE OVERLAY" or the "ACTIVATE MODAL" using the mouse or pressing spacebar when in focus. This opens the overlay/modal. Now, press space and then click anywhere on the overlay or press escape. The overlay disappears but the page can't be scrolled.

**Problem analysis:** It seems the activate button is still in focus, wh

[2016-08-17 10:50] it11ah1 commented on #129
I changed the test to show the problem:
[code]

As a solution, the new function componentWillReceiveProps() of the Input class could contain something like
[code]
instead of
[code]

[2016-08-17 15:48] amorey commented on #129
I see, thanks for writing the test. I created a new branch called `muicss:defaultvalue-bugfix` and added the (failing) test there:
https://github.com/muicss/mui/blob/defaultvalue-bugfix/test/react-tests/test-input.js#L53-L86

Your suggestion sounds like it could work. I'll try to take a look at this asap but in the mean time if you can fix it and submit a pull request that would be great. I'll re-

[2016-08-17 15:59] amorey commented on #133
Nice! This sounds like an Interesting bug.

It seems like the code that removes the `"mui-body--scroll-lock` class is being bypassed for some reason but off the top of my head I'm not sure why:
https://github.com/muicss/mui/blob/master/src/js/lib/util.js#L203-L210

I can take a look at this soon but if you can work on this and submit a pull request that would be very much appreciated.

[2016-08-18 21:36] sriv1211 opened #134 "Select active tab in React through external process"
The react Tabs API only [exposes](https://www.muicss.com/docs/v1/react/tabs) **initialSelectedIndex** to select the initial active tab.

It would be useful to have a selectedIndex prop type if the index was externally modified. For example, the tab index corresponds to a React [state](https://facebook.github.io/react/docs/tutorial.html#reactive-state), and changing the state should therefore chang

[2016-08-19 06:53] amorey commented on #134
@sriv1211 Thanks for creating this issue. I think it would be very helpful to have a programmatic way of changing the active tab. Can you propose an interface for the feature?

[2016-08-19 06:54] amorey commented on #130
@komalwt Were you able to add content to the modal window? Let me know if you still need help.

[2016-08-19 06:54] #130 closed

[2016-08-19 22:37] sriv1211 commented on #134
The simplest modification would be to introduce a _currentSelectedIndex_ prop, so the first line of the [render method](initialSelectedIndex) goes from `const { children, initialSelectedIndex, justified, ...reactProps } = this.props;` to `const { children, initialSelectedIndex, currentSelectedIndex, justified, ...reactProps } = this.props;`

Finally the [_selectedIndex_](https://github.com/muicss/

[2016-08-22 02:27] amorey commented on #129
@it11ah1 The `defaultValue` bug is fixed in MUI 0.7.1 via mui@45eba7e2b7a73e67ecbdaba98bf5142bec633981

https://www.muicss.com/
https://www.npmjs.com/package/muicss

Let me know if you notice any other problems with the React `<Input>` and `<Textarea>` components.

[2016-08-22 02:27] #129 closed

[2016-08-22 06:45] komalwt commented on #130
Hi Andres,

Yes, I was able to add content successfully. Thanks for the help :)

Thanks, Komal

On Fri, Aug 19, 2016 at 12:24 PM, Andres Morey <notifications@github.com>
wrote:

[2016-08-22 11:02] komalwt opened #137 "Class to style checkboxes and radio buttons as per material design."
Hi there,

I need my checkboxes and radio buttons to be styled like material design. Are these styles inbuilt in mui css framework? or i need to add them separately.

![check-box-intro-v1](https://cloud.githubusercontent.com/assets/20275184/17852654/f51a48b8-6885-11e6-9190-f8244682464b.png)

[2016-08-22 13:05] amorey commented on #137
MUI does some basic styling of the default checkbox and radio button but it doesn't implement the stylized checkboxes in Google's Material Design spec. In general, we are focused on building a lightweight framework so we've tried to keep the number of components in the core library as small as possible.

[2016-08-22 15:58] sidot3291 opened #138 "enableScrollLock on Select causes page jump"
It's visible on the demo in Chrome:
https://www.muicss.com/docs/v1/react/forms

body.mui-body--scroll-lock{} sets overflow to hidden, which forces away the scrollbar.

As a dirty fix I dropped the overflow:hidden; in my css - but this leaves scrolling functional.

A better solution is described here, and they seem to have worked out the cross browser issues:
http://stackoverflow.com/a/13891717

[2016-08-22 16:44] amorey commented on #138
Great - thanks for the suggested fix! If you want to work on this that would be very helpful. Here are the enable/disable scroll methods and associated CSS:
https://github.com/muicss/mui/blob/master/src/js/lib/util.js#L174-L222
https://github.com/muicss/mui/blob/master/src/sass/mui/_helpers.scss#L340-L342

[2016-08-23 08:11] komalwt commented on #137
Okay. Thanks.

[2016-08-23 08:14] komalwt opened #139 "Equal Height Divs"
Hi there,
Is there any class created in mui css to have equal height floated divs inside a container?
Thanks, Komal

[2016-08-23 09:14] raavanan opened #140 "error while running gulp."
hey guys, i am trying the do a build, but i keep getting a error from gulp.js

`gulp.js:129
    gulpInst.start.apply(gulpInst, toRun);`

i have the latest release, and i did install all dependencies.

gulp version 3.9.1

[2016-08-23 15:20] amorey commented on #140
MUI uses gulp 4 which should have been downloaded automatically when you ran `npm install`:
https://github.com/muicss/mui/blob/master/package.json#L34

Maybe gulp 3.9.1 is in your path for `gulp`? Try using `./node_modules/.bin/gulp` to reference gulp 4 directly.

[2016-08-23 15:33] raavanan commented on #140
@amorey thanks a lot.

[2016-08-23 15:34] #140 closed

[2016-08-23 15:37] amorey commented on #140
No prob!

[2016-08-24 03:40] amorey commented on #139
There's no specific helper class to help you do that but you can do it yourself with CSS. Do they need to be floated or can they just be next to each other? Does the height need to expand to fit the content? Can you use a `<table>`?

[2016-08-24 04:19] komalwt commented on #139
It is not necessary to float them. They just need to be next to each other.  Yes, height need to expand to fit the content.
I have not tried using table but i will and let u know if it worked.

[2016-08-24 19:28] amorey commented on #127
@bomholt The latest version (0.7.3) made reset scroll position optional and turned it off for the `overlay()` method:
https://www.muicss.com

Let me know if this solves your problem.

[2016-08-25 16:45] devkhan commented on #54
What's the status of this?

[2016-08-25 16:48] amorey commented on #54
This hasn't been implemented yet but it would be a nice feature to have. Would you be interested in working on it?

The CSS is here:
https://github.com/muicss/mui/blob/master/src/sass/mui/_select.scss

And the JS is here:
https://github.com/muicss/mui/blob/master/src/js/select.js#L188-L230

[2016-08-25 16:55] devkhan commented on #54
I'm really just a novice in front-end, but I can give it a shot.

[2016-08-25 16:58] amorey commented on #54
Sure! If you can get things started even with just the CSS that would be very helpful. Don't hesitate to ask us for help (contact@muicss.com).

[2016-08-25 18:30] devkhan commented on #54
While we are at this, should we also support a `multiple` attribute?

Something like this:

![image](https://cloud.githubusercontent.com/assets/8049092/17981141/ff3ae202-6b1f-11e6-868b-022d5db50c18.png)

[2016-08-25 19:26] amorey commented on #54
Yes, it'd be great to support the `multiple` attribute! But I'm not sure what the design should look like. Personally I find the MD checkboxes to be too stylized. How about a utf-8 checkmark to the left as a default? Is there an MD design spec for the feature?

[2016-08-25 19:51] #127 closed

[2016-08-25 19:58] jeffschwartz opened #142 "Why do docs suggest npm install --save-dev muicss and not npm install --save muicss?"
If this isn't the appropriate venue to ask this then please advise. Thanks in advance.fffffffff

[2016-08-25 20:08] amorey commented on #142
That was my mistake! I think I'm just used to installing other projects with `--save-dev`. It's fixed now.

[2016-08-25 20:08] #142 closed

[2016-08-25 20:10] jeffschwartz commented on #142
@amorey thank you for fixing it and for your very quick response :) Awesome!!!

[2016-08-26 04:20] #139 closed

[2016-08-27 04:24] amorey commented on #128
I have a commit that fixes this issue (https://github.com/muicss/mui/commit/ed56f922321fc9d842d3db75c0afa932e451e13a) but I realized that the browser's built-in `<select>` menu behaves differently. When a user clicks outside the browser's built-in `<select>` menu it prevents the default click/focus behavior entirely.

What do you think about mimicking the browser's behavior? Although it can get an

[2016-08-29 11:48] devkhan opened #144 "Watch tasks in gulpfile"
There are no tasks which automatically build packages (examples/react/angular/etc.) on file changes. Adding `gulp-watch` can ease up development.

[2016-08-30 22:06] bomholt commented on #127
@amorey I changed the layout of the project I'm using MUI for but I just tested it on your "Responsive Side Menu" example layout and it seems to work fine.

Great work

[2016-09-02 08:16] #54 closed

[2016-09-06 07:32] katopz opened #146 "React CSS module import"
Hi, Thanks for awesome project. I'm really enjoy this!

BTW, I curious that if I didn't add `css` via `html` like this
[code]
but use css module `import` instead it will look like this
[code]
Am I right? Actually it's working but I'm just not sure I'm doing it right because it's seem to be undoc (or maybe I'm just skip reading like usual).

Thanks

[2016-09-06 14:21] randomcatgamer opened #148 "Float label not detecting autocomplete from chrome"
I used the float label input for username and password. When the page is loaded in chrome it is autofilled and for the password field, the float label overlaps the autofilled password.

![screen shot 2016-09-06 at 16 17 04](https://cloud.githubusercontent.com/assets/22030125/18277190/dd289326-744d-11e6-9bd9-254b45f2971e.png)

[2016-09-06 16:01] expl0r3r commented on #116
I'm still struggling to find a way to add this animation to my div's.
Could you please guide me as to where/what approach should I take to make it work?

[2016-09-06 16:17] amorey commented on #146
@katopz It's great to hear you're finding MUI useful!

I don't think using `import` in your JS file will cause your script to load the CSS into the DOM automatically. Maybe your build system is configured to do this for you when it encounters a `.css` file?

To do this in `mui-react-combined.js` file we used Browserify in our gulp file:
https://github.com/muicss/mui/blob/master/gulpfile.js#L272-L2

[2016-09-06 16:29] amorey commented on #148
That's frustrating! I suspect it might be a problem with the browser not firing the `change` event but I'll have to dig into it further to figure it out.

If you want to take a look at it here is the relevant CSS and JS code:
https://github.com/muicss/mui/blob/master/src/sass/mui/_textfield.scss#L68
https://github.com/muicss/mui/blob/master/src/js/textfield.js

Let me know what you find.

[2016-09-06 16:32] amorey commented on #116
@expl0r3r The animation is present for all MUI `<button>` elements:
https://www.muicss.com/docs/v1/css-js/buttons

Are you having problems adding MUI button elements to your project or something else?

[2016-09-06 16:42] katopz commented on #146
@amorey Seem like it did, I use awesome starter project here https://github.com/alicoding/react-webpack-babel/blob/master/src/app.jsx#L1 and it did (maybe every) thing automatically.

Thanks for your kind explanation :)

[2016-09-06 16:42] #146 closed

[2016-09-06 16:49] amorey commented on #146
No problem! Let me know if you have any more questions!

[2016-09-07 11:37] expl0r3r commented on #116
True, but what I need is to implement the same/similar effect on my div's as well.
For instance, I've built a card using mui-panel and I wish to allow navigation by clicking anywhere on the entire card.
In order to indicate the touch, I need to show the effect on touching anywhere on the card/panel, hence the need to add the effect on div's as well.

[2016-09-07 15:59] amorey commented on #116
I see. Currently, enabling the ripple effect on arbitrary divs isn't supported but it would be a useful feature to have. If you'd like to try implementing it yourself the relevant button code is here:
https://github.com/muicss/mui/blob/master/src/sass/mui/_ripple.scss
https://github.com/muicss/mui/blob/master/src/js/ripple.js

Alternatively, if you want to propose a spec for the feature someone el

[2016-09-08 12:45] expl0r3r commented on #116
At first glance, it looks trivial enough to implement, let me spend a weekend on this.
Thanks :+1:

[2016-09-08 13:19] kennynaoh opened #149 "Which files need to be hosted?"
Hello @amorey ,
I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project.
We want to host this library.
But there is a question want to ask.
I want to confirm with you about the main file need to be grab on [npm](https://www.npmjs.com/package/muicss).
I found that there are both `mui.js` and `mui.css` on [github](https://github.com/muicss/mui).
So I think the main files which is needed t

[2016-09-08 15:10] amorey commented on #149
Hi @kennynaoh! It's great to hear you want to host MUI on cdnjs.

The NPM library was meant to give users lower level access to MUI so we didn't think it made sense to include the packaged JS file. Currently the easiest way to programmatically access the CSS/JS files is via the bower package: https://github.com/muicss/mui/blob/master/bower.json#L11-L12;

How would you like to consume the MUI cdn f

[2016-09-08 15:13] amorey commented on #116
Sounds great! Let me know if you run into any issues.

[2016-09-08 15:19] amorey commented on #144
A `gulp-watch` task has been added to a branch being prepared for release: https://github.com/muicss/mui/commit/cf5fd18415d26d3d86ce42b26a5356a8f820d9cd

I'll update this thread when it's in the master.

[2016-09-08 15:20] amorey commented on #133
The bugfix for this issue has been included in a branch being prepared for release: https://github.com/muicss/mui/commit/af14abe19f68022dccbc9406112c49ce76d41c1f

I'll update this thread when the code is in the master.

[2016-09-09 07:17] #133 closed

[2016-09-09 07:17] #144 closed

[2016-09-09 07:25] amorey commented on #144
@devkhan `gulp-watch` is in master:
https://github.com/muicss/mui/blob/856f0eff7f8cfd186e8da2e8e17899140770c6bd/gulpfile.js#L78-L83

[2016-09-09 07:32] amorey commented on #133
@JaiKul The bugfix for this issue has been merged into the master and is live in v0.7.5:
https://www.muicss.com

[2016-09-10 02:51] kennynaoh commented on #149
Thanks @amorey ,
I just want to make sure which files you want to host on cdnjs.
And we prefer npm if the library has published on npm.
So if you need to host both `mui.css` and `mui.js`.
You can publish the new version on npm include these two file which is the same as github.
Thanks!

[2016-09-10 16:36] amorey commented on #149
I see. I think it'd be good to host all the files in the MUI "cdn" package on cdnjs:
https://github.com/muicss/mui/tree/master/packages/cdn

I'll add those files to the npm package in the next release (soon) and update this thread accordingly.

[2016-09-12 06:20] kennynaoh commented on #149
Thanks @amorey ,
Please let me know if you publish the new version on npm.
Thanks!

[2016-09-14 05:08] amorey commented on #148
Is the autofill getting triggered by a Chrome extension? I just tested the behavior with Chrome's built-in autofill and the labels seem to be behaving properly:
![devbox_8080_examples_css-js_forms_html](https://cloud.githubusercontent.com/assets/75881/18500671/857afc70-79fe-11e6-8430-0fbd1299d788.png)

[2016-09-14 17:21] RachelGreenberger opened #151 "Select only returns values as opposed to the entire event"
My application is built using React.js. I have an onChange handler on the Select that ideally would capture the event.target.name and event.target.value to update the state correctly in React. However, the onChange event handler only returns the value. Can you modify the library to return the entire event (to match the behavior of the onChange event handlers in all other React components)? Thank y

[2016-09-14 18:02] amorey commented on #151
Here's the relevant code:
https://github.com/muicss/mui/blob/856f0eff7f8cfd186e8da2e8e17899140770c6bd/src/react/select.jsx#L93-L100
https://github.com/muicss/mui/blob/856f0eff7f8cfd186e8da2e8e17899140770c6bd/src/react/select.jsx#L195-L203

I think the issue is that a change triggered by the Menu element doesn't trigger a lower-level change event on the React `<select>` component. Maybe we can trig

[2016-09-15 06:54] amorey commented on #151
@RachelGreenberger I have a version of MUI that returns the change event from the underlying `<select>` component:
https://github.com/muicss/mui/tree/onchange-bugfix

Have you seen other React libraries that pass through the event from the underlying component? If this isn't a common React pattern then users might get confused. Another option is to pass back the `selectedIndex` and `value` as argu

[2016-09-15 13:37] RachelGreenberger commented on #151
The common react pattern is indeed to return the entire event in order tha you can clearly update the react state, as shown in the example below.
 `handleChange(event) {
        const field = event.target.name;
        let resume = this.state.resume;
        resume[field] = event.target.value;
        return this.setState({resume: resume});
    }`
I do not have experience using other libraries, ho

[2016-09-15 16:34] RachelGreenberger commented on #151
@amorey By wrapping the select in my own custom component, I was able to return the name and value, enabling cleaner code. This way I was able to use the same handleChange function that I had been using throughout my code to update the React state. Below is the wrapper component:
[code]

[2016-09-15 16:54] amorey commented on #151
I see... that looks like a good solution given the current behavior of the MUI `<Select>` component.

I'm still debating whether it makes sense for the MUI component to return the underlying event given that it's a wrapper and its inner workings should be transparent. Before doing it here I want to think through where else it applies and if it makes sense to establish it as a pattern. I hope that

[2016-09-16 14:26] amorey commented on #149
@kennynaoh The new version is on npm (0.8.0). The cdn files are in the npm package under the `dist/` directory:
https://www.npmjs.com/package/muicss

Let me know if you need anything else!

[2016-09-17 14:15] amorey commented on #138
@sidot3291 I tried out the suggested fix (setting the position of the `<html>` element to `fixed`) and I ran into a problem where other elements with position `fixed` move out of view. This is a problem with floating toolbars which float up and disappear out of view.

Another option is to add a margin to the `<body>` to compensate for the disappearing scroll bar. One drawback is that this would ex

[2016-09-19 19:10] RachelGreenberger commented on #151
To solve the issue for now: I created a component that acts like a wrapper around the muicss select and has the following properties on it: name, value, onChange, and label. In the render method, it renders the muicss select. The component has it's own onChange function which takes in value and calls the onChange function that was passed down via props, passing to it the name (from props) and valu

[2016-09-19 20:54] thurber commented on #128
I would second the mimicking the browser's behavior, but either way would appreciate the fix :)

[2016-09-19 21:19] thurber opened #152 "React Select component shows both native and dynamic option menu on mobile safari"
![select-bug](https://cloud.githubusercontent.com/assets/5023771/18649107/8cc6c568-7e72-11e6-9acc-34d2cec806b4.png)

When using the react select component on mobile safari (or an embedded UIWebView), both the native option renderer and the js/css option renderer display. Generally this causes some confusion, but I've additionally discovered that this duality can cause an iOS app to crash when runn

[2016-09-19 21:30] amorey commented on #152
Thanks for creating a bug report - does this happen consistently? Are you seeing this behavior on the MUI documentation site?
https://www.muicss.com/docs/v1/react/forms

Independently of this bug I would recommend using the `useDefault` component property to use the browsers built-in select menu on iOS.

[2016-09-19 22:07] thurber commented on #152
Thanks for the speedy reply!

The `useDefault` prop works to avoid the issue entirely. Thanks for mentioning that; it will be a totally valid workaround for my use case.

On the MUI documentation site (visiting with an older iPad with iOS 10), the js/css menu appears as expected when tapping the select box, but the native menu appears briefly immediately after selecting an option:

![select-bug](h

[2016-09-19 22:10] amorey commented on #152
Got it! That should help to debug the issue. I'm glad to hear `useDefault` will work for your use case. Let me know if you're still seeing app crashes with an embedded WebView component.

[2016-09-20 15:07] amorey commented on #152
@thurber This should be fixed in the latest version (0.8.1). Now the code uses the browser's built-in select menu by default on touchscreen devices. Let me know if you notice any more problems.

Also - keep me updated on the app crashes in the embedded WebView component.

[2016-09-20 15:07] #152 closed

[2016-09-20 15:25] brooklynDev opened #153 "(React) Select fires onBlur on first focus"
Hey, thanks for a great library!

When including a `Select` component in a form, it seems that as soon as the Select gets focus, it fires the `onBlur` event. I've created a bin to demonstrate:

http://www.webpackbin.com/V15vu45nb

Tab out of the textbox and into the Select and notice that "blur" gets logged.

I looked through the code to try and figure it out, but there seems to be some complex fo

[2016-09-20 15:33] thurber commented on #152
Looks good, thanks for the amazing turnaround time!

I'll be able to test out the embedded WebView later today after our build process kicks in, but I suspect it will solved too.

[2016-09-20 16:47] amorey commented on #153
Great! I'm happy to hear you're finding MUI useful!

Yes, I'm very upset with Firefox. IIRC the problem is that there's a bug in Firefox that doesn't handle `preventDefault()` on `<select>` elements properly so you need to blur the element to prevent the built-in menu from opening:
https://bugzilla.mozilla.org/show_bug.cgi?id=392863

One option to deal with the `blur` event is to capture the event

[2016-09-21 06:04] kennynaoh commented on #149
@amorey
Sorry for late reply.
I will add MUI as soon as possible.
So you mean all the files under `dist/` are necessary in the latest release `v0.8.1` on [npm](https://www.npmjs.com/package/muicss), right?
Thanks!

[2016-09-21 06:12] kennynaoh commented on #149
If so, could you help me change the naming scheme under `dist/extra`?
I found that those four file are minified file.
I think it's better to use `xxx.min.js` or `xxx.min.css`.
Like the other files under `dist/`
Or you can offer src file and minify it or I can minify it.
Thanks!

[2016-09-21 06:28] amorey commented on #149
Sure, I'll make the change in the next release (very soon).

[2016-09-21 07:30] kennynaoh commented on #149
Please notice me if you change.
Thanks!

[2016-09-21 19:31] octalmage opened #154 "Disable global styles."
I'm trying to use the React components in a WordPress plugin but the global styles are conflicting with the WordPress styles. I was wondering if there was a way to disable the styles that aren't prefixed? From that I could tell there isn't. It would be nice to be able to just use the components.

Thanks!

[2016-09-21 19:58] amorey commented on #154
Hi @octalmage!

Which global CSS rules are causing the problem? Currently, MUI uses NormalizeCSS and sets a few basic global rules:
https://github.com/muicss/mui/blob/master/src/sass/mui/_reboot.scss

In general our goal is to be as non-intrusive as possible so if there's a way to scope the existing rules so they don't conflict with WordPress styles we can try to do that.

Another option is to bui

[2016-09-21 20:05] octalmage commented on #154
Thanks for the quick reply @amorey! That's definitely the issue. The WordPress background color changes, the font size changes, the line height, stuff like that. Basically the problem is the reboot.scss file.

I tried creating my own SASS file to customize those variables, but it would be great if there was a way to just remove them or unset them.  I can customize the SASS to match, but if WordPre

[2016-09-21 20:13] amorey commented on #154
Ok, let me think about the best way to do it. It would be nice to add a `$mui-include-global-rules` option to the SASS files and publish a version of the CSS without global rules to the CDN.

In the mean time, were you able to create the file you needed using SASS? You can use the `mui.scss` file as a template. You should just be able to remove the normalizer and the reboot:
https://github.com/mui

[2016-09-21 20:27] octalmage commented on #154
That's a great idea! Let me give that a try. Thanks again!

[2016-09-22 16:34] octalmage commented on #154
I found a solution using a customization file that looks like this:

[code]

But I would love a flag to disable the global styles. I tried removing normalizer and reboot but it looks like there are some dependencies. I'd be happy to work on a solution unless you wanted to work on it.

[2016-09-22 16:39] amorey commented on #154
Ok, I didn't realize there were dependencies. If you want to work on it that would be GREAT!

[2016-09-22 16:40] octalmage commented on #154
For sure! Let me see what I can do!

[2016-09-23 13:49] IAkumaI opened #155 "Spacebar will not work after Select"
I found some terrible bug with a select.

What should you do:

1. Create some modal window (for example https://github.com/yuanyan/boron) which add/remove content to dom.
2. Create mui select in this window.
3. Open modal
4. Open select (but not close it)
5. Click on the backdrop to close modal
6. Try to use spacebar in any mui inputs
7. Space will not print

Why it happened:

1. Select bind some

[2016-09-23 16:10] amorey commented on #155
Thanks for the bug report! I'm currently working on refactoring the `<select>` component code to fix another bug (https://github.com/muicss/mui/issues/153) and I think the new code will fix this issue as well. I'll keep you updated.

[2016-09-24 22:04] octalmage commented on #154
I started work on this, and I'm wondering if this is a good direction.

I added a new variable, $mui-include-global-rules:

[code]

Then I used it to enclose the global rules.

[code]

Unfortunately with SASS it looks like you can't conditionally import files, so I believe it has to be this or mixins.

What are your thoughts?

[2016-09-25 00:15] amorey commented on #154
That approach sounds good to me. Have you thought about how to handle the NormalizerCSS import?

Were you able to figure out the dependency issues with the global rules?

[2016-09-26 14:54] amorey commented on #155
@IAkumaI I just wanted to give you a quick update. I have a version that should fix this bug in the `mui:select-bugfix` branch:
https://github.com/muicss/mui/tree/select-bugfix

I should be able to publish a new version soon. If you want to try it out earlier you can run the build script and use the `mui.js` file in the `packages/cdn` directory.

[2016-09-26 14:56] amorey commented on #153
I just wanted to give you a quick update. I have a version that should fix this bug in the mui:select-bugfix branch:
https://github.com/muicss/mui/tree/select-bugfix

I should be able to publish a new version soon. If you want to try it out earlier you can run the build script and install the npm package locally (`packages/npm` directory).

[2016-09-26 15:02] amorey commented on #151
@RachelGreenberger I just wanted to give you a quick update. After thinking about it some more, I think it makes sense for MUI to return the underlying React event object for DOM-level events. I think it's more useful in case the user wants to call `preventDefault()` or `stopPropagation()` and it's also easier to keep the behavior consistent across the library. I'm working on a new version of the

[2016-09-28 05:21] cekvenich opened #156 "what .js file to use?"
I don't like .min files.

In src there is mui.js (47 k) or mui-combined.js (57 k).
What is the difference?
Which one should I use?

Cheers. Nice LIB (I just left MDL v2 - looked at all, like small .js and SASS focus - wish for mode BME)

[2016-09-28 05:49] #153 closed

[2016-09-28 05:49] #155 closed

[2016-09-28 06:04] amorey commented on #156
Hi @cekvenich! It's great to hear you're finding MUI useful.

If you want a small payload, you can use `mui.min.js` (5.8KB gzipped). If you don't want a minified file you can use `mui.js` (12KB gzipped).

The `mui-combined.js` file is a combined JS+CSS file. If you use that file then you don't need to load the CSS separately.

Here are some comments on the issues you ran into:

React is listed as

[2016-09-28 06:06] amorey commented on #155
@IAkumaI This bug should be fixed in the new release candidate (0.9.0-rc1). When you get a chance please check out the new code and let me know if you notice any issues.

[2016-09-28 06:07] amorey commented on #153
@brooklynDev This bug should be fixed in the new release candidate (0.9.0-rc1). When you get a chance please check out the new code and let me know if you notice any issues.

https://www.muicss.com
https://www.npmjs.com/package/muicss

[2016-09-28 06:10] amorey commented on #151
@RachelGreenberger The latest release candidate (0.9.0-rc1) passes back DOM-level events to the Select component `onChange` handler. When you get a chance, please check out the new code and let me know if you run into any problems.

https://www.muicss.com
https://www.npmjs.com/package/muicss

[2016-09-28 06:15] amorey commented on #149
@kennynaoh I fixed the `xxx.min.js` and `xxx.min.css` issue in the latest version (0.9.0-rc1). Let me know if you run into any problems adding MUI to cdnjs.

[2016-09-28 13:39] taojoe opened #157 "will rem be a better solution than px?"
More and more html5 web page use rem, it's mobile friendly.  will mui use rem to replace px?

[2016-09-28 14:09] amorey commented on #157
Thanks for creating this issue. Switching to rem has actually been on my mind lately since reading about developers using MUI for plugins like Wordpress (https://github.com/muicss/mui/issues/154).

I think it would be great to move to rem as soon as possible. Is this a project you could work on? I think a big part of the issues can be solved in the variables file:
https://github.com/muicss/mui/blo

[2016-09-28 14:12] amorey commented on #154
@octalmage Did the `$mui-include-global-rules` wrapper around the reboot rules work?

[2016-09-28 14:20] taojoe commented on #157
I'm new at mui. Now i just started the first project with mui, so I need more time to play with it.

Sorry I cannot make sure I can do it recently. I'll focus on this.

[2016-09-29 09:00] taojoe opened #158 "add more type to react input"
React Input  use html input as implement when type is not 'textarea'.
It would be better to add more type, like 'number', 'date'.

about input type, please see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

https://github.com/muicss/mui/blob/master/src/react/input.jsx

[2016-09-29 16:16] amorey commented on #158
Hi @taojoe - Currently, MUI doesn't include 'number' or 'date' type input widgets. To use the browser's built-in interface for those types, you can use React's `<input>` element.

What are you trying to do with MUI and the number/date input types?

[2016-09-30 01:39] taojoe commented on #158
because it's mobile friendly,  input type is with corresponding keyboard layout.

please see following screen shot, ignore the Chinese locale.

![wechatimg8](https://cloud.githubusercontent.com/assets/545656/18977938/529d80c0-86f1-11e6-96a8-da0fa092a186.jpeg)
![wechatimg9](https://cloud.githubusercontent.com/assets/545656/18977939/52c822ee-86f1-11e6-9bec-146cc415f2a7.jpeg)
![wechatimg10](https://c

[2016-09-30 03:20] cekvenich commented on #157
I think using rem is mistake. All ad units are px.
All PWA is px.

You won't have vertical rhythm.

[2016-09-30 03:33] cekvenich commented on #156
Hi, first I want to show you that I got it to work based on your examples:
http://arch.paperplane.io/post/two
Item1 and 2 are different pages, but w/ smoothstatejs and nav and bar 'work' - as example.
(minor bug in your layout is that you move the content and not the sidebar which does layout 10 times as it moves, you can view source main.js to see what I did, but I changed no _sass, and tried to

[2016-09-30 03:38] cekvenich commented on #119
I hope to post an article on smoothstate.js  (w/ MUI) and I think smooth state is better than turbo links. I plan to post my article here.

[2016-09-30 06:07] amorey commented on #158
Thanks for the screenshots - did you implement that with React's `<input>` component?

Can you explain why you need MUI to support 'number' and 'date' type if you can use React's `<input>` element?

[2016-09-30 06:10] amorey commented on #157
rem is relative to the browser's base font-size measured in pixels so it shouldn't cause problems with ad units. Can you describe a scenario where rem causes problems?

[2016-09-30 06:16] taojoe commented on #158
Yes, React input support this.  good question, mainly I need the css that MUI has,  or I need MUI Input with custom keyboard or browser support for value type like number or date or time or color.

[2016-09-30 07:35] amorey commented on #158
If I understand you correctly, it sounds like you would like a custom number/date/time/color component. Currently MUI doesn't support those components because we are trying to keep the core library as small and lightweight as possible. However, I would really like to see us add a simple plugin system so developers can share custom widgets.

[2016-09-30 07:38] amorey commented on #119
Great! I'm curious to see MUI and smoothstate.js working together.

[2016-09-30 08:26] taojoe commented on #158
That's ok.  I'll be more familiar with MUI, :)

[2016-09-30 12:17] cekvenich commented on #119
It works, I just have note written a blog.

http://arch.paperplane.io/post/two
Click item 1 and 2.
View source main.js.

Vic

[2016-09-30 12:33] cekvenich commented on #157
So first of all *all* the advanced and best practices are px.
http://developers.google.com/web - they have like 6 sites, all px as best practice.
also *ALL* the award winning web sites (ex awwwards) are .px - they mostly use GSAP and that is all px.

One reasons is vertical rhythm of  of your site:
W/  px your add is 300x250, you can set your line height to 25  and 50 and font size computed to %

[2016-09-30 12:51] cekvenich commented on #156
Oh and I listed the bugs at top. And .js is... optional. Good. Docs did not make that clear.
(Ideally there's a way to use some of the js features and comment out others like we can w/ sass)

[2016-09-30 13:09] cekvenich opened #159 "minor issue: sidebar jank"
You can see jank:
- http://muicss.com/examples/v1/example-layouts/responsive-side-menu/index.html
It does layout 12 times closing and 12 times opening (browser is 60fps)

Solution is at best practices:
- http://developers.google.com/web
and click here
- http://developers.google.com/web/fundamentals/performance/rendering
It explains why you should avoid layout on tween.

This is bad template for us

[2016-10-01 22:17] amorey commented on #157
Thanks for those references. I think the key advantage of using rem over em is that it gives the folks using the pre-packaged CSS file a way to scale up/down the MUI font-sizes and widget paddings based on the body `font-size`. It sounds like there's more to consider so I propose we keep this issue open and get more feedback from other folks before we move forward.

[2016-10-01 22:42] amorey commented on #159
Hi @cekvenich - If I understand you correctly, it sounds like you're advocating just sliding in/out the sidebar and leaving the content stationary. That could work for some developers but not everyone wants the sidebar to behave that way so there's a tradeoff in terms of which example to show.

In terms of the example template, I tested out the frame rate by opening/closing the sidebar multiple ti

[2016-10-01 22:51] amorey commented on #156
Thanks for the feedback! I think we would definitely benefit from improving the documentation and making the framework as easy to use as possible. We're definitely targeting more experienced developers so I think over time we'll see more and more users coming to MUI. We're already reaching 500K users from our CDN so we're making progress!

Let me know how the user group goes. I'd love to hear more

[2016-10-02 10:12] zgcyr opened #160 "Input的浮动标签在默认值为0时有BUG"
当默认值为0时，浮动标签不会上浮，造成与Input的值重叠。

[2016-10-02 14:44] amorey commented on #160
Thanks for the bug report. Can you explain how to reproduce the issue?

Is this what you are trying to do?
[code]

[2016-10-04 05:26] #151 closed