[2016-10-04 05:26] amorey commented on #149
@kennynaoh Just checking in - have you had a chance to add MUI to cdnjs?

[2016-10-04 07:45] kennynaoh commented on #149
@amorey
I will add it as soon as possible.
Another question want to ask.
Because we also need to add some old versions.
And I found that there are some old versions on git repo but not on npm, like `v0.0.1`~`v0.1.1`, and some `rc` versions.
What should I need to add in these old versions?
Thanks for your help!

[2016-10-04 09:26] zgcyr commented on #160
I use redux-form to init the from's default values. I found when the type of value is string("0"), it works fine, go wrong way when the type is Int(just 0). My English is poor, do I make it clear?

[2016-10-04 15:50] amorey commented on #149
I don't know if it's possible to retroactively modify old npm packages. Would it help if I sent you a zip with all of the old versions? Can you ignore the old versions and support >= 0.9.0?

[2016-10-04 15:56] amorey commented on #160
@zgcyr Thanks for the details. There are a couple of places in the code that assume a string input value:
https://github.com/muicss/mui/blob/3f2e9e4b1520c93752434aae3eeb87ef38f81dee/src/react/text-field.jsx#L30
https://github.com/muicss/mui/blob/3f2e9e4b1520c93752434aae3eeb87ef38f81dee/src/react/text-field.jsx#L89

To fix your problem now you can use a string value "0" instead of the integer 0. In

[2016-10-05 03:54] kennynaoh commented on #149
It's not necessary to modify old npm packages, just modify on old git repo.
I can grab it on git repo.
Thanks!

[2016-10-05 06:21] amorey commented on #149
The old git repo tags will have all the files but at one point the location changed from `/dist` to `/packages/cdn`. Can I send you a zip with the old versions? That would be very easy to do on my end.

[2016-10-07 01:25] #160 closed

[2016-10-07 01:39] amorey opened #161 "Announcement: Improved select component, scroll lock technique and dynamic html handling"
Hi Everyone,

I just wanted to let you know about a few recent improvements in MUI:

First, we fixed several bugs in the MUI CSS/JS, React and Angular Select components and refactored the code to make it easier to maintain in the future. The latest version of the Select components defers focus to the component's wrapper `<div>` element which allows us to render a custom menu without triggering une

[2016-10-07 01:41] amorey commented on #138
@sidot3291 The scroll lock bug is fixed in v0.9.1:
https://www.muicss.com

Let me know if you notice any issues with the new scroll lock technique.

[2016-10-07 01:41] #138 closed

[2016-10-07 01:44] amorey commented on #70
@mahmoudmy Sorry I didn't reply earlier - MUI now has RTL support via the `mui-rtl.css` file:
https://www.muicss.com

Let me know if you run into any issues implementing an RTL site with MUI.

[2016-10-07 01:44] #70 closed

[2016-10-07 01:46] #67 closed

[2016-10-08 17:42] mosid opened #162 "Cards?"
There is no implementation for the cards component which is a MUST have in Material design.
Or am i missing something?

[2016-10-12 21:53] jethrolarson opened #163 "Update normalize"
current version of normalize is 5.0

mui is using normalize 3.0.3 which is more than a year out of date.

[2016-10-13 02:09] amorey commented on #163
Thanks for the heads up. Normalize 5.0.0 has been added to the `mui:ondeck` branch and will be published in the next release (soon).

[2016-10-13 03:03] jethrolarson commented on #163
Sweet

On Wed, Oct 12, 2016, 7:09 PM Andres Morey <notifications@github.com> wrote:

[2016-10-13 14:12] amorey commented on #162
@mosid Sorry for the late reply - I got caught up in all the election/debate excitement this weekend.

You can implement cards using the MUI CSS depth helpers (e.g. `"mui--z1"`) and then arrange the inside any way you want. Here's an example I put together on JSFiddle:
![create_a_new_fiddle_-_jsfiddle](https://cloud.githubusercontent.com/assets/75881/19352295/3347ce74-9114-11e6-9859-5861ea8fa136.p

[2016-10-13 17:45] amorey commented on #149
@kennynaoh Any updates on your end? Let me know if you want a zip file with the old versions.

[2016-10-17 22:02] bplatta opened #165 "server side rendering - document not defined"
Getting a `document` not defined on server-side rendering. I see issues for this in the past, is it possible this was introduced again recently?
[code]

[2016-10-17 22:15] bplatta commented on #165
I got around this by making this sort of change where I was importing from `muicss/react`:

`import { Button } from 'muicss/react'`
to
`import Button from 'muicss/lib/react/button';`

cheers!

[2016-10-17 23:55] amorey commented on #165
Thanks for reporting this issue - I can fix it and include it in the next release (soon). I'm surprised that changing the import statement fixed the problem.

[2016-10-18 19:28] memeticallychallenged opened #166 "How to add fade in/out transition to Modal Overlay on/off?"
Hi, I would like to fade the modal in, not just have it appear immediately.
like jquery .fadeIn(1000) sort of.

I don't see anything in the code that would allow this.

[2016-10-18 19:40] amorey commented on #166
The MUI `overlay()` method passes back the overlay element which you can then append an object to using vanilla JS or jQuery.  Something like this should work:
[code]

[2016-10-18 19:43] memeticallychallenged commented on #166
Hi, thanks for the really quick response. I have been experimenting with similar options. The thing is, I want to fade in the #mui-overlay element itself as well.

[2016-10-18 19:55] memeticallychallenged commented on #166
I think I figured it out. Ill post the code when it is working.

[2016-10-18 20:11] memeticallychallenged commented on #166
to fade out the overlay itself I keep it visible by doing
    var overlayEl = mui.overlay('on');
    var $overlayEl = $(overlayEl).hide();

then continued on as normal, showing both the overlay and modal

[2016-10-18 20:50] memeticallychallenged commented on #166
It does not seem to be possible to  fade out the overlay when the #mui-overlay element is clicked; this event does not activate the overlay function but instead the overlayOff function. Is there a way I can access that function?

[2016-10-18 22:20] amorey commented on #166
You can add an `onclose` callback to the overlay method using the `options` argument:
https://www.muicss.com/docs/v1/css-js/overlay

More generally, if you want to attach a custom class to the overlay element we can modify the `options` handler to accept a `class` argument:
https://github.com/muicss/mui/blob/master/src/js/overlay.js

[2016-10-19 01:35] memeticallychallenged commented on #166
The callback function is called after the overlay is removed. It does not seem possible to use this to fade out the overlay.

Is it possible to access and modify the function that is called when the mui-overlay is clicked, namely overlayOff(), directly?

I would need to modify this function in order to fade out the modal when the overlay is clicked, because clicking the overlay does not call overl

[2016-10-19 09:32] kennynaoh commented on #149
@amorey
Sorry for my late response.
it's fine to provide zip file with the old versions.
Thanks!

[2016-10-19 16:34] amorey commented on #166
It doesn't look like it's possible to do what you're trying to do but I think MUI should support it. Would you like to work on a pull request to add this functionality? I think most of the big questions are architectural and the code itself shouldn't be that difficult to write.

In terms of how to give a developer access to `overlayEl` after before/after opening/closing here are a couple of option

[2016-10-20 17:43] khalidsalomao commented on #154
@octalmage thanks for your muicss work!

why don't you include normalize and reboot rules only to mui components?

If someone whats to use them globaly, you could also make available another file `mui-global.css'
with these normalize and reset scripts included.

This you help avoiding to break other components styles.

Suggestion for `mui-global.css`:
[code]

[2016-10-20 19:30] octalmage commented on #154
I spent a while looking into this and it appears that the muicss styles rely on the normalizer/reboot to look good. I was able to conditionally not include them, but then nothing worked/looked right. This isn't a big deal since I was able to use the already existing variables to match what WordPress has set.

Unfortunately I believe that it would require a ton of work to get everything to work cor

[2016-10-20 21:13] amorey commented on #154
@octalmage Thanks for the update!

I think @khalidsalomao's suggestion is a good one. We should be able to apply the rules from normalize and reboot to just the MUI components. I can take a look at this when I have time but if someone else wants to work on it, I'd be very happy to act as a sounding board.

[2016-10-21 05:21] amorey commented on #149
Here's a zip file with all of the tagged releases so far: [mui-cdn.zip](https://github.com/muicss/mui/files/543564/mui-cdn.zip)

[2016-10-21 06:20] amorey commented on #159
Closing this issue for now. Let me know if there's a problem with the animation frame rate and we can open it again.

[2016-10-21 06:20] #159 closed

[2016-10-21 06:51] #163 closed

[2016-10-21 14:43] amorey commented on #165
@bplatta Thanks again for reporting this issue. It should be fixed in the latest release (0.9.3). When you get a chance please let me know if server-side rendering is working for you with the latest version.

[2016-10-21 14:45] amorey commented on #156
@cekvenich Did you have your group meetup yet? When you get a chance please let us know how it went.

[2016-10-21 15:29] bplatta commented on #165
Will do @amorey , appreciate the quick response with it all. Again, got things working by avoiding the select import in `muicss/react.js` but ill pull down the new version and test it with the original imports. Will report back here in a bit so you can close this bad boy.

[2016-10-21 16:04] bplatta commented on #165
Just checked it and it looks good to go. Thanks

[2016-10-21 16:20] amorey commented on #165
Awesome! Thanks for checking!

[2016-10-21 16:20] #165 closed

[2016-10-23 16:23] ram-you opened #167 "AMP"
Hi,
I started a new AMP project, and as we do not need to reinvent the wheel, I had  reduced the original mui.css version to which I had added some lines that I had injected in the "amp-custom" with a size of 35kb (the limit imposed by google is 50kb)
As proposed here : https://github.com/ampproject/amphtml/issues/2851, I think we should build a mui.css lightweight package for the AMP community an

[2016-10-23 18:27] amorey commented on #167
@ram-you That's a great idea!! I'm not very familiar with AMP so if you want to take the lead that would be great. Would you suggest separate SASS files for AMP? That's how we set up MUI's email library and I think it's worked well:
https://github.com/muicss/mui/tree/master/src/email

[2016-10-23 19:23] ram-you commented on #167
Sorry @amorey It will be an honor for me, but I have not enough time and I have some difficulties to communicate in English.
I'm sure that some one from MUI community or the AMP one will pleased to take the lead.
I'll be pleased to test and find bugs.
Thank you.

[2016-10-23 23:08] cekvenich commented on #159
it's a ui issue. the text reflows - it's jank, it looks bad.

Also most users are on mobile. That is where to test.
And most mobile users use a web app (ex: phonegap build).

[2016-10-23 23:10] cekvenich commented on #156
I plan to have meet up and 2 classes within next few weeks. So far I just did this:
https://www.meetup.com/advanced-interaction-dev
I'll be reaching out to get any support.

[2016-10-24 05:54] kennynaoh commented on #149
Thanks!
in progress

[2016-10-29 15:58] cekvenich opened #168 "Shameless plug: Best Practice class in Silicon Valley w/ MUI"
Shameless plug: I'm teaching Best Practice Advanced Dev and Design in SF/SJ if you are in Silicon Valley. Of course MUI.

http://tinyurl.com/best-adv

(Price goes up to $185 on 10/31 - also there is a MUI discount code for people here: 'DIS' 40%)

[2016-10-30 22:12] Aedaeum opened #169 "Odd animation flashing"
I just started using MUI today on a small project to test out. I needed a CSS framework that had as little dependencies as possible and so far MUI delivers exactly what I need.

I was originally using Materialize which is dependency heavy and I converted one of my pages to use MUI. Everything worked perfectly until I clicked a button. I'm not using any of the javascript API methods in MUI. I simpl

[2016-10-30 22:59] amorey commented on #169
@Aedaeum Thanks for reporting the issue. Are you seeing the blinking on [muicss.com](https://www.muicss.com)? Which browser are you seeing the animation flash in? Also, if you can provide some example code that would be very helpful.

[2016-10-31 00:23] Aedaeum commented on #169
Oh yes, I forgot to mention that it only happens in Chrome and no, I do not see it on muicss.com, but I don't think there are any events attached to objects with keyframe animations, other than muicss ones.

[2016-10-31 00:49] amorey commented on #169
MUI uses keyframe animations to detect new HTML elements but it shouldn't get triggered after the initial DOM load. Can you share some example code so I can take a closer look?

[2016-10-31 03:20] Aedaeum commented on #169
Alrighty, I was finally able to reproduce it.

http://codepen.io/anon/pen/bwPjqj

[2016-10-31 08:11] amorey commented on #169
Thanks! The codepen example is very helpful. I'm not exactly sure what's causing the flicker but it seems to be getting triggered by the scale transform in the ripple effect:
https://github.com/muicss/mui/blob/master/src/sass/mui/_ripple.scss#L19

I was able to prevent it by adding `backface-visibility: hidden;` to `.my-table` but I think it should also be possible to prevent it by using a differe

[2016-10-31 15:07] Aedaeum commented on #169
Excellent. I should add that Materialize does not produce this issue, even though it uses the same ripple effect. It's odd that this does not affect any other browser except Chrome. Don't you wish there was some kind of standardization between browsers? Really grinds my gears that we have to code on a per-browser basis....very frustrating.

I also want to thank you for being such a prompt develope

[2016-11-01 03:44] wowzaaa opened #170 "ReactNative usage"
Hey

Any idea if i can use MUI in a ReactNative app?

thanks

[2016-11-01 06:34] amorey commented on #170
I believe some users are using MUI in ReactNative but I'm not positive. Can you try it out and let us know how your experience went?

[2016-11-01 13:27] 0tus opened #171 "Responsive Side Menu sidebar not working between 544px and 768px"
Hello,

I implemented the Responsive Side Menu example and figured that the side menu doesn't show up between 544px and 768px. I works on the muicss.com site example though but I couldn't notice any difference in the code.

Also, in this range, the header title (Brand.io in the example) isn't displayed and appears under 544px.

The only change I made was to translate the jQuery code to ES6:

[code

[2016-11-01 13:49] wowzaaa commented on #170
i've just realised ... react native has it's on CSS processor called Stylesheet ... so raw css does not work directly
so i guess the answer is no

[2016-11-01 20:35] amorey commented on #170
It'd be nice to provide Stylesheet support for ReactNative so I'm going to keep this issue open.

Have you tried a CSS/SASS to ReactNative Stylesheet converter?
https://www.npmjs.com/package/react-native-css

[2016-11-01 20:47] wowzaaa commented on #170
it didn't even crossed my mind because the past experience on doing this only made me loose time .. because every touch event needed a compromised ...
i found that http://www.material-ui.com/ has React Native in it's roadmap so i am more focused on finding a bridge to UWP

[2016-11-01 21:05] amorey commented on #170
Thanks for the update. I'll take a closer look at ReactNative Stylesheets and see how much time it will take to add support for it to MUI.

[2016-11-07 15:31] #168 closed

[2016-11-07 20:08] mcfletch opened #172 "Document Setup for Self Hosted WebPack"
Wanted to suggest that instructions on using WebPack as a deployment solution for muicss would be welcome in the Getting Started documentation. Here's a basic run-down of how to integrate the components as far as I can see it (I'm just experimenting with using muicss now).

Install your dependencies:
[code]
Modify your webpack.base.config.js to use the plugins:
[code]
Add it to your plugins list:

[2016-11-08 09:24] kakariko-village opened #173 "Change color for tabs"
Hi, i want to change the text color of tab label but it seem impossible with inline CSS:

[code]

[2016-11-08 16:31] mzohaibqc opened #174 "Unable to create react tab view with one table only"
I tried to create tab view with one tab only and it shows nothing while using simple html/css code worked. IMHO, it is a bug which needs to be fixed. I'll try to create a PR some day if @amorey agrees.
This does not work.
[code]
while this works
[code]
Kindly show your thoughts.

[2016-11-08 16:47] 0tus commented on #171
Here is the link: http://codepen.io/anon/pen/MbwLeN

I followed the example on https://www.muicss.com/docs/v1/example-layouts/responsive-side-menu. I pasted mui.css and mui.js into the respective CSS and JS panes and then appended the code of the example.

It does reproduce the bug.

I transpiled the JS code with Babel and pasted it at line 2057.

And I didn't activated the open/close mechanism of

[2016-11-08 19:31] mzohaibqc commented on #174
I found a work around but still feel it should be fixed. I looked at react code for `Tabs` which assumes children as list of `Tab` components. So it we have a single item, we need to pass a list as child like this
[code]

[2016-11-08 21:34] amorey commented on #169
@Aedaeum I just wanted to let you know that I haven't forgotten this issue. I tried looking for a shortcut to figure out the difference between MUI's and MDL's ripple effect but that didn't work. The next step is to do a deeper comparison which will take a bit more time.

[2016-11-08 21:36] amorey commented on #172
Thanks! This is very helpful. I'll keep this issue open for now and think about how to incorporate the weback instructions into the main documentation.

[2016-11-08 21:39] Aedaeum commented on #169
No worries, I've since been setting the `td` background color instead of `tr` which is an easy workaround as far as styling goes. My only concern is: what are the otherwise unknown side affects caused by this issue? Because it's an issue with animation, there could be performance hits we're not aware of yet so I'm glad you're still looking into this.

[2016-11-08 21:41] amorey commented on #174
@mzohaibqc That sounds like a bug. If you can submit a PR that would be great!

[2016-11-08 21:54] amorey commented on #173
@kakariko-village Currently the `<Tab/>` element doesn't support inline CSS. We could add support for it but then specifying the color of the bottom border would be less straightforward.  Have you tried customizing the SCSS? This should work (assuming you've installed bower):
[code]

[2016-11-08 23:55] mzohaibqc commented on #174
@amorey Fixed the bug, created a PR. Kindly review this PR 175. Here is a green build. https://travis-ci.org/muicss/mui/builds/174370457

[2016-11-09 02:14] amorey commented on #171
Thanks for the CodePen example! Comparing the CodePen to the MUI [live example](https://www.muicss.com/examples/v1/example-layouts/responsive-side-menu/index.html), I think what's missing are hidden/visible helpers for the `sm` breakpoint on the toggle button (`mui--visible-sm-inline-block`, `mui--hidden-sm`). Here's the HTML for the toggle element from the live example:
[code]
So, it looks like `

[2016-11-09 03:55] amorey commented on #174
Thanks for the PR. I merged it into the master and published a new version (0.9.4):
https://www.muicss.com
https://www.npmjs.com/package/muicss

[2016-11-09 03:55] #174 closed

[2016-11-10 14:46] johnryan opened #176 "Recommendations for FAB with drawer?"
Love this framework, but was wondering if anyone has implemented something like this: https://github.com/nobitagit/react-material-floating-button

with muicss? If so any recommendations would be much appreciated.

[2016-11-10 16:23] 0tus commented on #171
Yes it works!

In the example, the `<span class="mui--text-title mui--visible-xs-inline-block">Brand.io</span>` also lacks an `mui--visible-sm-inline-block` class I think.

Thanks again for this great project.

[2016-11-18 10:37] gudvinr commented on #116
@expl0r3r, how is it going? I was wondering about this too. It would be nice to see ripples on custom elements in mui.

[2016-11-19 08:28] amorey commented on #116
Yes, that would be great! @gudvinr - if you'd like to work on this let me know how I can help.

[2016-11-19 08:31] amorey commented on #176
@johnryan I'm so sorry of the late reply! I've been preoccupied with world affairs for the past couple of weeks.

I'm sure others would like to see the React Material floating button so if you implement it, please share your code when it's ready. I'd like to add a recipe section to the MUI website so everyone can share widgets.

[2016-11-20 18:08] cekvenich opened #177 "duplicated code"
I notice in your code you always do this - this should be inside the 'mui.css' and is instead in each of the examples? Seems like example code could be simpler if this was done already inside the mui.scss:

html,
body {
height: 100%;
}
html,
body,
input,
textarea,
button {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

I w

[2016-11-20 18:55] cekvenich opened #178 "nice layout example vs bad layout example in git"
Hi, I see nice M.ui layout/slider advertised here:
http://muicss.com
I look in git and the closes it sidedrawer.html. It looks crap. (nothing in menu on top, and it janks the body).

So I look at view source of http://muicss.com - and see
http://muicss.com/static/cache/style-596b304ea6.min.css

Do you have your site in github in a way that can be groked so I can reproduce it?

[2016-11-20 19:18] cekvenich commented on #178
Just so you can see, here is the code on top of M.ui that you use to get side bar and app bar, am I wrong? Can the code I need to write be simpler?

#header,
#sidedrawer {
    position: fixed;
    top: 0;
    z-index: 2
}

#content-wrapper {
    margin-left: 0;
    transition: margin-left .2s
}

#header {
    right: 0;
    left: 0;
    transition: left .2s
}

#sidedrawer {
    bottom: 0;
    width

[2016-11-20 19:22] wgehner commented on #178
+1. Would love to see muicss.com as example for appbar/sidenav.

[2016-11-20 20:08] cekvenich commented on #178
I took the code from your landing page. Based on your site - I made this, but I should not have to, that is why we want to use a framework. I added your appbar and your sidedrawer.

http://murder.site44.com/_sass/_muiBase.scss

[2016-11-20 21:57] amorey commented on #178
@cekvenich @wgehner There's an example on muicss.com for a responsive side menu. You can download the code and modify the appbar/sidenav:
https://www.muicss.com/docs/v1/example-layouts/responsive-side-menu

@cekvenich I genuinely appreciate your feedback but your tone sounds offensive at times which makes it harder to develop a friendly community here. If you have specific issues with MUI or anyth

[2016-11-20 22:06] amorey commented on #177
I debated whether or not to add font-smoothing to MUI CSS by default but the effect is browser-dependent and also varies based on the font color so I think it's a choice that a developer should make consciously. In general the philosophy of MUI is to be as lightweight as possible and to favor explicit over implicit.

[2016-11-20 23:22] cekvenich commented on #178
I doubt anyone else teaches MUI as best practice other than me, if they do, please let me know, happy to learn. As a way to grow the community.
(ex:  https://www.meetup.com/HackerDojo/events/235472685 )

Or has offered code, such as muisBases scss here - as a way to help the project.

[2016-11-20 23:38] cekvenich commented on #177
You have this already:
$mui-base-font-smoothing: true;

As example of a way to make code to use M.ui less.

[2016-11-21 11:42] amorey commented on #177
Thanks for pointing that out. The default value of `$mui-base-font-smoothing` is `false`:
https://github.com/muicss/mui/blob/e74083818ee6734aba29f5daf36b8d69fe9c9880/src/sass/mui/_variables.scss#L80

If you want to create a custom build of MUI CSS that contains font-smoothing then you can set the value to `true` in your SASS build file. This option is provided for convenience for developers who wa

[2016-11-21 11:54] amorey commented on #178
@cekvenich Thanks for your work building the community. I definitely want to encourage the sharing of more sophisticated components and layouts based on MUI so please let me know if you have some ideas on how to do that. I'd like to set aside some time to add a recipe section to muicss.com soon.

In terms of the code in the `examples/` directory in the git repository, it's meant to test out MUI du

[2016-11-21 12:02] amorey commented on #178
@wgehner The muicss.com website is based on the Responsive Side Menu example but it's a dynamic site written in Python/Flask so the source code wouldn't be very helpful. Which part of the site would you like to implement? Maybe I can help by providing some suggestions for how to accomplish your goals.

[2016-11-23 09:40] amorey commented on #171
Great! Let me know if you run into any other issues.

[2016-11-23 09:40] #171 closed

[2016-11-24 15:50] amorey commented on #169
@Aedaeum I have a version that uses MDL's technique in the `mui:ripple-bugfix-test` branch:
https://github.com/muicss/mui/tree/ripple-bugfix-test

Here's a version of your codepen that uses the new version:
http://codepen.io/muicss/pen/zozzMW

It seems to be working but I wanted to get another set of eyes on it before merging it into master. Let me know if you notice any problems with the new impl

[2016-11-24 17:03] Aedaeum commented on #169
Looks good.
Keep up the great work amorey 😄

[2016-11-26 13:36] amorey commented on #149
@kennynaoh Thank for adding MUI to CDNJS! I'm going to close this issue now. Let me know if you need anything else.

[2016-11-26 13:36] #149 closed

[2016-11-26 14:17] #169 closed

[2016-11-26 22:46] Dohxis commented on #134
I just found a workaround for this. You can change `currentSelectedIndex` by setting a ref like this on your `<Tabs />` component:
[code]
and then update its state by
[code]

[2016-11-29 18:05] edslocomb opened #179 "Establish requirements for a plugin architecture"
It is clear from the [growing collection](https://github.com/muicss/mui/issues?q=is%3Aissue+is%3Aopen+label%3Awontfix) of 'wontfix' issues that substantial aspects of Material Design will not be included in MUI's core.

This is fine!

In fact, a lightweight core is a key feature of the MUI framework.

But at this point, there are a lot of people interested in extending the framework.  And many of

[2016-11-30 13:22] mimani opened #180 "Is support of date there"
Does mui supports date?

I tried following it works, but it has few errors, it does not work with float labels and you can type in year field till 6 digits, or is there some better way to do it?

      <div class="mui-textfield mui-textfield">
        <input type="date">
        <label>Date of Purchase</label>
      </div>

[2016-11-30 13:23] mimani opened #181 "Can I use just form components from mui?"

[2016-11-30 13:55] amorey commented on #180
Hi @mimani - MUI doesn't support `<input type="date">`. Currently MUI doesn't support those components because we're trying to keep the core library as small and lightweight as possible. However, I would really like to see us add a simple plugin system so developers can share custom widgets.

[2016-11-30 13:56] amorey commented on #181
Of course! Here's the documentation for MUI form components:
https://www.muicss.com/docs/v1/css-js/forms

[2016-11-30 16:55] mimani commented on #181
@amorey

I mean to just want to add CSS relevant to form input elements, I don't want to include everything, as it conflicts with the other framework I am using.

Sorry for confusion.

[2016-11-30 16:55] rifkyfu32 opened #182 "Carousel"
How to make carousel?

[2016-11-30 20:01] amorey commented on #181
To only include the CSS for the form input elements you can create a custom SASS file that only includes the components you need. I think this should work:
[code]
https://www.muicss.com/docs/v1/css-js/customization

However, I suspect the conflict is with the Normalizer CSS or with the reboot css. What's the other framework you're using and where are the conflicts?

[2016-11-30 20:04] amorey commented on #182
Can you provide an example of the carousel you're trying to implement?

[2016-11-30 22:34] rifkyfu32 commented on #182
like this http://materializecss.com/carousel.html

[2016-12-01 09:41] amorey commented on #179
@edslocomb Thank you for your post and for starting the conversation about a plugin system for MUI! I'd really like to see us support more advanced components via a plugin system and it's great to see some support from the community for this idea.

I can share some thoughts on the features I'd like to see in a plugin system but first let me say that I've been hesitant to work on it myself because

[2016-12-01 20:20] amorey commented on #180
Closing this issue in favor of this previous one: https://github.com/muicss/mui/issues/158

[2016-12-01 20:20] #180 closed

[2016-12-07 09:41] gkimpson opened #185 "How to use mui-select with AngularJS with dynamic data"
I am able to perfectly utilise the mui-dropdown using the code below, however when I try a similar approach with the mui-select option it doesn't generate correctly.

`       <mui-dropdown color="primary" label="Select a team" >
            <mui-dropdown-item ng-repeat="team in teams" link="#/link1">{{ team.name }}</mui-dropdown-item>
        </mui-dropdown>`

I am trying to generate the select wi

[2016-12-07 13:48] amorey commented on #185
Hi @gkimpson - The MUI Select component doesn't support a list of options as an argument yet. Do you have time to take a stab at adding that functionality? The code is here:
https://github.com/muicss/mui/blob/master/src/angular/select.js

[2016-12-07 15:05] gkimpson commented on #185
Ok I see - I'm still quite new with Angular so any advice would be welcomed in adding this functionality but i'll have a go, although I am sure many others would need this so I am glad this ticket has been given a high priority.

[2016-12-07 15:34] amorey commented on #185
Glad to hear you want to have a go at it - it might require some advanced Angular knowledge but it should be an interesting problem to work on.

In terms of setting up the development environment, these instructions should work:
https://github.com/muicss/mui#development-quickstart

There are some examples in the `examples/angular/select.html` file so you can add an options list example there:
http

[2016-12-09 07:29] kennynaoh commented on #149
@amorey My pleasure!

[2016-12-10 20:19] amorey commented on #185
@gkimpson I was just thinking about this problem. Have you tried using `ng-repeat` to add `<mui-option>` elements dynamically?

[2016-12-11 13:21] cescoferraro opened #186 "Typescript Declaration"
We are migrating from .jsx to .tsx in a current project that uses MUI.

`Could not find a declaration file for module 'muicss/lib/react/button'. '/go/src/github.com/cescoferraro/spotify/node_modules/muicss/lib/react/button.js' implicitly has an 'any' type.`

Is mui typescript ready? Are there any type? I could not find it

[code]

[2016-12-11 15:28] amorey commented on #186
The React source code uses JSX+ES6 but it gets compiled to vanilla JS for the npm package (`muicss/lib/react`) using babel in the build step:
https://github.com/muicss/mui/blob/master/gulpfile.js#L463-L474

Do you have any recommendations for how to make MUI work with typescript?

[2016-12-11 15:38] cescoferraro commented on #186
We need to write definitions files ourselves because the library itself is not written in typescript. I think that if you use typescript to write mui, tsc can generate the definitions automatically. @amorey

[2016-12-11 16:06] amorey commented on #186
I see, it looks like it should be possible to use `gulp-typescript` to output typescript/jsx/es6/es5 compatible code so all we need to do is convert `src/react/*` to tsx and modify the build file accordingly. Let me know if this is something you'd be interested in working on.

[2016-12-11 16:38] cescoferraro commented on #186
So you consider a full rewrite in typescript? This seems like the best aproach to keep the definitions in sync with the actual source code since you can auto generate the definitions from typescript files

Alternatively, we can hand write the definitions.

Either way you need to publish the type definitions to npm by creating a PR into https://github.com/DefinitelyTyped/DefinitelyTyped
More info
h

[2016-12-11 18:06] edslocomb commented on #179
I think there are some tradeoffs you'll need to consider in that list.

The fundamental one is the tradeoff between "I'd like to have people developing plugins *soon*" vs. "I want people to develop plugins, but first I want a wish-list-feature-complete plugin system implemented"

More particularly:

### Asynchronicity

This is not a realistic goal on the CSS side of things.  Consider the fact that

[2016-12-12 18:02] marvin52 commented on #148
I'm having a similar issue, when i create a form from a handlebars template and append it to my exist html the float labels doesnt work well.

This is the empty input with the label in the correct place
![1](https://cloud.githubusercontent.com/assets/2734828/21110312/dd3d7372-c083-11e6-8158-9ed3251961e8.png)

While i fill the input, the label goes to the top as i expect
![2](https://cloud.githubus

[2016-12-12 18:08] amorey commented on #148
@marvin52 Thanks for the update. Can you create a jsfiddle/codepen that reproduces the problem?

[2016-12-12 19:38] marvin52 commented on #148
@amorey i try reproduce this issue but it works fine at the latest version. I update to the latest version and it is fixed.

[2016-12-12 19:42] altiumx commented on #148
Woot! That's great to hear. Those are the best kinds of bugs. Let me know if you run into any other problems.

[2016-12-12 19:43] amorey commented on #148
Woot! That's great to hear. Those are the best kinds of bugs. Let me know if you run into any other problems.

[2016-12-12 20:05] marvin52 commented on #148
The issue about autocomplete is solved too, i'm testing here and its working fine. I think this issue can be closed

![screenshot-localhost 9393 2016-12-12 18-03-16](https://cloud.githubusercontent.com/assets/2734828/21114773/60684d74-c095-11e6-9ef6-63fa4ff60ac6.png)

[2016-12-12 22:07] amorey commented on #148
👍 Nice! Thanks for the update. Closing this issue!

[2016-12-15 03:28] eGust opened #189 "Tabs not support mixed static and dynamic children"
[code]
Raised error: MUI: Expecting MUITab React Element

But both below works:
[code]

[2016-12-15 17:04] amorey commented on #189
Thanks for reporting this issue. It looks like the Tabs component is getting confused because the list of children looks like `[<Tab/>, [<Tab />, <Tab />, <Tab />]]` rather than a flat list. I can take a look at this soon but if you want to take a look sooner this is the problematic part of the code:
https://github.com/muicss/mui/blob/tabs-bugfix/src/react/tabs.jsx#L95

I added a unit test to the

[2016-12-20 05:51] amorey commented on #189
Thanks again for reporting this issue. It's fixed in version 0.9.7:
https://www.muicss.com
https://www.npmjs.com/package/muicss

[2016-12-20 05:51] #189 closed

[2016-12-20 08:08] quadriq opened #190 "Checkbox Style"
Hi there, I see no style for checkboxes, radiobuttons, is it ok so?

https://www.muicss.com/docs/v1/css-js/forms

[2016-12-20 11:16] gkimpson commented on #185
@amorey Hi sorry for the delay, I tried ng-repeat initially but soon realised that wouldn't work and i'd need to make some amendments to MUI Select component in the core mui javascript file.

[2016-12-20 16:06] thurber commented on #134
@sriv1211 and @Dohxis: the selected tab within a Tabs component can now be controlled using the `selectedIndex` prop, as of v0.9.7!

[2016-12-20 23:05] #134 closed

[2016-12-21 00:07] amorey commented on #185
Interesting - what happened when you tried using ng-repeat? Do you have a branch with your changes? Let me know and I can merge it into the master.

[2016-12-21 00:13] amorey commented on #190
Hi @quadriq - MUI does some basic styling of the default checkbox and radio button but it doesn't implement the stylized checkboxes in Google's Material Design spec. In general, we are focused on building a lightweight framework so we've tried to keep the number of components in the core library as small as possible. In order to support other components we would like to add a plugin system to MUI:

[2016-12-21 08:34] quadriq commented on #190
ok, thanks for reply.
It just little bit confusing, I think.. following the link for "forms" you see all this input elements with styles and then check-boxes without.. it looks like there is something broken.

[2016-12-30 12:14] htmlgames opened #191 "Button click doesn't work on v0.9.7 (ok on v0.9.3)"
Hi, I changed my refs for the css and js to 0.9.7 and the buttons css is ok, plus the button press effect works. However it doesn't take me to the link using this version:

example link code

`<button class="mui-btn mui-btn--raised"><a href="https://htmlgames.github.io/htmlgames/differences/UAT/itchy/index.html">phosphorus++</a></button>`

Anything I need to add between the 2 versions ?

p.s. I'm

[2016-12-30 13:03] amorey commented on #191
I think the problem is that there's an `<a>` inside a `<button>`. Try this instead:
[code]

[2016-12-30 13:23] #137 closed

[2016-12-30 19:51] htmlgames commented on #191
Thank you! that worked.

[2016-12-31 04:57] amorey commented on #191
Great! Let me know if you run into any other problems.

[2016-12-31 04:57] #191 closed

[2017-01-01 06:02] uxitten commented on #190
i added to mui-rtl.css please see

http://codepen.io/itten/pen/NdKvPG

[2017-01-01 06:06] uxitten opened #192 "style and riple for mui-checkbox and mui-radio"
i added style and riple

[`http://codepen.io/itten/pen/NdKvPG`](http://codepen.io/itten/pen/NdKvPG)

please add to project thank you

[2017-01-01 06:22] amorey commented on #190
Cool! Thanks for sharing your solution! It looks great.

[2017-01-01 08:49] uxitten opened #193 "material slider"
i create material slider please use add this project

browser chrome, firefox, ie, opera and safari

[https://codepen.io/itten/pen/OWLjoX](https://codepen.io/itten/pen/OWLjoX)

[2017-01-02 08:58] amorey commented on #192
Thanks! I added a "recipe" label to this issue (and the others) so people can find it more easily. When we add a plugin system to MUI it will be easier to share this with other developers.

[2017-01-02 09:06] uxitten commented on #192
very good, thank you.

[2017-01-10 16:56] chani1on1 opened #194 "enableScrollLock on Select causes page jump"
@amorey I've taken a look at https://github.com/muicss/mui/issues/138 and have seen that there has been an update to the enableScrollLock class on select, now it is added to the html tag in place of the body tag. However, even with this new implementation I'm still having my page jump. https://gyazo.com/3d65ca21e23dbbdc09f629a25d25ffb0

[2017-01-10 17:00] amorey commented on #194
Thanks for creating creating this issue. I think we can revert to the old scroll method with added support for visible scroll bars. I'll take a look at this ASAP.

[2017-01-10 17:00] chani1on1 commented on #194
Thank you.

[2017-01-11 07:41] amorey commented on #194
@chani1on1 I implemented the bugfix in the `mui:scrolllock-bugfix-tmp` branch:
https://github.com/muicss/mui/tree/scrolllock-bugfix-tmp

Can you try out the new JS file to make sure the problem is fixed?
https://cdn.rawgit.com/muicss/mui/scrolllock-bugfix-tmp/packages/cdn/js/mui.js

[2017-01-11 14:25] chani1on1 commented on #194
@amorey thank you for your help so far. I tried implementing the new js file, but noticed that the scroll-lock class was still being added to the html tag. I then noticed that there is a mui-react-combined.js file, that still has the code jqLite.addClass(htmlEl, scrollLockCls); I am working in a React.js project, are there any further updates that would need to take place to make this work?

[2017-01-11 14:27] amorey commented on #194
Are you using the file in the new branch? Try this:
https://cdn.rawgit.com/muicss/mui/scrolllock-bugfix-tmp/packages/cdn/extra/mui-react-combined.js

[2017-01-12 03:57] amorey opened #195 "Proposal: Minimizing use of global CSS rules"
Hi Everyone,

Recently, a few users have asked us about using MUI without global CSS properties so that it can be used simultaneously with other CSS libraries. To address this issue I've been working on a version of MUI that has a minimal set of global CSS rules and another that has none:

1. `mui.css`
    * Includes Normalize.css
    * Sets font styles for `<html>`, `<body>` tags
    * Sets style

[2017-01-12 12:54] amorey commented on #194
@chani1on1 Have you had a chance to try out the new code? Let me know if it's working for you so I can merge into master and publish a new version.

[2017-01-12 13:09] khalidsalomao commented on #195
Hi @amorey,

IMO having a MUI version without global style rules makes MUI more flexible and may increase its usage.

Since `mui.css` has some global css rules I think it is ok to have a normalize.css!

Regards!

[2017-01-12 14:00] chani1on1 commented on #194
@amorey I updated all the muicss js files to the ones on the scrollock-bugfix-tmp branch, however the scroll-lock class is still getting added to my html tag, and not the body. I'm not sure why this is happening. For now I have just commented out the enableScrollLock on select.js, you can now scroll when the select is open, but the page is not jumping.

[2017-01-12 14:14] amorey commented on #194
Can you give me more details on which files you're using and how you're adding them to your project? The `enableScrollLock()` method in the `scrolllock-bugfix-tmp` branch should add the `mui-scroll-lock` class to the `<body>` element:
https://github.com/muicss/mui/blob/scrolllock-bugfix-tmp/src/js/lib/util.js#L192

[2017-01-12 18:25] chani1on1 commented on #194
@amorey I had another developer help me out, and we were able to build an npm package from the new github branch, and test it out. It works! Thank you for your patience. (sorry I wasn't clear about installing the files through the npm package)

[2017-01-12 18:25] chani1on1 commented on #194
@amorey please let me know when this code is merged into the new version, so I can update. ty

[2017-01-12 22:07] amorey commented on #194
Great! Thanks for checking. I merged the code into the master and published a new version (0.9.8):
https://www.muicss.com/
https://www.npmjs.com/package/muicss

Let me know if you notice any issues with the new version. Also, when you get a chance please let me know if you have any thoughts on this proposal: https://github.com/muicss/mui/issues/195.

[2017-01-12 22:07] #194 closed

[2017-01-17 14:31] amorey commented on #195
Thanks for the feedback! After thinking about it some more, I think we can make more limited changes to `mui.css` global CSS that won't affect users as much. I published a new version (v0.9.9-rc1) with the following changes:

* Minimized global CSS footprint (mui.css)
  * Includes Normalize.css
  * Sets font styles for <html>, <body> tags
  * Sets style for naked <a> tags
  * Sets style for <p>, <

[2017-02-03 01:00] puppetmaster3 opened #196 "AMP !important"
Hi, I 'ported' mui css to AMP:
1. Using Sass, I just comment out imports I don't use to get less than <50K size.
2. Remove !important  - manual IDE search and replace.

Feature request: deprecate use of !important

[2017-02-03 12:21] amorey commented on #196
Thanks for creating this issue. Where would you like `!important` removed from? We only use it in the "helper" CSS definitions which it seems appropriate for:
https://github.com/muicss/mui/blob/master/src/sass/mui/_helpers.scss

What issue are you having with the file size? These are file sizes for the latest version:

| name | file size | gzipped |
| ----- | -------- | -------- |
| mui.css | 54K

[2017-02-03 19:02] puppetmaster3 commented on #196
Hi, I don't want import to be removed and I have no issue w/ sizes.
I want AMP. AMP has test tool that checks, ex:
https://search.google.com/search-console/amp?id=TSbjGXZJjrpuyNl3CxtFCw
You can test any page to see if it is AMP.

I said how I fixed the size to get AMP to work w/ Material UI, it was not an issue. And that I had to remove in IDE important to get AMP to work. Any use of import for an

[2017-02-04 09:34] amorey commented on #196
I see - so if I understand you correctly you are asking if MUI has an option available for AMP? Currently we don't but this is something that I am very interested in adding to MUI. If this is something you would like to work on, let me know.

[2017-02-04 12:55] puppetmaster3 commented on #196
I'd be happy to work on that (or anything else that help MUI advance)

[2017-02-13 06:34] carlqt opened #197 "Hide a tab on condition"
I'm having trouble with hiding a specific tab on condition. If I try to hide it, I'm always greeted with this message `message: Cannot read property 'type' of undefined`. Basically, the function returns `null` when the condition is not met, so that's how I try to hide the tab. Any suggestion?

[2017-02-13 18:03] amorey commented on #197
Hi @carlqt - sorry you're running into problems using the Tabs component. Can you share your code in a codepen or jsfiddle so I can take a closer look?

[2017-02-14 13:52] carlqt commented on #197
Here's the snippet of my code https://gist.github.com/carlqt/14431ea12eeb6e8e9df1385ec62cebc8

Here's the screenshot of the error
![image](https://cloud.githubusercontent.com/assets/5034394/22931501/cb91951e-f2ff-11e6-886c-638b934a428d.png)

[2017-02-15 14:06] amorey commented on #197
Does the error appear when `flag` is true, false or both? Looking at the code, I think the issue might be that when `flag` is false, `newInstanceTab()` returns an undefined value. Have you tried using a list of `<Tab/>` elements:

[code]

[2017-02-16 11:24] AndrykV opened #198 "Don't work events on the buttons with used CSS/JS"
In version 0.9.9 d`not work events on buttons style "class: mui-btn mui-btn--flat;" and similar.

Previously, in version 0.8.1 the events on the buttons worked.

[2017-02-16 11:50] AndrykV commented on #198
I use ```mui.min.css``` and ```mui.min.js```

[2017-02-16 11:52] AndrykV commented on #198
Sorry. Don't hit the wrong button before

[2017-02-16 13:11] amorey commented on #198
Hi @AndrykV - thanks for creating this issue. Can you provide more details on the problem? Which events aren't working? If you can provide an example, we should be able to debug the issue quickly.

[2017-02-17 08:56] AndrykV commented on #198
Okay,
In version 0.9.9
in the object inspector browser, the tag button will be transformed after page load
``
<button class="mui-btn mui-btn--flat">Load<span class="mui-btn__ripple-container">
	<span class="mui-ripple mui--is-animating" style="width: 279.012px; height: 279.012px; top: -125px; left: -70px;">
	</span>
	</span>
</button>
``
where the inner span element overrides the parent element of

[2017-02-17 12:55] amorey commented on #198
Thanks for the details. In v0.9.5 we changed the way we handle button ripples to fix an animation flash issue. The current technique (adding a `<span>` element on load) is how Google's MDL does it.

Is this causing an issue for you?

[2017-02-20 10:17] AndrykV commented on #198
Yes this is a issue for me.
I generate the DOM on the server side. Then, I hand it to the client. After conversion on the client I see instead of the usual button structure of nested span. I don't understand why span boundaries are set <span class="mui-mui ripple--is-animating" style="width: 279.012 px; height: 279.012 px; top: -125px; left: -70px;"> </span>. Which strongly overlap the boundaries

[2017-02-21 14:08] amorey commented on #198
I see - it sounds like the problem is that the child `<span>` gets added server-side which causes problems when the code loads client-side. This should be easy to fix by modifying the code so that the `<span>` element only gets added in response to a click event. If you'd like to work on this, let me know. Otherwise, I'll try to get to this soon.

[2017-02-22 04:05] amorey commented on #198
@AndrykV - I have a version which should fix the problem you're seeing. Can you try out this JS file:
https://raw.githubusercontent.com/muicss/mui/ripple-bugfix-test/packages/cdn/js/mui.js

Also - I should have mentioned this before but the MUI CSS/JS library is not designed for server-side rendering. I would recommend using the MUI React library instead since React has better support for isomorph

[2017-02-23 16:23] amorey commented on #198
@AndrykV I just wanted to check in. Have you had a chance to try out the JS file with the bugfix?

[2017-02-24 02:10] carlqt commented on #197
Sorry that I took so long to respond. Yes, the issue happens when flag is `false`. Haven't tried creating a list of tab elements though. My current solutions is just having 2 `<Tabs>` element, 1 with all `<Tab>`s and the other is where I exclude the `<Tab>` I wanted to hide.

[2017-02-24 14:55] amorey commented on #197
Ok, thanks for checking. Switching to a list of tabs should fix the problem.

[2017-02-24 17:33] AndrykV commented on #198
@amorey Hi! Yes! Thank you. With your proposed JS file with the bugfix worked

[2017-02-24 17:40] amorey commented on #198
Great! I'll merge into master and publish a new version soon.

[2017-03-12 23:03] amorey commented on #198
This should have been fixed as of v0.9.9. Let me know if your'e still running into problems.

[2017-03-12 23:03] #198 closed

[2017-03-12 23:06] amorey commented on #195
Thanks for your feedback! The `noglobals` CSS file has been live since v0.9.9 so I'm closing this issue.

[2017-03-12 23:06] #195 closed

[2017-03-12 23:07] #197 closed

[2017-03-12 23:07] amorey commented on #197
@carlqt I'm closing this issue. Let me know if you're still having problems with the `<Tabs>` component.

[2017-03-13 15:20] octalmage commented on #195
Awesome! Can't wait to test it out!

[2017-03-14 14:09] nxp2910 commented on #148
I'm using version 0.9.10 and still seeing this issue. Password field label doesn't float to the top until I click anywhere on the document. Do I have to do anything else other than using the latest version?

[2017-03-14 21:09] amorey commented on #148
Which browser are you seeing the problem in and with which MUI library (e.g. CSS/JS, React, Angular)?

[2017-03-15 00:30] nxp2910 commented on #148
I directly reference these 2 js and css libraries.

//cdn.muicss.com/mui-0.9.10/css/mui.min.css
//cdn.muicss.com/mui-0.9.10/js/mui.min.js

And the browser is Chrome Version 56.0.2924.87

[2017-03-15 08:54] amorey commented on #148
Thanks for the details. How are you loading the JS file? In the `<head>` or elsewhere? Is it being loaded asynchronously?

[2017-03-15 13:30] nxp2910 commented on #148
I load them in the <head> I load the following in the exact order as below. They are not loaded asynchronously.

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="custompages/css/jquery-ui-1.8.13.custom.css" type="text/css" />
    <link href="//cdn.muicss.com/mui-0.9.10/css/mui.min.css" rel="stylesheet" type="text/css" />

[2017-03-15 13:40] amorey commented on #148
Ok, thanks! I'll look into it. It hasn't been reported recently but maybe something changed recently.

[2017-03-15 13:56] nxp2910 commented on #148
Thank you! I'll also tweak things and see if I can figure this out.

[2017-03-15 14:06] amorey commented on #148
Yes! Please do. The last time I looked at this I found it hard to reproduce the problem so if you have a good setup it you might be able to figure it out more quickly.

Here's the place in the JS code where the input and change handlers are added:
https://github.com/muicss/mui/blob/master/src/js/textfield.js#L50-L57

And here's the place in the SASS code which should float the label when the input

[2017-03-16 18:12] khuongduybui opened #201 "Changelog?"
Every once in a while I would check back muicss.com and saw a new version presented as "latest release".
How do I get to a changelog, even if that means a list of Issues resolved, or even a list of Commits?

[2017-03-16 18:15] khuongduybui commented on #192
@uxitten Can you do us all a favor and specify the CSS rules you added?
I can't just copy everything from your "CSS" because that would replace some of the other changes I already made.

[2017-03-16 18:29] khuongduybui commented on #190
Please remove recipe label here as duplicated of #192.

[2017-03-16 18:30] khuongduybui commented on #192
Looks like your styling only works for RTL.

[2017-03-16 20:42] khuongduybui opened #202 "CSS Animation event handler trick doesn't work in Edge"
The trick that makes use of CSS Animation event handler to register JavaScript event handlers for dynamically inserted DOM elements is brilliant.
Unfortunately it doesn't work in Edge. 😞
Can we re-introduce the older mechanism as fallback for Edge?

[2017-03-16 22:08] amorey commented on #201
The changelog is in the source code:
https://github.com/muicss/mui/blob/master/CHANGELOG.md

And you can use Github to view resolved issues and the list of commits:
https://github.com/muicss/mui/issues?utf8=✓&q=is%3Aissue%20is%3Aclosed
https://github.com/muicss/mui/commits/master

[2017-03-16 22:12] #190 closed

[2017-03-16 22:13] khuongduybui commented on #201
Thanks.

[2017-03-16 22:13] #201 closed

[2017-03-16 23:10] amorey commented on #202
Hi @khuongduybui - thanks for creating this issue. Are you running into problems with a particular component or with all of them? I just tested button ripples, the dropdown component and tabs with Win10 Edge 38.14393.0.0 and it seems to be working fine. Which OS are you using?

[2017-03-16 23:35] khuongduybui commented on #202
I'm running latest build Windows Insider (15060), but it's the same situation in the official Anniversary Update build.

The particular component I'm having issues with is the dropdown component.

If you go to, says, https://www.muicss.com/docs/v1/css-js/dropdowns in Edge, it will work. That's because the page is static.

If you try it in a dynamic environment, such as angular.js (or Aurelia.io in

[2017-03-17 01:44] amorey commented on #202
Thanks for the details! I fixed the issue and pushed a new version of MUI (0.9.11):
https://www.muicss.com

Let me know if you're still having problems with dynamically loaded components.

[2017-03-17 06:54] khuongduybui commented on #202
Yeah that seems to have fixed it. Thanks for very quick turnaround.

[2017-03-17 06:54] #202 closed

[2017-03-17 13:44] nxp2910 opened #203 "Dropdown doesn't respond to keyboard"
If you open a dropdown that uses the mui-select class and try to type in an option, it won't select the typed option. In raw HTML5 <select> and in Angular Material, when you type, it selects the typed option. Do you plan to implement this for MUI?
I think this can be a major UX enhancement, because it's easy to use the keyboard if the dropdown has too many options.

Thanks.

[2017-03-18 14:38] amorey commented on #203
Done! The latest version of MUI (v0.9.12) allows you to jump to an option item by typing into the keyboard. There's also a 300 msec delay between keypresses to handle longer strings:
https://www.muicss.com/
https://www.npmjs.com/package/muicss

Thanks for the suggestion!

[2017-03-20 16:53] nxp2910 commented on #203
Thanks for the quick release,
I'd like to suggest 2 more improvements to this enhancement.

1. When you navigate through inputs using the [tab] key and the dropdown is on focus, users should be able to type in and select the values. Right now when the dropdown is in focus but not opened, it doesn't respond to keyboard input other than arrow keys.

2. When typing, the selected value should scroll i

[2017-03-20 17:54] ShiveshKumarPandey opened #204 "Floating label issue"
I use Jquery to fill input fields. When empty inputs are filled using JQuery, MUI doesn't update the class of the input field to "mui--is-not-empty", so the label doesn't float to the top and it overlaps with the text in the input. The label wouldn't float to the top until I type something in the autofilled input fields.

![image](https://cloud.githubusercontent.com/assets/26552184/24113815/5ce407

[2017-03-21 10:22] amorey commented on #203
Yes, that would be helpful. Is this something you'd be interested in taking a look at? The CSS/JS code is here:
https://github.com/muicss/mui/blob/master/src/js/select.js#L148-L171

[2017-03-21 10:26] amorey commented on #204
Thanks for reporting this issue. Can you explain how you are updating the input fields with jQuery? Can you can share a CodePen or JSFiddle that demonstrates the problem?

[2017-03-21 13:55] ShiveshKumarPandey commented on #204
I use a 3rd party library to autofill addresses. Here is a JSFiddle to replicate the issue. It looks a bit messy because I didn't add the all the css here.

https://jsfiddle.net/uso73zwj/

Thanks.

[2017-03-21 15:07] nxp2910 commented on #203
Yes, I'd like to take a look at this. Only thing is, it would take me a few
more days before I get to it as I'm swamped with work.

On Tue, Mar 21, 2017 at 6:22 AM, Andres Morey <notifications@github.com>
wrote:

--
*Nethkelum Perera*
Programmer Analyst
www.GoECart.com
(585) 545 0898

http://www.linkedin.com/in/nethkelum

[2017-03-21 15:33] amorey commented on #204
Which browser are you using? I tested the JSFiddle in IE 11, IE Edge and the latest versions of Chrome, Firefox, Opera and Safari on macOS and this is what I saw:
<img width="368" alt="edit_fiddle_-_jsfiddle" src="https://cloud.githubusercontent.com/assets/75881/24155409/68e2bff6-0e5c-11e7-83c5-2f59a31e2a2b.png">

[2017-03-21 15:56] ShiveshKumarPandey commented on #204
Sorry for not being clear enough. On Street1, start typing a valid address, and you will see address suggestions. Then pick one of the suggestions.

[2017-03-21 16:02] amorey commented on #204
Is the address being autocompleted by the browser or by the code? When I click on or focus the first "Street" field the label floats. I'm using Chrome.

[2017-03-21 16:22] ShiveshKumarPandey commented on #204
It's being completed by the code. First street works fine because you fill that field. For example, type "10 Middle St" in the first street input and give it 2 seconds to see the suggestions. After you pick one, code will fill out the rest of the address fields (State, Zip) After they are filled, the label hasn't floated and they are overlapped.
After it's autofilled, you can focus/click on the Zi

[2017-03-21 21:38] amorey commented on #204
Thanks for the details. The issue is that changing the value of `<input>` elements programmatically doesn't trigger a `change` event automatically. If you add `.trigger('change')` that should fix the problem.

[2017-03-22 00:24] focomoso opened #205 "Theming"
Hi,

Just trying out mui and I'm wondering if there's a way to change the color theme "globally".

[2017-03-22 00:27] focomoso commented on #205
Aaaaand, I figured it out. (by editing the $mui-colors in a scss file)

[2017-03-22 06:41] amorey commented on #205
Yep! That's correct. Currently, the best way to customize MUI CSS is by creating your own CSS file using SASS:
https://www.muicss.com/docs/v1/css-js/customization

[2017-03-22 14:22] ShiveshKumarPandey commented on #204
I added a trigger but doesn't seem to be working. Am I missing something?
https://jsfiddle.net/uso73zwj/1/

[2017-03-23 09:29] amorey commented on #204
It turns out that jQuery's event system is implemented as a layer on top of the DOM event system so `.trigger('change')` doesn't actually trigger the underlying DOM event:
https://learn.jquery.com/events/triggering-event-handlers/

This should work:
[code]

[2017-03-23 09:42] #205 closed

[2017-03-24 17:59] jamespero commented on #186
Hello, are there any updates on this?

[2017-03-25 18:58] amorey commented on #186
I started looking into this a few weeks ago but then I got side tracked. Is there an easy way to enable typescript integration?

@jamespero - is this something you'd be interested in working on?

[2017-03-26 01:44] cescoferraro commented on #186
@amorey  I think we just need to replace gulp-babel with gulp-typescript and rename the files from .js to .ts.

[2017-03-29 21:04] nxp2910 commented on #203
@amorey  I think updating the onWrapperKeyDown function as below fixes the problem.

[code]

[2017-03-30 04:19] amorey commented on #203
@nxp2910 Removing the `if` clause at L111 will cause the menu to open on any keydown event.

If we want to mimic the default browser behavior I think we need to modify the behavior of the `onWrapperKeyPress` method:
https://github.com/muicss/mui/blob/master/src/js/select.js#L148-L171

[2017-04-01 11:33] amorey commented on #204
@ShiveshKumarPandey - I just wanted to check in. Are you still having problems with the floating labels?

[2017-04-01 11:35] amorey commented on #148
@nxp2910 I found a way to detect an autofill event in Chrome and added a hander for it which should fix the problem. Can you try this JS file and let me know if it fixes the problem:
https://raw.githubusercontent.com/muicss/mui/autofill-bugfix-test/packages/cdn/js/mui.js

[2017-04-03 13:36] nxp2910 commented on #148
@amorey  This seemed to have fixed the issue. To answer your question, I am referring to Chrome's built-in autofill feature using saved passwords in the browser.

[2017-04-03 14:27] nxp2910 commented on #204
I have a similar issue, but the above fix didn't work. I am using an opensource library to mask phone number inputs. After typing the number and click somewhere else, the label comes back to the middle and overlap the input value.

https://jsfiddle.net/xry7qL2n/

Anybody has any suggestions on how to fix this?

[2017-04-03 15:08] amorey commented on #204
@nxp2910 The problem is that the plugin dispatches a jQuery `change` event but not the underlying DOM event. This should fix the problem:
[code]

There's probably a better way to detect and ignore `change` events to avoid a recursive loop but as a quick fix, the above code should work.

[2017-04-03 15:12] amorey commented on #148
Great! I've merged the bugfix into the master and pushed a new version (v0.9.13):
https://www.muicss.com
https://www.npmjs.com/package/muicss

[2017-04-23 19:58] Download commented on #196
Interesting discussion.

Maybe relevant: I have inquired on the material components issue list about their approach to AMP compatibility. It is not on their radar. To be AMP compatible, components must be able to function without Javascript, as AMP does not allow custom JS on the page.

They basically don't support AMP nor CSS-only approach at the moment, although some stuff will work.

### [Compa

[2017-04-23 20:00] Download commented on #196
@puppetmaster3  Do you have a repo with your fork? Would love to have a look at it.

[2017-04-23 22:11] puppetmaster3 commented on #196
Here is the fork that does AMP:
- https://github.com/topseed/topseed-demos/tree/master/wsrv/webroot/_sass
used a few places, one is here:
- https://www.rfidthings.com/en/home/index.html

Notice that the sidebar is CSS only, and AMP compliant therefore.

[2017-04-24 17:50] Download commented on #196
@puppetmaster3 Thanks, this should be interesting to study.

[2017-04-26 17:04] alleversun opened #206 "Feature request: add "required" option to React form elements"
Would it be possible to add a "required" prop to React form elements? I especially am hoping for you to add that functionality to the <Select> element for the app I'm building.

I've gone ahead dug into the source code and found that if you add `required: this.props.required` to /lib/react/select.js line 235 it will do exactly that.

Thanks

[2017-04-26 17:18] amorey commented on #206
Sure! I can make that change soon but if you want it done more quickly you can submit a pull request and I'll merge it into the master. Also, if you have time to add a unit test that would be great:
https://github.com/muicss/mui/blob/master/test/react-tests/test-select.js

[2017-04-26 18:01] alleversun commented on #206
Thanks for replying so soon. I'm a bit new to how github works, I've never done a pull request before but I think I did it correctly (hopefully). Let me know if it worked. I'm also not too familiar with Mocha as yet, so I didn't add the unit test as I didn't want to muck things up for you. Let me know if there's anything I can do to help though.

[2017-04-26 20:15] amorey commented on #206
Thanks for submitting a pull request! I merged your code into the upstream repository and added tests for the `required` property here:
https://github.com/muicss/mui/blob/master/test/react-tests/test-select.js#L166-L210

The code is now available in v0.9.16:
https://www.muicss.com
https://www.npmjs.com/package/muicss

Let me know if you have any other suggestions!

[2017-04-26 20:15] #206 closed

[2017-04-28 13:18] seniorcandy opened #208 "How to set Example Layouts : Responsive Side Menu hide the sidebar as default"
In that [example](https://www.muicss.com/docs/v1/example-layouts/responsive-side-menu), the sidebar is show as default, how to set hide as default.

[2017-04-28 14:11] amorey commented on #208
To hide the sidebar by default you can comment out the media query:
https://github.com/muicss/mui/blob/master/examples/layouts/sidedrawer.html#L74
https://github.com/muicss/mui/blob/master/examples/layouts/sidedrawer.html#L106

then remove this element:
https://github.com/muicss/mui/blob/master/examples/layouts/sidedrawer.html#L266

then remove the `mui--visible-xs-inline-block mui--visible-sm-inl

[2017-04-29 06:07] seniorcandy commented on #208
thanks! It works.
It hides the sidebar as default now, but does not show as it did before, and the hiding animation is gone.

by the way, I recommend that it would be better to make an easy way to let the user to choose it show or hide as default

[2017-04-29 12:11] amorey commented on #208
What do you mean by "does not show as it did before"? Can you describe the behavior you're looking for in more detail? The behavior with the modifications should be:
* Side drawer is hidden by default at all screen widths
* Clicking on the hamburger icon in the header will dim the main content and the side drawer will slide in from the left
* Clicking anywhere inside the overlay will close the men

[2017-04-29 13:23] seniorcandy commented on #208
sorry for that I did not describe it clear.
I mean when I click the icon to let the sidebar show, it does not push the main content to the right side as it did before, and when I want it to hide, instead of slide and hide to the left like before, it just disappear immediately

[2017-04-29 13:48] amorey commented on #208
The sliding is controlled by the `hide-sidedrawer` class on the `<body>` tag:
https://github.com/muicss/mui/blob/master/examples/layouts/sidedrawer.html#L91-L105

One way to modify the code to behave like you want it to is to add the `hide-sidedrawer` class to the `<body>` tag on load and modify the behavior of the hamburger icon to toggle the class:
https://github.com/muicss/mui/blob/master/examp

[2017-05-05 12:05] moduleitor opened #209 "Select multiple width outgroups don't update properly"
I'm using your awesome Materializecss in one project... but when I put a Select multiple, width outgroups, and change the options state dynamically, the select only change the state of the first options check.

Here is the code:

-----------------------------------------------------------------------
**HTML+BLADE(Laravel 5.3) ($optgroups is array)**
`{{ Form::select('subhashtags_select',
	$optgrou

[2017-05-05 12:42] amorey commented on #209
I think you've come to the wrong place. Materialize CSS is a different project.

[2017-05-05 12:42] #209 closed

[2017-05-05 14:05] moduleitor commented on #209
oooops! sorry, you have a point... XD

[2017-05-14 05:40] christopherblaser opened #210 "js Select question"
When creating a select, what's the best way of setting what the initially selected option? I tried putting "selected" on the option, and then setting the class='mui--is-selected'. Both didn't work.

[2017-05-14 05:52] christopherblaser commented on #210
Nvm, set the option to selected ... not sure what happened here.

[2017-05-14 05:52] #210 closed

[2017-05-14 13:36] amorey commented on #210
Happy to hear you figured it out! Let me know if you have any more questions.

[2017-05-17 02:31] sabreurqq opened #211 "react select onChange broken"
hi
I am looking for google meterial design with react.
when I tried select, I found it's onchange event not working
could you help me to look what happened?

[jsfiddle](https://jsfiddle.net/uf7o25k9/10/)

and I very sorry for poor English.
thanks

[2017-05-17 11:53] amorey commented on #211
If you're using React you can use the MUI React library:
https://www.muicss.com/docs/v1/react/forms

[code]

[2017-06-04 07:32] jpbourgeon commented on #211
Hi
I have the same problem here.
I manage my state with mobx.
@amorey, your solution works for me on Chrome but `ev.target.value` is empty on IE10+
Any idea what's happening and how to fix this ?

[2017-06-04 08:26] jpbourgeon commented on #211
I had a similar problem: select inputs worked fine on Chrome but were broken on IE10+
I forgot the `value` attribute in my options. Chrome populates it with the label by default but other browsers like IE may not.

It might help someone...

[2017-06-04 13:33] amorey commented on #211
@jpbourgeon Thanks for your post! Just to confirm - the `onChange` handler is working fine but IE10+ requires that each `<Option/>` element have a `value` attribute?

[2017-06-06 04:36] khuongduybui opened #212 "mui-select no longer shows custom rendering in Chrome 59"
Even the examples on https://www.muicss.com/docs/v1/css-js/forms no longer work.
When clicking on the select element, the custom `div.mui-select__menu` element no longer shows up.

[2017-06-06 05:07] amorey commented on #212
Which browser are you using? I just tested the MUI Select component in Safari, Chrome, Firefox, Opera, IE10, IE11 and IE Edge and it was working fine. Please describe the problem in more detail so we can debug it more easily.

<img width="975" alt="mui_-_material_design_forms" src="https://cloud.githubusercontent.com/assets/75881/26814558/8245fa7e-4a54-11e7-8e8a-447f786a1c63.png">

[2017-06-06 05:50] amorey commented on #212
@khuongduybui Sorry, I just realized that you reported the browser version in the title of your post. Thanks for letting us know about the problem. I just tested MUI in Chrome 59 and it seems to be working (see below). Can you describe your problem in more detail? Is the `mui.js` file loading?

<img width="972" alt="mui_-_material_design_forms" src="https://cloud.githubusercontent.com/assets/75881

[2017-06-06 08:15] jpbourgeon commented on #211
Yes that's it.

[2017-06-06 14:36] khuongduybui commented on #212
That's weird. I'm using Chrome 59 64-bit with no extensions. There are no errors in Console log and all file were loaded OK in Network tab.

![muicss 212](https://cloud.githubusercontent.com/assets/831343/26834708/1010c510-4aa4-11e7-8b16-08999d06821b.png)

[2017-06-06 15:45] amorey commented on #212
I just tested the MUI Select component on Chrome 59 64-bit running on Ubuntu Desktop 16.04 and it worked fine (see below). Can you send me the details of the `mui.js` download from the Network tab?

<img width="1264" alt="ubuntu_desktop_16_04__running_" src="https://user-images.githubusercontent.com/75881/26837964-cddaa446-4aac-11e7-8cbe-dc947aae4482.png">

<img width="1264" alt="ubuntu_desktop_16

[2017-06-06 15:50] amorey commented on #211
Ok, I can look into making sure the component behaves the same in IE10+.

[2017-06-06 16:12] khuongduybui commented on #212
Here you go. I disabled caching so it loaded the freshest version.

![capture](https://user-images.githubusercontent.com/831343/26839547-5b0ee12a-4ab1-11e7-87e0-53cf7f42c822.PNG)

[2017-06-06 16:22] amorey commented on #212
That's strange... which version of Ubuntu are you using?

Have you had issues with MUI in Chrome while developing locally? Based on the behavior in the screenshot it looks like the JS code is not attaching event handlers to the Select component. Can you click on the "View in new tab »" link to see if the behavior is the same in a more isolated environment?

[2017-06-06 16:42] khuongduybui commented on #212
I'm on Windows 10.
I had the same issue when using it on a page of its own.

[2017-06-06 17:04] amorey commented on #212
Ok, thanks for checking. I'm not sure what's going on - I've tested it on Chrome 59 64-bit running on Windows 10 and I can't reproduce the problem (see below).

When you click on the "SUBMIT" button in the single-page example do you see a ripple effect? Can you test the example on a different machine running Windows 10?

<img width="1181" alt="msedge_-_win10_preview__running_" src="https://user-im

[2017-06-06 20:10] khuongduybui commented on #212
Weird. I don't see the issue on another Windows 10 machine.

[2017-06-06 21:35] amorey commented on #212
Wow, that's frustrating. Let me know if you find a way to reproduce it. If you get a chance, you can run MUI in a development environment to debug it at a lower level:
https://github.com/muicss/mui#development-quickstart

[2017-06-07 09:55] jpbourgeon commented on #211
Thank you.
However I guess that this is not a top priority since there is a valid markup working across browsers.

[2017-06-27 09:23] jace commented on #196
used a few places, one is here:

@puppetmaster3 This repo is gone. Is there another repo?

[2017-07-10 20:13] crhaag opened #214 "Trouble with boilerplate"
Hello,

I am relatively new to development and am trying to use MUI for a project that I am working on.  I am using the boiler plate html and just trying to layout a simple grid.  However, when the page renders, everything just populates on the left side of the screen.  My html is below.  Any thoughts/advice would be appreciated.

Thanks,

Chris

`<!doctype html>
<html>
  <head>
    <meta charset=

[2017-07-10 20:35] crhaag commented on #214
Solved:  your boilerplate does not have "https:" before the script and link

[2017-07-10 20:35] #214 closed

[2017-07-10 21:54] amorey commented on #214
@crhaag Happy to hear you were able to solve the problem. Which browser are you using for development? When you start a url with "//" most browsers prepend the protocol of the current page (http/https).

[2017-07-10 22:30] crhaag commented on #214
Thanks for the followup.  I'm using chrome.

On Mon, Jul 10, 2017 at 3:54 PM, Andres Morey <notifications@github.com>
wrote:

--
Chris Haag
313-451-4224
crhaag@gmail.com
Skype - crhaag
Nicaragua - 505-8857-8439

[2017-07-11 02:13] amorey commented on #214
Do you see any issues with the MUI website on your browser? The website uses the same CDN urls.

[2017-07-11 03:17] crhaag commented on #214
It seems a bit strange that text would be allowed to creep outside of its
container on a site about design....

[image: Inline image 1]

On Mon, Jul 10, 2017 at 8:13 PM, Andres Morey <notifications@github.com>
wrote:

--
Chris Haag
313-451-4224
crhaag@gmail.com
Skype - crhaag
Nicaragua - 505-8857-8439

[2017-07-13 17:19] AurelianSpodarec commented on #190
Is it possible to update the documentation? https://www.muicss.com/docs/v1/css-js/forms

The checkboxes are missing - this would make everything much easier for those doing the work.

[2017-07-13 17:31] amorey commented on #190
Sure, I can't do it at the moment but I'll work on it later tonight.

[2017-07-14 04:40] amorey commented on #190
I added `checked` examples to the checkbox and radio components. Let me know if that helps or if you're looking for something else.
https://www.muicss.com/docs/v1/css-js/forms

[2017-07-14 14:08] AurelianSpodarec commented on #190
Hmm, sorry If I'm confusing but what I meant that the styles are missing, if you look at the original: http://materializecss.com/forms.html like from the above, that guy re-created it https://codepen.io/itten/pen/NdKvPG

I had in mind that. Though I see that there is mui-css, materialise css, I guess these two might be different but oh well.

I guess we'll have to do this our self each time if thi

[2017-07-14 14:48] amorey commented on #190
Yes, styled checkboxes and radio buttons are outside the scope of the core library. Our goal is to provide developers with a minimal set of components that look nice but don't lock you into a particular design pattern. Our philosophy is that you should be able to use MUI to build sites that look and feel very different from each other:
https://www.muicss.com/docs/v1/example-layouts/blog
https://ww

[2017-07-14 17:01] AurelianSpodarec commented on #190
Okay! I totally understand now.

And I know what you mean by plugin system now, I get it now, great explanation!

Sure! If I manage to do them, I'll update this post here.

Thanks for the response and clarity :)

[2017-07-16 05:02] Dedoig opened #215 "Can Muicss be used without muicss/javascript?"
I'd like to use only the CSS files from MuiCSS, and none of its JS files (want to use Elm). Is that feasible? What would I be missing that I would then need to write in Elm? Are the basic widget highlights / animations etc. done with CSS or javascript?

Thanks

[2017-07-16 05:50] amorey commented on #215
Sure, you can use the CSS file on its own. The MUI JS, React and Angular libraries all use the same CSS file so I don't think you'll need to modify it to use Elm.

Most of the animations are handled in CSS using helper classes (e.g. [`.mui--is-animating`](https://github.com/muicss/mui/blob/master/src/sass/mui/_ripple.scss#L26-L32)) but some are handled in Javascript.

To build an Elm library I wou

[2017-07-17 01:06] iamareebjamal opened #216 "Checkbox and RadioButtons not rendered correctly"
These form elements are not rendering correctly. They simply look like plain HTML elements. Tried locally and on site.

![screenshot_20170717_063357](https://user-images.githubusercontent.com/3874064/28252890-23441a7a-6aba-11e7-895d-6e349a4723bd.png)

[2017-07-17 04:46] amorey commented on #216
Hi @iamareebjamal - the MUI core library only applies basic styling to checkboxes and radio buttons (e.g. padding). For some background you can read this discussion we had recently on Github: https://github.com/muicss/mui/issues/190

If you'd like to implement checkboxes and radio buttons with more MD-style animations you can use this recipe as a guide: https://github.com/muicss/mui/issues/192

[2017-07-17 08:30] #216 closed

[2017-07-17 16:23] tmonte opened #217 "Ripple effect in React"
The ripple effect in the CSS/JS version looks really nice, but it is different than the react version. If you click on the React buttons, it doesn't propagate all the way to the end of the button, whereas the CSS/JS version does. Is there a reason for it?
Thanks!

[2017-07-17 17:20] amorey commented on #217
No, it should be the same. Thanks for pointing out the issue! It might have to do with this line here which removes the ripple element when the touch event ends:
https://github.com/muicss/mui/blob/master/src/react/button.jsx#L84-L90

I can look into this later but if you have time to look at it sooner that would be great.

[2017-07-18 06:10] tmonte commented on #217
Hi @amorey I looked for a bit at that code and I don't think it is a problem with the onTouchEnd. I think the animation stops at onMouseUp, so we loose the ripple effect there. Since I'm not very familiar with the rest of the code, here's a pretty barebones solution I came up with that may help: https://codesandbox.io/s/VmA4k8pRM
Thanks

[2017-07-19 12:47] amorey commented on #217
Thanks! Your solution gave me some ideas on how to fix the issue. I should have a bugfix rolled out soon.

[2017-07-21 10:04] amorey commented on #217
@tmonte Thanks again for creating this Github issue and for helping to debug it. I think you're right that the root cause was `onMouseUp()` stopping the animation by removing the `mui--is-animating` class in the `render()` method. To fix this issue I moved the ripple class logic to the `componentDidUpdate()` method:
https://github.com/muicss/mui/blob/master/src/react/button.jsx#L128-L150

The new

[2017-07-21 10:04] #217 closed

[2017-07-24 12:44] ClementParis016 opened #218 "Angular: <mui-input> validation doesn't work correctly with type="email""
It looks like there is a validation issue with email inputs using the `<mui-input>` directive.

As you can see in this [JSBin](http://jsbin.com/cirupi/1/edit?html,js,output), if you type an invalid email, the wrapper `div.mui-textfield` still has the `.ng-valid` class while the inner input has `.ng-invalid` and `.ng-invalid-email` classes, plus the wrapper has the `.ng-empty` class while the inner

[2017-07-24 13:42] ClementParis016 opened #219 "Angular: <mui-input> clears value every 2 chars typed when using minlength attr"
When setting a `minlength` or `ng-minlength` attribute on a `<mui-input>` directive, the input value is cleared every 2 characters typed in the input, which makes filling the input impossible.

One possible reason to this would be that the `onChange` method is called with an empty value as parameter since the input is invalid. I guess that's what Angular does by itself: if the `$viewValue` is not

[2017-07-24 14:16] ClementParis016 opened #220 "Angular: <mui-input> doesn't pass name attr to the inner input"
The `<mui-input>` directive should pass down the html `name` attribute to the inner input, as it is used by Angular own form validations.

If a form has a name attribute of "myForm" and an input inside of it has a name of "myInput", then you can access the form and the input from the template and the controller to check for validity, errors, etc... For example:
`$scope.myForm.$valid`,
`$scope.myFo

[2017-07-24 21:46] octalmage commented on #195
@amorey We finally got around to refactoring to use noglobals and it works great! Thank you so much.

[2017-07-24 21:49] amorey commented on #195
Awesome! Glad to hear it!

[2017-07-25 07:27] 8sam opened #221 "Unable to use the customised theme."

[2017-07-25 07:47] amorey commented on #221
@8sam Sorry you're having problems creating a custom theme. Can you share your SASS code and the commands you used to compile it?

[2017-07-25 07:49] amorey commented on #218
@ClementParis016 Thanks for reporting this issue. I'm traveling this week so it might take me some time to look at this but if you can submit a pull request that would be a big help.

[2017-07-25 08:23] 8sam commented on #221
This is my themes.scss
------------------------------------------
import "bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$mui-primary-color:       mui-color('purple', '500');
$mui-primary-color-dark:  mui-color('purple', '700');
$mui-primary-color-light: mui-color('purple', '100');

$mui-accent-color:        mui-color('green', 'A200');
$mui-accent-color-dark:   mui-color('g

[2017-07-25 09:02] amorey commented on #221
Are you serving the SCSS file or the CSS file that you created? Can you share the CSS file?

[2017-07-25 09:06] 8sam commented on #221
This is the styles.css
----------------------------------
.form{
    width: 40%;
    margin-left: 25%;
    padding: 2%;
    background-color: whitesmoke;
}

.mui-appbar{
    width: 44%;
    margin-top: 5%;
    margin-bottom: -1%;
    margin-left: 25%;
}

#form-header{
    margin-left: 18%;
    padding-top: 2%;
}

a:link {
    color: inherit;
    text-decoration: none;
}*/

/* visited link */
a:vis

[2017-07-25 11:15] amorey commented on #221
What issue are you seeing when you try to use the CSS file? I am away from my computer but I can take a closer look later.

[2017-07-25 12:35] 8sam commented on #221
When I am using my normal app.component.css its working fine, where I am specifically typing out the hex codes. But when I am trying to use the mui variables its not working. Could you tell me the procedure I should follow?

[2017-07-26 06:12] amorey commented on #221
Which version of SASS are you using? I just compiled your file with SASS 3.5.1 and it worked:

[code]

<img width="801" alt="devbox_8080_examples_css-js_buttons_html" src="https://user-images.githubusercontent.com/75881/28606985-0f08d0c4-71da-11e7-8fe5-b9a6cc9498a1.png">

See custom.scss and custom.css:
https://www.dropbox.com/s/4zpq2twvkeb223p/custom.scss?dl=0
https://www.dropbox.com/s/j1nywz5joy

[2017-07-26 19:06] 8sam commented on #221
I am using 3.5.1 (Bleeding edge)

[2017-07-27 00:31] amorey commented on #221
Does the output of the `sass` command look like the `custom.css` file I linked to above?

[2017-07-31 05:11] amorey commented on #218
@ClementParis016 FYI - I started working on this and the other Angular Input component issues in the `angular-bugfixes` branch:
https://github.com/muicss/mui/blob/angular-bugfixes/src/angular/input.js#L148-L151

I'm traveling at the moment so it will take some more time to fix these issues and add unit tests.

[2017-07-31 06:46] ClementParis016 commented on #218
Great, I couldn't start it on my side put I will take a look at what you
did if I can help

Le 31 juil. 2017 07:11, "Andres Morey" <notifications@github.com> a écrit :

[2017-07-31 12:37] ClementParis016 commented on #218
@amorey Have you looked at how [angular-material](https://github.com/angular/material) handles input & other form elements?

I think there are good patterns to borrow from there: https://github.com/angular/material/blob/v1.1.4/src/components/input/input.js#L305-L427

Aside from the fact they wrote an input directive that completes with the core Angular one, the way they handle validation is simple

[2017-08-01 05:45] amorey commented on #218
I wasn't aware of that option but taking advantage of Angular's internal input validations sounds like a good idea. I'll take a closer look too but if you want to explore that option please do!

[2017-08-01 12:16] ClementParis016 commented on #218
Yes, I've forked your branch and started to move things around, I'll let you know ;)

[2017-08-01 12:33] amorey commented on #218
Great! Let me know!

[2017-08-01 17:16] ClementParis016 commented on #218
I've explored one way which is using Angular ng-class to sync the input container classes with the inner input state: https://github.com/ClementParis016/mui/commit/adfe075d172f685b172e4ff7668d3548d1fb0e8b (did only is-empty and is-touched for now)

[2017-08-01 19:18] olegkleiman opened #222 "Missing checked DropdownItem"
I'm trying to use MUICSS for React and I really miss DropdownItem with un/checked options. Is any workaround here?

[2017-08-01 22:37] amorey commented on #222
Hi Oleg - can you describe the feature you're looking for in more detail? I don't remember the DropdownItem having un/checked options.

[2017-08-02 15:42] patrick-fls opened #223 "[mui-select] is not rendering properly in an [mui-form--inline]"
![image](https://user-images.githubusercontent.com/4227977/28881847-7aaa8e92-7777-11e7-8f53-f8817d8997fe.png)

the margin bottom would need to be removed if running inside an inline form.

![image](https://user-images.githubusercontent.com/4227977/28881890-972bb9ec-7777-11e7-865a-88504cc43711.png)

[2017-08-03 06:00] amorey commented on #223
Hi Patrick - I'm traveling at the moment so I can't look at this too closely but can you try adding a `mui-form` class to the wrapper which currently has `mui-form--inline`?

[2017-08-03 09:53] RickOrchard opened #224 "Hamburger menu doesnt work (expand) on some mobile browsers"
The hamburger menu seems to malfunction on some of the browsers on my Android phone:
- Chrome ->  WORKS
- 'Browser' (Huawei) -> DOESNT WORK
- Opera mini -> DOESNT WORK

![screenshot_2017-08-03-11-50-11](https://user-images.githubusercontent.com/20968832/28916400-62efabf4-7842-11e7-8591-59a7b129e88e.png)
![screenshot_2017-08-03-11-50-48](https://user-images.githubusercontent.com/20968832/28916401-6

[2017-08-03 13:56] amorey commented on #224
Thanks for reporting this issue. I'm traveling at the moment so I won't be able to look at this until next week. If you have time to take a look at the problem, the code is here:
https://github.com/muicss/mui/blob/master/examples/layouts/sidedrawer.html

[2017-08-03 13:59] amorey commented on #218
Syncing with ng-class sounds like a good solution. I tried to look at the code but I can't do much from my phone. I'll take a closer look when I get reunited with my laptop and I'll get back to you.

[2017-08-03 15:27] patrick-fls commented on #223
Hi Andres, it doesn't seem to help, unfortunately.

[2017-08-03 22:30] octalmage commented on #154
This can be closed, thanks for your work on this!

[2017-08-03 22:30] #154 closed

[2017-08-04 17:28] olegkleiman commented on #222
I'm looking for something like this but styled with Material Design.
![dropdown](https://user-images.githubusercontent.com/3518955/28979632-36708f46-7953-11e7-8bbf-1e850cb4b272.png)

[2017-08-07 16:59] amorey commented on #223
Hi Patrick - the issue is fixed in the latest version of MUI (v0.9.21):
https://www.muicss.com

Here are the missing CSS properties that were causing the problem:
https://github.com/muicss/mui/blob/cab9b30c733da9a3b973f17fb64888b7aaed39f3/src/sass/mui/_form.scss#L52-L53

Let me know if you notice any more problems with the Select component.

[2017-08-07 16:59] #223 closed

[2017-08-08 05:08] priyadhoundiyal opened #225 "Textarea extends beyond form"
Hi!
The textarea component in forms can be stretched beyond the width of the actual form itself.
Surely this is not expected behaviour?

[2017-08-08 06:49] amorey commented on #225
Are you referring to the built-in resizing mechanism in some browsers (e.g. Safari and Chrome)? If so, that behavior is independent of MUI:
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea

You can turn off `<textarea>` resizing by using the `resize` CSS property:
https://developer.mozilla.org/en-US/docs/Web/CSS/resize

[2017-08-08 09:36] priyadhoundiyal commented on #225
Thank you for your response!

[2017-08-08 09:36] #225 closed

[2017-08-10 03:20] amorey commented on #224
Hi @RickOrchard - the issue had to do with code on muicss.com that threw an error and prevented the click handler from executing. I fixed it for Opera Mini but I couldn't find an emulator for Huawei. Can you check if it's fixed for Huawei?

Note - the error was due to a problem with the MUI website, not the MUI library.

[2017-08-10 12:29] RickOrchard commented on #224
Yep, works perfectly!

---- On do, 10 aug 2017 05:20:28 +0200 Andres Morey &lt;notifications@github.com&gt; wrote ----

Hi @RickOrchard - the issue had to do with code on muicss.com that threw an error and prevented the click handler from executing. I fixed it for Opera Mini but I couldn't find an emulator for Huawei. Can you check if it's fixed for Huawei?

Note - the error was due to a problem w

[2017-08-10 12:46] #224 closed

[2017-08-11 10:30] amorey commented on #222
@olegkleiman - Sorry, MUI doesn't have a component like that.

[2017-08-11 10:30] #222 closed

[2017-08-11 10:31] amorey commented on #221
@8sam - I just wanted to follow up on this. Were you able to produce the `custom.css` file as described above?

[2017-08-11 10:43] amorey commented on #218
Hi @ClementParis016 - Sorry for the late response. How is your branch using Angular ng-class to sync the input container classes? I took a look at the code and I can't see where the syncing is happening.

[2017-08-11 10:45] amorey commented on #215
@Dedoig - I hope you're making progress on using MUI's CSS file with Elm. If you'd like to contribute your code back to the MUI project please let me know.

[2017-08-11 10:45] #215 closed

[2017-08-11 10:46] #212 closed

[2017-08-11 10:56] 8sam commented on #221
No... I still didn't find the changes.

On 11 Aug 2017 4:01 p.m., "Andres Morey" <notifications@github.com> wrote:

@8sam <https://github.com/8sam> - I just wanted to follow up on this. Were
you able to produce the custom.css file as described above?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/muicss/mui/issues/221#issue

[2017-08-11 11:03] amorey commented on #181
Hi @mimani - I just wanted to follow up on this issue. Newer versions of MUI's CSS file shouldn't overlap with other frameworks so this problem should be fixed.

If you need a version of MUI CSS that doesn't make any global declarations you can also use `mui-noglobals.css`:
[code]

Let me know if you're still having problems with MUI's CSS file conflicting with another framework.

[2017-08-11 11:05] #177 closed

[2017-08-11 11:08] #111 closed

[2017-08-11 11:13] amorey commented on #121
@c-dante I just wanted to follow up on this issue. MUI's Angular library has been upgraded since this issue was created. Are you still running into problems using `ng-change`?

[2017-08-11 11:13] #119 closed

[2017-08-11 11:30] amorey commented on #221
Can you share the input `custom.scss` and output `custom.css` files from this command?
[code]

As mentioned previously, this is my input file:
https://www.dropbox.com/s/4zpq2twvkeb223p/custom.scss?dl=0

And this is my output file:
https://www.dropbox.com/s/j1nywz5joy4x7vg/custom.css?dl=0

[2017-08-11 13:54] c-dante commented on #121
Hey I haven't touched mui in a while -- I'd roll from the example -- otherwise feel free to close the issue~

[2017-08-11 13:55] #121 closed

[2017-08-12 06:25] mimani commented on #181
Thanks for following up, but I went with some other solution at that time
so I am not using it.

But this is awesome library and Thanks again.

Best Regards

Saurabh Kumar Mimani

On Fri, Aug 11, 2017 at 4:33 PM, Andres Morey <notifications@github.com>
wrote:

[2017-08-12 08:20] irfaanprogrammer commented on #171
thank you amorey

[2017-08-12 08:44] irfaanprogrammer opened #226 "Sidedrawer Navigation Only Show Overlay Why ?"
When i open in sidedrawer mobile device just bring up overlay only, i follow the existing example.

Why on the main site sidedrawer work while in example not? I feel confused and have tried various ways but still can not

Here Screenshoot,
https://scontent.fcgk8-1.fna.fbcdn.net/v/t34.0-12/20815249_333292993761919_287720930_n.jpg?oh=3a56b3e0f8f9a840cb8faa7e154a0b2c&oe=5991806B

[2017-08-12 10:52] irfaanprogrammer commented on #226
oh im sorry the css -webkit-transform:translate(200px);transform:translate(200px) is missing in my css, thank you... close

[2017-08-12 10:52] #226 closed

[2017-08-15 16:45] ClementParis016 commented on #218
I think that's what you're looking for (take a look at the ng-class attribute): https://github.com/ClementParis016/mui/commit/adfe075d172f685b172e4ff7668d3548d1fb0e8b#diff-7fc775ef8d9c6d50d802f56bed486c04R46

Though, I'm on holidays so I can't take it further for the moment

[2017-08-17 14:58] niutech commented on #196
I made a quick demo of an AMP page using the [Surface](http://mildrenben.github.io/surface/) CSS-only Material Design framework: http://jsbin.com/xohugojufe

Is similar result possible using MUI?

[2017-08-20 23:12] amorey commented on #196
Hi @niutech - sorry for the delayed response. Currently we don't have an AMP version of MUI.

[2017-08-21 01:36] niutech commented on #196
Yes I know, but is the CSS-only version of MUI on the radar?

[2017-08-21 02:18] amorey commented on #196
It's on the radar but I can't make any promises as to when it will be ready. It's very easy to modify the CSS to make it AMP-ready but we need to think about which components/features to port over. If this is something you can work on, let me know.

[2017-08-21 04:03] amorey commented on #218
This is fixed in the latest version of MUI 0.9.22. Here's the new code:
https://github.com/muicss/mui/blob/master/src/angular/input.js#L36-L44

Let me know if you have any suggestions!

[2017-08-21 04:03] #218 closed

[2017-08-21 04:04] amorey commented on #219
Fixed in v0.9.22:
https://github.com/muicss/mui/blob/master/src/angular/input.js#L51-L52

[2017-08-21 04:04] #219 closed

[2017-08-21 04:04] amorey commented on #220
Fixed in v0.9.22:
https://github.com/muicss/mui/blob/master/src/angular/input.js#L47

[2017-08-21 04:04] #220 closed

[2017-08-28 18:45] jnvillar opened #228 "Select disable option"
In this html code, you can't select the "yes" option.

< `div class="mui-select"`>
                <`select`>
                    <`option` `disabled selected`>Chose</`option`>
                    <`option` `value="Yes"`>Yes</`option`>
                    <`option` `value="No"`>No</`option`>
                </`select`>
 </ `div` >

[2017-08-28 18:59] amorey commented on #228
Hmm... that's unexpected. I can take a look at this soon but if you want to take a stab at it, here's the code:
https://github.com/muicss/mui/blob/master/src/js/select.js

[2017-08-29 12:12] ClementParis016 commented on #218
Great, it looks good! I will try it soon.

The CSS classes syncing looks good to me, but I'm still concerned about the whitelisting of attributes. There are many possible attributes beyond ` ng-minlength` and `ng-maxlength` (`ng-pattern`, `ng-required`, etc...) that will not get passed to the inner input, as far as I can see.
Maybe we could just pass down all the attributes? Would this trigger any

[2017-08-29 13:46] #228 closed

[2017-08-29 13:50] amorey commented on #228
@jnvillar I fixed this in the master and published a new version with the bugfix (0.9.24). Let me know if you run into any more problems.
https://www.muicss.com/

[2017-08-29 13:51] jnvillar commented on #228
Thank you very much!!

[2017-08-29 13:52] amorey commented on #218
I think passing all/most attributes is a good next step. We're doing something similar in the React library and it works well:
https://github.com/muicss/mui/blob/master/src/react/appbar.jsx#L25-L26

Do you want to take a stab at the problem?

[2017-08-29 14:13] ClementParis016 commented on #218
Sure, I will try to bring you a solution ;)

[2017-08-29 14:14] amorey commented on #218
Great! Looking forward to seeing what you come up with!

[2017-09-07 20:36] dforesman opened #229 "Package.json doesn't have a "name""
# Problem:

MUI's `package.json` lacks a `name` attribute, preventing it from being installed via NPM or Yarn

## Why is this a problem when there is already an NPM distribution?

The NPM distribution does not contain the SCSS source file for the *email* styles, only for the desktop. I need to be able to customize the SCSS email variables (and only need the stylesheets).

## Example

NPM:
[code]
r

[2017-09-07 22:08] amorey commented on #229
Thanks for the bug report. Would it help if we added the MUI email SCSS files to the NPM package? We can add it under `lib/email`.

[2017-09-08 01:02] dforesman commented on #229
That would be fantastic, thank you!

[2017-09-08 01:48] amorey commented on #229
Done:
https://www.muicss.com
https://www.npmjs.com/package/muicss

Let me know if you run into any problems importing the email SCSS files.

[2017-09-08 01:48] #229 closed

[2017-09-11 19:26] ryangiglio opened #230 "Text field status classes/listeners don't apply to grandchildren inputs"
I'm using the native CSS/JS method of MUI within a React project. I have a few native text inputs that follow the documented structure of:

    <div class="mui-textfield mui-textfield--float-label">
        <input type="email" required>
        <label>Required Email Address</label>
    </div>

These are receiving the `mui--is-empty`, `mui--is-untouched`, and `mui--is-pristine` classes on page load

[2017-09-11 21:01] amorey commented on #230
MUI expects the `<input>` tag to be a child of `<div class="mui-textfield">` so the nested `<div>` will cause problems. Have you tried removing the child `<div>`?
[code]

Or inverting the plugins?

[code]

[2017-09-11 21:39] ryangiglio commented on #230
The div nesting is created by the component and I assume is essential to its function or it wouldn't exist (I'm not the author and haven't really dug in too much yet). In any case, there isn't any kind of option to modify the structure of it or add a label/change the classes within the generated HTML.

Does MUI export any kind of function I can use to manually set up the event listeners on the inp

[2017-09-11 22:53] amorey commented on #230
It wouldn't be too difficult to expose the initialization function but I'm hesitant to do it without putting more thought into the API. Here's the function:
https://github.com/muicss/mui/blob/master/src/js/textfield.js#L28-L58

Are you considering adding custom code to add empty/not-empty class helpers to the `<input>` element?

[2017-09-12 14:34] ryangiglio commented on #230
Yeah, my plan is to re-implement (or copy) the function and add the stuff to that one input - just wanted to see if there was an "officially supported" way of doing it first or if that's something you had considered. Thanks!

[2017-09-12 17:30] amorey commented on #230
Yeah, I think that's the way to go for now. I've definitely thought about how we can expose the inner `init()` methods but even if we were to expose them, it will be hard to make MUI play well with other plugins that also add wrappers to `<input>` elements. Let me know if you run into any more issues and I'll keep thinking about how to expose MUI's inner methods.

[2017-09-14 06:57] amorey commented on #230
@ryangiglio Based on our conversation I thought that it might be useful to have empty/dirty/touched CSS hooks functionality available in a separate library. Here's a first stab at building a library that automatically adds CSS hooks to `<input>` and `<textarea>` elements:
https://github.com/muicss/hookahjs

Let me know if this is useful and if you have any suggestions for the library.

[2017-09-15 14:56] grkuntzmd opened #231 "Hard-coded colors for `select` menu are very difficult for accessibility-challenged"
In the file `_select.scss`, the following directives appear:
[code]
These hard-coded color choices are very low contrast and difficult to read for non-vision-impaired and much harder for those with limited sight.

Consider changing them to SASS variables instead of `mui-color(...)` values so they can be changed by developers using the code.

[2017-09-15 15:41] quachsimon opened #232 "Change tab colours?"
Is it possible to change the tab colours? I noticed there was an existing ticket that asked a similar question but the question was for inline css and the solution used bower (which I am currently not using).

Have there been updates to the library since? I noticed there was a `className` prop in the `Tabs` component but, that doesn't change the actual individual tab colours.

[2017-09-15 19:02] amorey commented on #232
Currently, these are the colors you can change in the tabs component (by using the SCSS to compile your own CSS file):
https://github.com/muicss/mui/blob/master/src/sass/mui/_variables.scss#L253-L259
https://www.muicss.com/docs/v1/css-js/customization

Let me know if that works for you or if you need to change other colors.

[2017-09-15 19:03] amorey commented on #231
Sure! That sounds like a good idea. I'll take a closer look at this soon and get back to you.

[2017-09-15 19:54] quachsimon commented on #232
@amorey what if we are not able to/using bower? Are there any other alternatives to customizing it?
We are using pure css for the time being.

[2017-09-15 20:30] amorey commented on #232
You can also access the SCSS files from the NPM package
https://github.com/muicss/mui/tree/master/packages/npm/lib/sass

[2017-09-15 20:39] quachsimon commented on #232
Does this mean with every update to the NPM package my changes will be overwritten? Will there be future support to change the tab colours via a prop?

[2017-09-15 21:23] amorey commented on #232
If the SCSS files change in a release then you have to run the compiler again. If you'd like to use the SCSS files from the NPM package then I'd recommend building your custom CSS file as part of your build pipeline. In general the variables are stable so upgrading to a new release shouldn't require any changes on your end if all you're doing is defining custom variables.

Each MUI React component

[2017-09-18 00:35] quachsimon commented on #232
@amorey How would I go about overwriting the MUI CSS rules? I tried inspecting the MUI tab element and seeing how its colour is changed. I copied the css classes (i.e. `.mui-tabs__bar > li.mui--is-active > a`) and added that rule to my own css file but it had no luck in changing it. Maybe I'm mistaking what you mean by that?

I have not seen any graceful way of handling this type of change at this

[2017-09-18 02:10] amorey commented on #232
Which color are you trying to change?

To do this in a non-hacky way I would suggest using SCSS variables and adding the CSS compilation to your build routine.

[2017-09-18 02:16] quachsimon commented on #232
I am trying to change the default primary blue `#2196F3` to the red in the scss variables.

I am using webpack for my build right now which does not include the node_modules folder. The project started from [react-starter-kit](https://github.com/kriasoft/react-starter-kit) which I am not sure how to edit to add the scss variables to my routine. I am currently using pure css variables at the moment

[2017-09-18 04:25] amorey commented on #232
To change the default color you need a custom SCSS file that looks like this:
[code]

I'm not very familiar with webpack but here's an SO post that might help in accessing files from the node_modules directory:
https://stackoverflow.com/questions/34311656/example-of-how-to-load-static-css-files-from-node-modules-using-webpack

[2017-09-18 11:57] krav4enkodm commented on #148
I have this problem when just page load. The elemet have pristine classes
![image](https://user-images.githubusercontent.com/24292362/30540855-7f8e63be-9c81-11e7-9c3f-9c120c15b2ba.png)

And if i click at document or press some key classes are chenges
![image](https://user-images.githubusercontent.com/24292362/30540900-b243ebb2-9c81-11e7-9326-ac4f0e46e681.png)

[2017-09-18 12:13] simkea opened #233 "New Chrome Security Policy 'unsafe-inline'"
Refused to load the image 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…M9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==' because it violates the following Content Security Policy directive: "default-src * 'unsafe-inline'". Note that 'img-src' was not explicitly set, so 'default-src' is used as a fallback.

This image comes from:
.mui-select

[2017-09-18 12:24] #233 closed

[2017-09-18 12:24] simkea commented on #233
Upps... sorry
the reason was this in my index.html:
<meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />

*Close*

[2017-09-18 14:00] amorey commented on #148
@krav4enkodm Which browser are you having a problem with? Can you share some example code to reproduce this error? It's difficult to debug autocomplete issues without an example to work off of.

[2017-09-19 08:16] krav4enkodm commented on #148
@amorey this code should be enough
[index.txt](https://github.com/muicss/mui/files/1313479/index.txt)

just rename file. Then try authorize and save passord. and when u will open this page next time you will see a problem

[2017-09-19 14:17] amorey commented on #148
Thanks! I'll take a look at it.

[2017-09-19 20:29] quachsimon commented on #232
After I import the file into my own custom SCSS file would I need to apply that change to the tab in anyway? Sorry for all the questions I am not too familiar with the build tools using SCSS.

I assume I would need to compile the SCSS file into a CSS file but what will I do with that CSS file afterwards?

[2017-09-19 20:33] amorey commented on #232
Once you define your own variables and `@import` the MUI SCSS file then the SCSS compiler will take care of the rest. For example this is what it would look like from the command line:
[code]
The custom.css file contains all of the required MUI CSS definitions along with your custom settings. To use it you just need to host it and use it in your web app.

[2017-09-21 13:33] peterbartos opened #234 "Cannot read property 'inputElRef' of undefined"
After updating muicss from 0.9.22 to 0.9.25 we are seing a crash first time when Input field is being rendered. We are using muicss with preact 8.2.5.

Crash:
[code]

It's happening here in input.js:
[code]

..., `el.inputElRef` is undefined.

[2017-09-21 14:37] amorey commented on #234
Thanks for creating this issue! Can you share some example code? I haven't noticed any issues with the Input component so I want to understand what's triggering that error. Are these examples working for you?
https://www.muicss.com/docs/v1/react/input

[2017-09-21 15:14] peterbartos commented on #234
I just tried this sample code and fails with the same error. Without using Input element it works.

[code]

We are using these key dependencies:
[code]

[2017-09-21 15:20] amorey commented on #234
Thanks! Sounds like it has something to do with preact. I'll take a look at it.

[2017-09-22 03:45] #211 closed

[2017-09-22 04:09] amorey commented on #148
@krav4enkodm I'm having trouble forcing Chrome to use autofill. Can you try adding this CSS to your page:
[code]

I'm trying to see if we can detect autofill using the `-webkit-autofill` pseudo-selector.

[2017-09-22 04:41] #234 closed

[2017-09-22 04:46] amorey commented on #231
@grkuntzmd I made some of the Select component styling options customizable:
https://github.com/muicss/mui/blob/master/src/sass/mui/_variables.scss#L194-L197

Let me know if you're trying to customize other attributes.

[2017-09-22 04:47] amorey commented on #234
This should be fixed in v0.9.26. Let me know if you're still having issues using MUI with preact.

[2017-09-22 07:22] peterbartos commented on #234
Thank you for the quick update! Everything seems to work now ;)

[2017-09-22 07:32] amorey commented on #234
Great! Thanks for checking.

[2017-09-27 10:54] simkea opened #235 "React 16.0.0 - Warning: Setting defaultProps as an instance property on Col is not supported and will be ignored. Instead, define defaultProps as a static property on Col"
i use now React 16.0.0. and i get this warning:

Warning: Setting defaultProps as an instance property on Col is not supported and will be ignored. Instead, define defaultProps as a static property on Col.

Can you create a patch for it? thx
br

[2017-09-27 14:52] amorey commented on #235
Thanks for posting this issue. I'll take a look at how we can support React 16 tonight.

[2017-09-28 02:01] amorey commented on #235
@simkea Can you share some example code? I'm testing out MUI with React 16 and I haven't run into this problem.

[2017-09-28 03:28] amorey commented on #235
I replaced the `defaultProps` instance property with a static property but I still haven't been able to reproduce the error. Can you check if version of MUI React fixes the problem:
https://raw.githubusercontent.com/muicss/mui/react16-test/packages/cdn/react/mui-react.js

Alternatively, you can checkout the `react16-test` branch and install MUI from the NPM package found in `packages/npm`:
https:/

[2017-09-28 07:26] simkea commented on #235
I installed the package with npm. Is there an easy way to install another branch?
*headScratching*

[2017-09-28 11:34] amorey commented on #235
First checkout the repository and switch to the `react16-test` branch:
[code]

Next, install the npm package locally:
[code]

Let me know if you run into any problems installing or testing.

[2017-09-28 12:31] simkea commented on #235
ok thx.
Super! The problem no longer occurs. Thank you very much.
br

[2017-09-28 12:43] amorey commented on #235
Great! Thanks for checking. I'll publish the new branch as a new version so you can install it from NPM.

[2017-09-28 13:30] amorey commented on #235
The new version is live (v0.9.27):
https://www.muicss.com
https://www.npmjs.com/package/muicss

Let me know if you notice any other problems.

[2017-09-28 13:30] #235 closed

[2017-09-29 12:43] simkea opened #236 "Ability to pass your own attributes to the select component"
I have one wish.
Please add a possibility to allow your own attributes to the `<select>` tag through
Example: `<select data-myownvalue="xxx">`

Because you deliver the select tag in a wrapper, you cannot place attributes directly to the `<select>` tag.
br

[2017-09-29 13:18] amorey commented on #236
Passing through attributes to the inner `<select>` element by default would make some things more difficult, like adding a class or a style to the wrapper. One option is to use the `controlEl` attribute on the MUI `<Select>` instance which is a reference to the inner `<select>` element. This should work:
[code]

[2017-09-29 14:10] simkea commented on #236
thx i'll try it :)

[2017-09-29 14:30] simkea commented on #236
That's a bit awkward, I'm afraid.
I have several selects and it's not going to be nice.
Can't you do something like this?

`<Select passthruArgs={{ name: value }} />`

[2017-09-29 14:43] amorey commented on #236
Can you explain the issue is in more detail? If you have multiple Selects you can use multiple refs:
[code]

[2017-09-29 17:28] amorey commented on #236
Did using multiple refs work for you?

[2017-10-02 07:02] simkea commented on #236
Your solution works! I just think a general possibility would be better.
But thank you very much.

[2017-10-02 15:02] bartvde commented on #235
@amorey  where did version 0.9.27 go? I can't find it

[2017-10-02 15:08] amorey commented on #235
Strange - I thought I had published the latest version to NPM. It's there now:
https://www.npmjs.com/package/muicss

[2017-10-02 15:38] bartvde commented on #235
thank you @amorey

[2017-10-04 06:55] tycho01 commented on #167
@ram-you: there's a new AMP issue at #196 now.

[2017-10-12 21:39] MrJoy opened #237 "Allow Checkbox label to be an object."
I have a case where I want the label of a checkbox to contain a link.  (`I agree to the <a href='...'>Terms and Conditions</a>`)

Passing a React component actually appears to _work_ but gets an error due to the PropType mismatch.  Allowing the property to be either `string` or `object` would be quite useful.

[2017-10-12 22:05] MrJoy commented on #237
Whoops, the error was coming from a component I made that wrapped MUICheckbox!  Sorry!

[2017-10-12 22:05] #237 closed

[2017-10-14 17:49] mrmccormack opened #238 "W3C Validation errors on Examples / Landing Page"
1. I was wondering why these minor errors were not fixed.
2. I would be happy to submit a valid template.
3. Thanks for the nice light-weight template

**Note**
I'm also using the combined css / js for my starter template.

[code]

---

**Reference:**
- https://www.muicss.com/docs/v1/example-layouts/landing-page

---

**Validation Errors**

[code]

[2017-10-15 07:50] amorey commented on #238
@mrmccormack Thanks for checking the validation! If you can submit a valid template for this file I can copy it over to the website:
https://github.com/muicss/mui/blob/master/examples/layouts/landing-page.html

[2017-10-15 12:55] mrmccormack commented on #238
Thanks for fast response...

I'm glad to help out..

## Question 1
ref: https://github.com/muicss/mui/blob/master/examples/layouts/landing-page.html
I see relative paths:

[code]
I see ../assets but NO /mui/css folders

Is this meant for the NPM Package or something...

## Question 2
Note that:
- https://github.com/muicss/mui/blob/master/examples/layouts/landing-page.html
is a different file than

[2017-10-15 13:15] mrmccormack commented on #238
Here is a HTML 5 valid version of:
- https://www.muicss.com/docs/v1/example-layouts/landing-page

---

### Public Gist:
https://gist.github.com/mrmccormack/d04e4557739b89c938bac5373c47ad70/revisions

---
Notes:
1. I used the "combined" CDN, that might be good for people just trying it out.
1. the https: should be removed for non-local use:

[code]
# Quick Start Template:
- If you think it would be

[2017-10-20 09:00] JeroenLandsman opened #239 "Change height options in select"
When I change the height of the options in a select via CSS the select-menu gets a scrollbar, even if I have only two items. This is caused by the item height value which hardcoded in 'lib/form.js' to calculate the select-menu height.
Is there a way in which I can change this dynamically, so without changing this had-coded in the 'lib/form.js' file.

[2017-10-20 09:22] amorey commented on #239
Currently, these are the Select component options you can modify using SCSS variables:
https://github.com/muicss/mui/blob/master/src/sass/mui/_variables.scss#L194-L197

The height of each option is based on the font-size:
https://github.com/muicss/mui/blob/master/src/sass/mui/_select.scss#L129

So you can increase the option height by increasing the font-size via the `$mui-select-menu-font-size` S

[2017-10-20 12:12] JeroenLandsman commented on #239
I tried what you suggested, and indeed this changes the height of the options, but the problem is that I get a scrollbar when I do that, see also the screenshot I added:

![image](https://user-images.githubusercontent.com/14858680/31820243-c3200762-b5a0-11e7-8045-e8f2b87d252f.png)

[2017-10-21 09:54] amorey commented on #239
Ok, thanks for checking. I think it should be possible to rewrite the code so that it uses CSS values from the DOM instead of the code. Stay tuned.

[2017-10-23 10:55] JeroenLandsman commented on #239
Hi,

thanks for you reply. Good t know there might be a solution for it. When do you expect this change will be introduced?

thanks in advance.

[2017-10-23 14:46] amorey commented on #239
Can you describe in more detail the UI change you'd like to make? Would a bugfix to the font-size issue work for you or do you need to modify the row height independently of the font-size?

[2017-10-24 13:49] arboleya opened #240 "Cols get stacked in small screens"
I expect this two cols to be side-by-side according to its measures.

However, in small screens, cols get stacked.

Am I missing something?

[code]

![stacked-divs](https://user-images.githubusercontent.com/26660/31946605-10c09f3c-b8b1-11e7-8255-dc2a15501bab.png)

https://www.muicss.com/examples/v1/react/grid-mobile-and-desktop.html

[2017-10-24 19:21] arboleya commented on #240
As I see, it's because the right/left padding of `15px` in `mui-col` class.

Perhaps it's not even a bug? Well, I've made a simple pen for it:
https://codepen.io/anon/pen/NaZvKy

[2017-10-24 19:28] amorey commented on #240
Thanks for the the pen! I'll take a look at it.

[2017-10-24 21:33] amorey commented on #240
Yes, the problem is that the width of each column is set to a fixed % which works until the left-hand-column shrinks down to the padding and doesn't leave enough room for the right-hand-column. Is this an issue for your app?

[2017-10-25 10:07] amorey commented on #239
I'm working on a release but I have a working version in the `mui:ondeck` branch if you want to take an early look:
https://github.com/muicss/mui/tree/ondeck

[2017-10-25 13:26] #240 closed, assigned to nobody

[2017-10-25 13:32] amorey commented on #240
Ok, good to hear. How did you work around it?

[2017-10-26 08:57] JeroenLandsman commented on #239
I will have a look at the mui:ondeck.

Solution I would like to have is to be able to modify the row height independently of the font-size.

[2017-10-26 11:43] arboleya commented on #240
I did something like this, and it was enough for me

[code]

[2017-10-27 07:24] JeroenLandsman commented on #239
I checked the changes you made in ondeck branch. Exactly what I need. Good work! When do you expect it to be on master branch?

[2017-10-27 18:25] zachrattner opened #241 "Can't force focus on a text Input in React"
I have a text input in React that I want to programmatically focus when a radio button is clicked. But it seems `controlEl.focus()` doesn't have any effect. How do you cause the text input to be focused?

Here is the text input:

[code]

Here is the radio button:

[code]
Here is the click event handler:

[code]

For what it's worth, if I replace the `Input` text input with a vanilla `input`, every

[2017-10-27 20:17] amorey commented on #241
Hmm... it seems to be working in this example:
http://jsfiddle.net/muicss/2mozdv45/1/

Let me know if I'm missing something or if the example helps you solve the problem.

[2017-10-27 21:37] amorey commented on #239
Great, thanks for checking. I pushed the new code to `muicss:master` and published a new version (0.9.28):
https://www.muicss.com
https://www.npmjs.com/package/muicss

You can modify the height using the `$mui-select-menu-item-height` SASS variable:
https://www.muicss.com/docs/v1/css-js/customization

Let me know if you run into any issues using the new row height option.

[2017-10-27 21:37] #239 closed

[2017-10-27 21:40] amorey commented on #238
Thanks for the recommendations. The landing page example in the repo and on the website should now pass W3C validation:
https://www.muicss.com/docs/v1/example-layouts/landing-page

In terms of a font-awesome example, that'd be great! If you can create an example template I can add it to the website.

[2017-10-27 21:40] #231 closed

[2017-10-27 22:52] zachrattner commented on #241
Thanks @amorey! Turns out the issue was related to the way I was showing/hiding the text input. Your fiddle helped me pinpoint the issue.

[2017-10-28 00:27] mrmccormack commented on #238
Thanks amorey.

Here is a nice template, using only CDN's, internal styles, Font Awesome and animate.js (valid HTML5)

https://gist.github.com/mrmccormack/cda8c9779e1ceb6b9cc9016bed0ad6d6

---

![screen shot 2017-10-27 at 8 23 00 pm](https://user-images.githubusercontent.com/3249215/32129401-c9d93c9a-bb54-11e7-9e69-316f9d98c825.png)

[2017-10-28 13:02] amorey commented on #241
No prob! Happy to hear you figured it out.

[2017-10-28 13:02] #241 closed

[2017-10-28 13:05] amorey commented on #238
Thanks! It's live now:
https://www.muicss.com/docs/v1/example-layouts/landing-page-with-extras

I added a `extra/mui-colors.css` to show how that file works. Also - I had trouble creating an SVG with a pink university icon so I used a black icon for the thumbnail instead.

[2017-10-28 17:27] mrmccormack commented on #238
Looks good, thanks. You can close this ticket.

Rob

[2017-10-28 17:27] #238 closed

[2017-11-06 17:44] jnvillar opened #242 "Mui select, title attribute in option"
Attribute "title" in ```<option>``` does not work

Example:

[code]

[2017-11-06 18:48] amorey commented on #242
What does the `title` attribute do? I don't see it in the documentation for `<option>` tags.

[2017-11-06 19:29] jnvillar commented on #242
It's a prompt next to the option, it's useful if you need a description.
Here's an example: [link]( https://i.imgur.com/IrUgLew.png)

[2017-11-06 19:42] amorey commented on #242
I see - thanks for the example. I'm not sure what the Material Design equivalent is but one way we can support this easily is by adding a `use-default` option to use the default browser `<select>` menu. Currently this option is available in MUI React but hasn't been ported to MUI CSS/JS:
https://www.muicss.com/docs/v1/react/select

[2017-11-12 04:13] ivanwolf15 opened #243 "Label elements do not have for attribute [React]"
I'm building a PWA using the react components. The Lighthouse Report complains when Form elements do not have associated labels. The reason is [here](https://dequeuniversity.com/rules/axe/2.2/label?application=lighthouse).
I checked the TextInput source code and noticed that the required attribute is not being passed. Should I do a PR? This is my first ever Issue on any public project I hope it is

[2017-11-13 10:59] nyelnyelnyel opened #245 "Create class to add icons"
what do you guys think of this? had a very rough time adding some fa-icons

[2017-11-13 21:21] amorey commented on #243
Sorry for the late reply! I've been busy with a new baby. Can you show the Lighthouse Report error message you're getting?

[2017-11-13 21:25] amorey commented on #245
Have you tried using the "Landing Page with Extras" example as a starting point?
https://www.muicss.com/docs/v1/example-layouts/landing-page-with-extras

h/t @mrmccormack

[2017-11-14 10:43] ClementParis016 opened #246 "[React] Cursor jumps when using Input component with redux-form"
I don't know how familiar you are with [redux-form](https://redux-form.com/), but I'm having issues when using it alongside mui's `Input` component.

If I use this component to render a form field, the cursor jumps to the end of the input every time I try to insert something at the beginning or in the middle. If I use a standard html `<input>` tag, it works correctly.
I've been spending hours tryi

[2017-11-14 12:55] amorey commented on #246
I'm not familiar with redux-form but I'll take a look. Thanks for the example snippet!

[2017-11-14 13:03] amorey commented on #243
@ivanwolf15 Did you consider filling in the input `id` field and the label `htmlFor` field automatically so the developer doesn't have to supply a `labelFor` value?

[2017-11-14 13:20] ivanwolf15 commented on #243
Here is the message
![screen shot 2017-11-14 at 10 08 26](https://user-images.githubusercontent.com/13748811/32781461-e80fdd9a-c923-11e7-8d0d-942cafe08dd7.png)
And is a better idea what you say, i doing it in #244

[2017-11-14 13:22] amorey commented on #243
Thanks for sharing a copy of the message! Will you create a new pull request with the automatic `id`/`htmlFor` behavior?

[2017-11-14 13:25] ClementParis016 commented on #246
Don't know if it helps, but I noticed that the `onChange` handler in TextField is using `setState` before calling the `onChange` prop:
https://github.com/muicss/mui/blob/0ac250ac75f623fb99dd6577d1b72c6f597b0b77/src/react/text-field.jsx#L72-L81

So maybe these two `onChange` handlers (mui's one and the props one) are both trying to change the state in a concurrent way which would make React lose th

[2017-11-14 13:35] ivanwolf15 commented on #243
In a minute

[2017-11-14 18:06] #236 closed

[2017-11-15 05:49] #221 closed

[2017-11-15 05:50] #232 closed

[2017-11-15 05:50] #230 closed

[2017-11-15 08:14] miladd3 commented on #194
scroll lock didn't disable after selecting and you cant scroll after opening select

[2017-11-15 09:05] amorey commented on #194
I actually just realized that myself yesterday. Thanks for filing an issue. I noticed it in Firefox Quantum. Did you see it somewhere else?

[2017-11-15 16:54] amorey commented on #246
React enqueues calls to `setState()` and batches them together so calling `this.props.onChange` after `setState()` shouldn't be a problem.

MUI tracks the input value because the inner `<input>` element is used as a controlled component in order to detect empty/not-empty states.

With regards to the redux-form issue, it looks like the input element loses and regains focus after each keystroke and

[2017-11-15 17:27] ClementParis016 commented on #246
Yes, it may be possible that the input ref is lost at some point and React has to re-create it, which could make it loose the cursor position. At least that's what I've understood by reading a bunch of issues about jumping cursors on React, Redux and redux-form :/

[2017-11-15 21:01] ivanwolf15 commented on #243
@amorey I saw that the changes I made are on the branch `ondeck`. Should I close the PR?
And thanks for attending the issue!

[2017-11-15 21:03] quachsimon opened #247 "Pagination Component?"
Is there a pagination component in the works down the line? I am trying to add this feature but would rather stick with one framework if I can help it.

[2017-11-16 03:53] amorey commented on #243
That's ok, the PR should close automatically when I merge into the master (soon). If you want to start using it you can run `npm run build-packages` in the `ondeck` branch and install the npm package in `packages/npm`.

[2017-11-16 10:47] greut opened #248 "overlay off doesn't bring back the scroll using Firefox 57"
How to reproduce:
1. Visit https://www.muicss.com/docs/v1/css-js/overlay
2. Activate overlay or modal
3. Click anywhere to deactivate it
4. Try to scroll

What happens:
- The scollbars don't come back

What was expected:
- The scrollbars to come back

Is this MUI related or does Firefox got borked with the latest release? Any hints?

[2017-11-16 10:54] amorey commented on #248
Thanks for creating this issue. It's fixed in the `muicss:ondeck` branch and will be merged into master and published soon. If you need a quick fix you can run `npm run build-packages` in the `ondeck` branch and use the packages in the `packages` directory.

[2017-11-16 12:45] #242 closed

[2017-11-16 12:45] #243 closed

[2017-11-16 12:51] amorey commented on #248
@greut This is fixed in the latest version (v.0.9.29):
https://www.muicss.com
https://www.npmjs.com/package/muicss

Let me know if you notice any other issues!

[2017-11-16 12:51] #248 closed

[2017-11-16 12:53] amorey commented on #243
@ivanwolf15 Thanks again for the pull request. Your enhancement is included in the latest version (0.9.29):
https://www.muicss.com
https://www.npmjs.com/package/muicss

[2017-11-17 21:58] amorey commented on #246
I took a closer look at redux-form and how it interacts with composite components and I think the issue is related to the Input instance `render()` method being called on each keystroke. I'm going to see if we can fix the issue by making smarter use of `shouldComponentUpdate()`.

[2017-11-18 14:03] ClementParis016 commented on #246
Indeed, that may be a good starting point since redux-form updates the component props at a very high rate!

[2017-11-19 06:58] nyelnyelnyel commented on #245
I'm sorry if I was not clear. What I mean is adding fa-icon beside a textfield.

[2017-11-19 07:50] amorey commented on #245
Adding font-icon helpers to the core library is outside the scope of the project but we can certainly provide tutorials or other guides. Do you have a screenshot of what you're trying to do?

[2017-11-19 08:22] nyelnyelnyel commented on #245
I actually did it already. However it did cost me a lot of time. I was thinking then that adding the icons is as easy as doing in MaterializeCSS. Just my inputs though, thanks for replying, man! Good luck on your project!

[2017-11-20 05:13] reesmanp commented on #186
Any updates on this?

[2017-11-20 12:42] #246 closed

[2017-11-20 12:51] amorey commented on #246
Quick update - I re-implemented the MUI React Input and Textarea components using the Higher-Order-Component React pattern and that seems to have fixed the problem with redux-form. Please try out the new version and let me know if the problem is fixed (v0.9.30):
https://www.muicss.com/
https://www.npmjs.com/package/muicss

[2017-11-20 16:12] amorey commented on #186
Sorry, I haven't had a chance to look at this yet. Are you trying to use MUI in a project that uses typescript? If you can provide an example for how to migrate from .jsx to .tsx that would be very helpful.

[2017-11-20 16:15] amorey commented on #247
Sorry for the late reply - I've been helping to take care of my newborn this week!

A pagination component is outside of the scope of the core library but if you build one it'd be great to share it here so others can benefit from your work. Let me know if you're running into problems and I can try to help out.

[2017-11-20 16:33] amorey commented on #245
What problems did you run into? MUI is agnostic about font icon libraries so you can use any icon library you want. Here's an example that uses Google's [Material Design icons](http://google.github.io/material-design-icons/) (same as MaterializeCSS):

[code]
https://jsfiddle.net/muicss/pvtx48w4/

[2017-11-20 17:20] ClementParis016 commented on #246
@amorey I can confirm it's working now! It's still not clear to me what the issue was exactly, but thank you very much for your help and your great work :+1:

[2017-11-20 20:06] amorey commented on #246
Great! I'm happy to hear it's working now. I don't entirely understand it either but I think the the issue was related to the asynchronous behavior of `setState()`:
https://stackoverflow.com/questions/28922275/in-reactjs-why-does-setstate-behave-differently-when-called-synchronously/28922465#28922465

[2017-11-21 11:13] krav4enkodm commented on #148
@amorey , sorry for long absence, problem was solved by this css:

.mui-textfield--float-label > input:-webkit-autofill ~ label {
 	font-size: 12px;
	line-height: 15px;
	color: rgba(0,0,0,.54);
	transform: translate(0px, 0px);
}

[2017-11-21 11:43] amorey commented on #148
Thanks for the reply! The most recent versions of MUI use a version of this CSS to detect autofill. Can you try the latest version of MUI without your custom CSS to see if that works?
https://www.muicss.com

[2017-11-22 07:20] simkimsia commented on #167
Sorry for asking dumb questions, but what's AMP in this context?

[2017-11-22 09:50] tycho01 commented on #167
@simkimsia: no worries. that's it, yeah.

[2017-11-29 16:49] amorey commented on #203
@scheccia1 The latest versions of MUI should move the menu cursor when you press a key:
https://jsfiddle.net/muicss/vzgw0z2u/

Alternatively, you can use the default menu by adding a `mui-select--use-default` class to the wrapper:
[code]

[2017-11-30 10:36] scheccia1 commented on #203
the cursor move it. If I click enter button, after click a letter, the selection is correct, but don't scroll the list.

[2017-11-30 10:39] scheccia1 commented on #203
try this, in the link that you send me:
`<form class="mui-form">
  <legend>Title</legend>
  <div class="mui-select">
    <select>
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>e</option>
      <option>f</option>
      <option>g</option>
      <option>h</option>
      <option>i</option>
      <option>l</option>
      <option>m</opt

[2017-11-30 12:24] amorey commented on #203
I see. Ok, I'll take a look at how to fix the scrolling behavior. In the mean time, as I mentioned previously, if you'd like to use the browser's default menu you can use the `mui-select--use-default` class.

[2017-12-02 08:29] simkimsia opened #249 "How to have a panel title bar in two different ways that conform with material design"
Hi @amorey,

Thanks for answering my email and also congrats on your new born.

I am a backend developer and still trying to learn frontend using your framework.

I am the guy who's trying to create datatable using muicss.

Right now, my next step is to create an effect that looks similar to https://propeller.in/html-themes/propeller-admin/data-table.html

![image](https://user-images.githubuserco

[2017-12-02 08:44] simkimsia opened #250 "Checkbox doesn't look similar to the examples in material design guidelines"
in https://material.io/guidelines/components/selection-controls.html#selection-controls-checkbox

the checkbox looks like this:

![image](https://user-images.githubusercontent.com/245021/33513544-e404d254-d77f-11e7-9f7c-944510433373.png)

the examples in React https://www.muicss.com/docs/v1/react/checkbox

![image](https://user-images.githubusercontent.com/245021/33513555-f4b87812-d77f-11e7-8540-2

[2017-12-02 08:49] simkimsia commented on #247
Hi @amorey I am interested in the same thing, how to get started building one on my own?

[2017-12-02 20:22] amorey commented on #249
@simkimsia Thanks for sharing the data table design - it looks pretty good.

If I understand the problem correctly, it looks like you're asking how you can use MUI to help you display the table title. In general you can use these MUI helper classes to display text:
https://www.muicss.com/docs/v1/css-js/typography

I think you can use these for the two titles in the propeller table:
[code]

[2017-12-02 20:39] amorey commented on #250
We decided not to include Material Design checkboxes in the core library because we felt that their design was opinionated and we wanted developers to be able to decide for themselves how closely to adhere to the Material Design spec.

If you're interested in adding stylized checkboxes to your app you can take a look at this recipe which @uxitten shared as an Issue:
https://github.com/muicss/mui/i

[2017-12-02 20:40] amorey commented on #247
Do you have a mockup of what you want the pagination component to look like? If you can share a screenshot I can help you get started.

[2017-12-02 21:31] ivanwolf15 opened #251 "Input react component documentation seems outdated"
[The docs](https://www.muicss.com/docs/v1/react/input) indicate the placeholder must be passed in the `placeholder` props but it should say `hint`.
I was trying to pass the placeholder but there was no changes, I had to inspect the source code to realize the actual prop was hint.

[2017-12-03 05:26] simkimsia commented on #250
noted thanks. wasn't aware there is such a thing as recipe

[2017-12-03 05:28] simkimsia commented on #249
Thanks i will give this a try

[2017-12-03 05:57] amorey commented on #251
Which version are you using? The latest version accepts both `hint` and `placeholder` but the goal is to settle on `placeholder` in a later version. In the code `{ ...other }` will passthrough the `placeholder` prop:
https://github.com/muicss/mui/blob/master/src/react/_textfieldHelpers.jsx#L138

The live examples here use `placeholder`:
https://www.muicss.com/docs/v1/react/input

[2017-12-04 09:43] amorey commented on #251
@ivanwolf15 Were you able to verify that the React Input element accepts the `placeholder` prop?

[2017-12-06 00:39] rush1818 opened #252 "Keyboard `tab` event on Firefox"
Hi,
On `Firefox 57.0.1`, if I use `tab` key in a React Input with floating label, the event navigates the focus to the "floating label" element of that field instead of the next input field. I believe what's happening is that it is going to the next element after the input which in this case is the floating label.

On chrome this is working fine. Let me know if you need more info.

[2017-12-06 12:51] amorey commented on #252
Thanks for the report! I'll take a look.

[2017-12-07 07:32] amorey commented on #252
@rush1818 I tried using tabs on Firefox 57.0.1 running on MacOS and Windows and was unable to reproduce the problem:
![react-input-tabs](https://user-images.githubusercontent.com/75881/33703214-40ee63a2-db38-11e7-8665-fc1a4892fe14.gif)

Can you describe how to reproduce the problem?

[2017-12-07 18:25] rush1818 commented on #252
Thanks for checking. I created a new project and it worked as expected. Looks like I have a bad style rule somewhere in my current project which is causing the issue. Sorry about that!

[2017-12-07 18:41] rush1818 commented on #252
Update - I have a font-family specified which is causing the issue. If I remove it then it works. So seems like this is a Firefox bug?

Here's a sample project I setup. If you take out the `font-family` style then it works.

index.html
[code]

[code]

Result:
![result](https://user-images.githubusercontent.com/17676675/33732312-f8084e20-db3a-11e7-8b11-a082a9d0a0d6.gif)

[2017-12-07 22:10] amorey commented on #251
Closing this issue. Let me know if you're still having problems using this `placeholder` attribute.

[2017-12-07 22:10] #251 closed

[2017-12-07 22:10] #250 closed

[2017-12-07 22:11] amorey commented on #249
Closing issue. Let me know if you still have questions about the MUI CSS helpers.

[2017-12-07 22:11] #249 closed

[2017-12-08 02:38] EddieAguirre commented on #203
I was able to hack it to work in the short term but it's by no means a long-term fix. I added the following line to Menu.prototype.selectPos = function(pos) {

jqLite.scrollTop(this.menuEl, (42*pos));

Where 42 is the height of my rows. I would imagine that there is a way to get that value dynamically but I couldn't figure that out.

[2017-12-08 22:18] #181 closed

[2017-12-08 22:27] #203 closed

[2017-12-08 22:37] amorey commented on #252
I just pushed a fix for this in the latest version (v0.9.31):
https://www.muicss.com
https://www.npmjs.com/package/muicss

Let me know if you're still seeing problems with the tab-focus behavior.

[2017-12-08 22:37] #252 closed

[2017-12-08 22:40] amorey commented on #203
I just pushed a new version of MUI that implements scroll-to after keypress events (v0.9.31). Let me know if you're still having issues using the Select component:
https://www.muicss.com

[2017-12-10 15:03] Danovich opened #253 "Grid not centered on mobile?"
Can't figure out why on mobile the grid is off on my site :confused:

![screenshot_20171210-165934 1](https://user-images.githubusercontent.com/26672793/33806134-032aaa30-ddcc-11e7-9135-4f36ba31ce10.png)

[2017-12-10 16:33] amorey commented on #253
Do you have an example available on a live site? Is it a problem in all mobile browsers?

[2017-12-10 18:01] Danovich commented on #253
The site is live, you can check it out @ www.orshabbat.co.il
I only checked on chrome and safari.

[2017-12-13 13:10] scheccia1 opened #255 "Menu as main page"
It's possible to have the menu with the same functions of your home page?
the simple "Responsive Main Menu" works bad.

[2017-12-13 13:26] amorey commented on #255
muicss.com uses the "Responsive Side Menu" template for its layout. Can you describe what isn't working well in the example?
https://www.muicss.com/docs/v1/example-layouts/responsive-side-menu

[2017-12-13 13:59] scheccia1 commented on #255
the menu when you click a link redraw it closed and the menu-link clicked not highlighted.

[2017-12-13 14:38] amorey commented on #255
You can make those modifications yourself by modifying the code in the template. For example, you can determine which menu-item is currently selected server-side and then render the HTML with the element highlighted:
[code]

Let me know if you have a working example and I can give you advice on how to implement the modifications you want to make.

[2017-12-13 15:00] scheccia1 commented on #255
i have edit my code for hilight
[code]

my js code:
[code]
and css
[code]

but the problem is that the menu redraw closed after click a link.
es: your home page menu after click link.(opened menu)
![mui](https://user-images.githubusercontent.com/1670695/33945077-465f5090-e01e-11e7-8e7c-263a41c4f6ef.jpg)
responsive-side-menu menu after click link: (closed menu)
![mui_example](https://user-images.gi

[2017-12-13 16:16] amorey commented on #255
To hide a menu you can set `display: none;` on the parent `<ul>` and to show it you can use `display: block;`. In terms of your code you can put the hide/show logic in your click handler.

[2017-12-13 18:41] scheccia1 commented on #255
ok i resolve with
navItem.parent().show();
so the code if need:

[code]

[2017-12-13 18:42] amorey commented on #255
Great! Happy to hear you solved the problem.

[2017-12-13 18:42] #255 closed

[2017-12-15 02:06] Andylife333 opened #256 "How can I catch change event on mui-select element?"
**html:**
[code]

**js:**
[code]

Not worked, anyway

[2017-12-15 07:32] #256 closed

[2017-12-15 07:40] amorey commented on #256
Thanks for the bug report. The `change` event had been set to `bubbles=false` but it's fixed now. Your code should work in the latest version (v0.9.33):
https://www.muicss.com

Let me know if you notice any more issues with the `change` event.

[2017-12-15 15:26] InfernalLV opened #257 "No input on mui-select element"
div.mui-select>select>option+option...
The .mui-select widget doesn't fire the onInput event. Whats the expected way of getting the value?

Running //cdn.muicss.com/mui-0.9.33/js/mui.min.js

Could you please add el.dispatchEvent(new InputEvent('input'))?

Thank you!

[2017-12-15 15:32] InfernalLV commented on #257
Checked and noticed that onChange works, but I'm using using on elm and an onInput would ever so slightly more convenient.

[2017-12-15 18:54] caub opened #258 "Accordion/Collapsible"
Is there a plan to implement this kind of [Collapsible](http://materializecss.com/collapsible.html) Component?

[2017-12-16 09:01] #257 closed

[2017-12-16 09:06] amorey commented on #257
Done. This has been fixed and is now live in the latest version (v0.9.34):
https://www.muicss.com

Let me know if you notice any other issues with the Select component events.

[2017-12-16 17:38] amorey commented on #258
There are no plans to add a Collapsible Component to the core library but we would like to add a plugin system so users can share higher-level components with each other. In the mean time here's a pure-javascript implementation of the Collapsible Component using MUI:
https://jsfiddle.net/muicss/v5ytxft0/

[2017-12-16 17:45] caub commented on #258
Oh, very nice and short code, thanks interesting

I did it some time ago like [this](https://caub.github.io/cms/inui/#accordion), there's also `<details><summary>...` that could maybe be enhanced by MUI?

Thanks for the fiddle again

[2017-12-17 04:46] haydnhkim commented on #192
I made a simple version by forking uxitten's codepen work.

https://codepen.io/haydnhkim/pen/XVmxLd

I removed the prefix (use autoprefixer) and added mui css to an external style sheet so that only ripple effect styles exist.

Thank you @uxitten.

[2017-12-17 11:54] uxitten commented on #192
@haydnhkim 👍

[2017-12-18 15:43] accetone opened #260 "MUI React - render of non-active tabs"
Hi @amorey,

I noticed that all tabs rendered regardless of which is now active and then hid by CSS. Is the any reason for this? I think this can cause performance penalty.

[2017-12-18 22:36] amorey commented on #260
I can't recall the thinking behind that choice but performance should depend on tab content and expected user behavior so I don't think there's necessarily a performance penalty. Another thing to consider is that pre-rendered content is better for SEO which is important to keep in mind when using server-side React (which some MUI users do). Have you run into performance issues with tabs?

[2017-12-18 23:52] caub opened #261 "Preserve input[type=search]'s reset"
Mui removes the native reset/clear button that Chrome adds for example:
![2017-12-19-005029_438x107_scrot](https://user-images.githubusercontent.com/3134574/34133746-c9040748-e456-11e7-985c-1e2b9c6f0e32.png)

https://jsfiddle.net/crl/p889fudn/

Why not keeping it?

[2017-12-19 00:07] amorey commented on #261
That behavior is inherited from [Normalize.css](https://necolas.github.io/normalize.css/) (also used by other CSS frameworks such as Bootstrap). To use a version of MUI CSS without Normalize.css you can use `extra/mui-noglobals.css`:
[code]

[2017-12-19 08:40] caub commented on #261
Ah thanks

[2017-12-19 08:40] #261 closed

[2017-12-19 14:46] InfernalLV opened #262 "h font-size set in px instead of em"
I needed to see how different font-size would look and feel. I figured I'd just add a font-size of 1.5em to the body, but it seems headings are set in px rather than ems. Chrome's user agent stylesheet also sets h1's  default font-size in em's. Unless there is a reason why would one prefer px over em I would appreciate ems.

Thanks you!

[2017-12-19 18:36] accetone commented on #260
Thanks for the answer. I don't face performance issues. Agree that decreasing of performance are depend on content of tabs. My concern was about speed of initial render. I was a bit puzzled when recognize that all tabs rendered at app start, so decided to open this issue. SEO is a good point to keep this behavior. Maybe should paste the note into documentation for tabs about this to make users inf

[2017-12-19 19:28] amorey commented on #262
It looks like Bootstrap also switched to rem in v4 so it's definitely worth considering. I'd like to hear more from other MUI users about pros/cons of switching from px to rems before making the change.

[2017-12-19 19:29] amorey commented on #260
Sure - that's a good suggestion. I can add a note to the tabs documentation.

[2017-12-20 16:09] accetone opened #263 "MUI React - floating label of uncontrolled input not flies down when pass empty value"
Here the use case:
https://codesandbox.io/s/7oj2r611y6

1. Put some text inside "new item" textbox
2. Click on "add" button
3. Check floating label state

[2017-12-20 19:31] amorey commented on #263
Updating the value of the inner `<input>` element programmatically doesn't trigger a `change` event so the MUI React component doesn't know the content of the input box has changed. If you dispatch a `change` event after updating the value that should fix the problem:
[code]

[2017-12-21 14:17] amorey commented on #263
@accetone Did dispatching a `change` event solve the problem?

[2017-12-21 16:59] accetone commented on #263
@amorey thanks for reply. For production I chose controlled component.

Your solution will work, but need to pass event instance instead string (at least at Chrome).
[code]

Anyway, thanks for your help!

[2017-12-21 17:01] amorey commented on #263
Oh right - I forgot that `dispatchEvent()` accepts and `Event` instance. I think controlled component is the way to go. Thanks for the update!

[2017-12-21 17:01] #263 closed

[2018-01-18 22:00] adoshem opened #264 "Merging MUI and Pre-existing Bootstrap?"
I'm very interested in your CSS Framework. The problem is we are already using bootstrap heavily and cannot remove it. Is there any way of merging your MUI framework into an existing bootstrap application.

[2018-01-18 22:21] amorey commented on #264
Yes! Using MUI with Bootstrap shouldn't be a problem. Try using the `mui-noglobals.css` file to use MUI without global CSS rules:
[code]

[2018-01-19 19:28] amorey commented on #264
@adoshem Any updates on using MUI-noglobals with Bootstrap?

[2018-01-27 13:32] omidnematollahi commented on #108
Is there any way to make mui-select labels floating? just like the mui-textfield?

[2018-01-27 17:12] amorey commented on #108
Currently it's not possible to make mui-select labels floating. Can you describe the behavior you're trying to implement? In case it helps, here's an example of a select component where the first option acts as a label:
https://jsfiddle.net/muicss/gr0jkfkv/

[2018-02-06 14:15] Kokiro opened #266 "Tooltips"
I would like to tank you for this project I really love it!

I read about the plugin philosophy, but there are three components which I miss and I read already about the plugin philosophy, but I sow you helped with the accordion so I thought to ask.

**Tooltips** (Example: https://material.io/guidelines/components/tooltips.html#tooltips-tooltips-mobile=
**Solo field** (Example: https://material.io

[2018-02-06 20:17] amorey commented on #266
I think that adding a solo field to the core library makes sense. I'll add it to the to-do list.

My instinct is that tooltips belong more with "plugins" than with the core library but I'll keep thinking about it. Have you implemented tooltips? If so then it'd be great to share them here as a recipe.

[2018-02-07 10:35] Kokiro commented on #266
Great!

As for the plugin, I am trying something and will share with you but I am light years from your skills.

Just a general remark:

I think what makes this project great is its simplicity, but being simple requires very high understanding and programming skills. My proposal is that the plugins/recipes should be evaluated by you and than offered as a "official plugin" maybe in a new repository

[2018-02-11 10:21] VAggrippino commented on #32
It's been 2½ years. I guess you forgot to update the documentation.

[2018-02-11 13:55] amorey commented on #32
Fixed, thanks.

[2018-02-22 05:00] JaneSmith opened #267 "Doesn't work without JavaScript?"
I was interested in trying out this project, as I was under the impression that it works without JavaScript. However, it seems like that isn't actually the case? The [official website](https://www.muicss.com/) seems to be broken when JavaScript is blocked - the sidebar menu won't toggle and the pop-up menu in the top-right corner won't function either. Does this not make use of progressive enhance

[2018-02-22 05:42] amorey commented on #267
The official website uses JavaScript to implement features that are outside of the scope of MUI (e.g. collapsible side menu, front page header scroll effect). In terms of the MUI library itself, here's the list of components that require JavaScript:

  * Dropdowns
  * Overlays
  * Button ripples
  * Select
  * Tabs
  * Textfields with floating labels

If you want to use progressive enhancement on

[2018-02-22 05:45] ChrisTucker2000 commented on #267
Thanks for your response. Unfortunately the collapsible side menu is very important to me (and I would expect it to be a critical feature for most). It's my understanding that this can be done without JavaScript by using checkboxes, e.g. as seen here: https://squidfunk.github.io/mkdocs-material/

But Mui doesn't support this, right? That's sad, but thanks for clearing that up.

[2018-02-22 05:45] JaneSmith commented on #267
Thanks for your response. Unfortunately the collapsible side menu is very important to me (and I would expect it to be a critical feature for most). It's my understanding that this can be done without JavaScript by using checkboxes, e.g. as seen here: https://squidfunk.github.io/mkdocs-material/

But Mui doesn't support this, right? That's sad, but thanks for clearing that up.

[2018-02-22 12:25] amorey commented on #267
MUI is designed to be lightweight so components like collapsible menus are outside the scope of the library. However, MUI has a very small footprint so it's easy to integrate it with other CSS frameworks or to add your own custom features on top of it. For example, here is a code snippet that implements the method we use to animate the menu items:
[code]
https://jsfiddle.net/muicss/3w934g8g/

[2018-02-24 16:23] vahidalvandi opened #268 "add vue version"
hello mui support react and angular please also add vue.js

[2018-02-24 20:52] amorey commented on #268
@vahidalvandi - thanks for the suggestion. I've actually been thinking about this recently so this is a good time to start looking into it. Is this something you would like to contribute to?

[2018-03-02 09:56] vahidalvandi commented on #268
yes of course

[2018-03-06 21:15] amorey commented on #262
@InfernalLV I have a version of MUI that uses rem in the `rem-test` branch. Can you try out this CSS file and let me know if you notice any issues:
https://rawgit.com/muicss/mui/rem-test/packages/cdn/css/mui.css

[2018-03-15 15:26] amorey commented on #262
The latest version of MUI has switched to using "rem" instead of "px" for most CSS dimensions (v0.9.37). Let me know if you run into any issues using the new version.

[2018-03-15 15:26] #262 closed

[2018-03-15 17:53] Themandunord opened #269 "migrated from px to rem cause issues"
Hi,

The version 0.9.37 give me an issue with my css.

I used Material UI (react) and this framework.
Since the last version, Some page have font-size very large...
In the body, I see that you put `.875rem`, maybe it's the cause of the problem.

For example, materials-icons are very big now.

After :
![image](https://user-images.githubusercontent.com/2819925/37481900-289672ac-2883-11e8-94f8-4eed3e

[2018-03-15 18:56] amorey commented on #269
Are you setting the font-size of the `<html>` tag on your site? If so, does setting it to 16px or removing it altogether solve the problem? In most browsers the default font-size is 16px so .875rem on the `<body>` corresponds to 14px which is the same size as before.

[2018-03-16 08:55] Themandunord commented on #269
Hi @amorey,

I add `font-size: 16px` to the `<html>` tag. But nothing happened :/

![image](https://user-images.githubusercontent.com/2819925/37511700-1b5143c4-2900-11e8-93b2-8cd6ec91aa6a.png)

[2018-03-16 09:23] amorey commented on #269
Based on your screenshot it looks like `font-size: 16px` on `<html>` is being overwritten with something else. What is the current value?

Also, is the value in your screenshot defined by MUI or did you add it yourself? Here's a screenshot showing the  `<html>` CSS properties defined by MUI:
![mui_-_material_design_css_framework_and_migrated_from_px_to_rem_cause_issues_ _issue__269_ _muicss_mui](h

[2018-03-16 09:36] Themandunord commented on #269
I have the same thing.
I just added font-size with the devtools in production.

I don't have my PC now, so I can't see which element override the font-size.

As soon as I have it, I will check :)

For now I take the previous version of muicss

[2018-03-16 09:40] amorey commented on #269
I see. If you added it yourself and it's being overwritten that means that the `font-size` is being set by a line of CSS with greater specificity. Let me know when you have a chance to take a look at it on your PC.

[2018-03-16 09:48] amorey commented on #269
FYI - I added a `$mui-use-rem` option to MUI SCSS and added a pre-compiled px-only CSS file to extras:
https://www.muicss.com/docs/v1/getting-started/extras

I think it's still worth it to figure out the font-size issue you're having but if you need to switch back to px-only you can use the px-only CSS file.

[2018-03-16 12:13] amorey commented on #157
Hi Everyone - the latest version of MUI (v0.9.38) has migrated from 'px' to 'rem' for all font-sizes and some other dimensions which should make scaling up/down more predictable. We also added a `$mui-use-rem` option to SASS to make px/rem optional. To make it easier for developers to switch back to `px` we also added a pre-compiled px-only CSS file to extras in case you want to use a px-only vers

[2018-03-17 06:16] amorey commented on #269
@Themandunord Just checking in - were you able to fix the issue with the `font-size`?

[2018-03-17 06:18] Themandunord commented on #269
@amorey,

No, I don't have the time to test it :/
I think I can try before Monday :)

[2018-03-18 11:34] Themandunord commented on #269
@amorey
Hi,

I see that some font have override the `font-size` with `1.2rem` for example, so it's bigger. Reduce tis value, fix the problem.
But not with image in the chat. I can't figure it out...

For materials icons, I need to remove the font-size manually... it's not very good. I need to refacto many components of the app :/

It's an entreprise app, so I can't tell my boss I need to do that :

[2018-03-18 13:08] amorey commented on #269
Ok, at least we understand the issue. If you need to use 'px' then the px-only version of MUI is available for you to use. Let me know if you run into any issues using `mui-px.css`.

[2018-03-18 13:10] Themandunord commented on #269
I need to use the cdn version for the px version ?
Or can I use the npm version ?

[2018-03-18 13:13] amorey commented on #269
The pre-compiled px-only file is available on the CDN here:
https://cdn.muicss.com/mui-0.9.38/extra/mui-px.min.css

And for convenience it's also included in the NPM package at `muicss/dist/extra/mui-px.min.css`:
https://github.com/muicss/mui/blob/master/packages/npm/dist/extra/mui-px.min.css

[2018-03-18 13:17] Themandunord commented on #269
Ok, thank a lot @amorey
So, I close this issues, because you have a good workaround :)

[2018-03-18 13:17] #269 closed

[2018-03-30 21:29] jethrolarson opened #271 "0.9.37 Switching px to rem caused a bunch of problems in my application"
Major css changes like this need a bigger version bump than patch. I've accidentally shipped your breaking changes to thousands of users because it was in a patch bump.

We'll be locking the patch version in our package.json to prevent this on our end so this is really just a complaint. Close as you wish.

[2018-03-30 21:55] amorey commented on #271
Thanks for the feedback. We'll make sure this doesn't happen again.

Are you using the 'rem' version or the 'px' version?
https://www.muicss.com/docs/v1/getting-started/extras

Also - what's your preferred way of getting MUI notifications?

[2018-03-30 22:00] jethrolarson commented on #271
We're using SASS and CSS modules via webpack to import the sass files into our components. In a particular component's scss file we have an import like this:

[code]

[2018-03-30 22:13] amorey commented on #271
I see. What issues did you run into with 'rem'? If you need to compile MUI CSS with 'px' instead of 'rem' you can set the `$mui-use-rem` option to false:
https://github.com/muicss/mui/blob/master/src/sass/mui/_variables.scss#L6

[2018-03-30 22:37] jethrolarson commented on #271
We had some adjustments to the mui select to match our visual style. The change to rem dramatically decreased the size of the text as well as how things scaled causing the elements to become unreadable.
<img width="393" alt="screen shot 2018-03-30 at 3 35 28 pm" src="https://user-images.githubusercontent.com/32480/38156057-2492c1f2-3430-11e8-8a03-abc0f73fe3cb.png">

[2018-03-30 22:42] amorey commented on #271
Thanks, that's helpful. How did you fix the issue?

[2018-03-30 22:54] jethrolarson commented on #271
rolled back to 0.9.36

[2018-03-30 23:00] amorey commented on #271
The new 'rem' values are equivalent to the old 'px' values when the `<html>` font-size is set to 16px (the default value). Does your site set a custom value for the `<html>` font-size?

[2018-04-02 14:53] amorey commented on #271
@jethrolarson I'm considering reverting to 'px' by default and deferring the switch to 'rem' until V1 to give developers more time to fix issues. Let me know if you have any thoughts on this plan or suggestions on how to make the migration to 'rem' happen more smoothly.

[2018-04-03 03:08] crtag opened #272 "mui-rem() references in dist css"
I was inspecting compiled **email/mui-email-inline.css** in dist folder and found multiple _mui-rem()_ references at the bottom of the file. Note, I pulled it from npm and haven't done anything with sass, as I was just checking default generated CSS for potential issues before using in our project.

[2018-04-03 09:48] amorey commented on #272
Sorry, I pushed a new version recently as part of a migration from 'px' to 'rem' that introduced this issue! I have reverted to 'px' so this should be fixed in the latest version (v0.9.39-rc1). Please let me know if you notice any other issues with the MUI Email CSS.

[2018-04-03 10:03] amorey commented on #271
@jethrolarson To help undo the issues caused by the switch from 'px' to 'rem' I reverted to using `$mui-use-rem: false` by default in the latest version of MUI (v0.9.39-rc1):
https://www.muicss.com
https://www.npmjs.com/package/muicss

For developers who want to use 'rem' instead of 'px' the latest version includes a pre-compiled version of MUI CSS that uses 'rem' to the extras directory:
https://

[2018-04-03 19:24] niutech commented on #196
@amorey I have just AMPlified your MUI CSS framework with working dropdowns and tabs: [AMP MUI](https://github.com/niutech/amp-mui)

[2018-04-03 19:33] niutech commented on #167
Have a look at [AMP MUI](https://github.com/niutech/amp-mui)

[2018-04-03 20:14] amorey commented on #196
@niutech Looks great! Thanks! Have you considered integrating this with the MUI repo?

[2018-04-03 21:39] niutech commented on #196
@amorey For now, I have no time to integrate it with your repo and build tools, instead I have just modified the minified CSS code to make it simple. If you want to, feel free to include it as another flavor of MUI.
And I have just AMPlified an overlay and a modal as well.

[2018-04-03 22:52] amorey commented on #196
Great, thanks. I'll take a look at incorporating your code.

[2018-04-04 09:17] ram-you commented on #167
@niutech I have already seen and given a star. Very good job

[2018-04-05 00:18] arunr14 opened #273 "@types/muicss missing "Value" props in Select"
The actual issue was fixed accord to #73 . However the types have not been updated on https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/muicss . This is a super simplex fix, thought it might be quicker for the author of the types to do it , rather than me submitting a PR to DefinitelyTyped . @samuelneff

[2018-04-08 17:14] samuelneff commented on #273
Thanks for pointing this out. I'll get a PR out as soon as I can.

[2018-04-08 23:00] amorey commented on #273
Thanks @samuelneff! Let me know if there's anything I can do to help.

[2018-04-16 13:19] englishextra opened #274 "there is no <buttons> element"
in all example pages:
[code]

[2018-04-16 14:54] amorey commented on #274
Fixed. Thanks!

[2018-04-16 14:54] #274 closed

[2018-04-18 07:45] englishextra commented on #267
@amorey Here's pure JS code for sidedrawer example https://www.muicss.com/examples/v1/example-layouts/responsive-side-menu/index.html:
[code]

[2018-04-22 11:47] englishextra opened #275 "dropdown.js " - wrapperRect.top" is useless"
While UL with menu items stays display none it has not top value at all which is 0
It gets a value other than 0 only if the UL is revealed - display block for instance.

So:
[code]

is the same as:
[code]
See this issue here https://github.com/ryanve/verge/issues/19 to get the picture what's going on.

Thanks.

[2018-04-23 01:13] amorey commented on #275
Thanks for the heads up. Does this cause a problem with the Dropdown component or is it just unnecessary code?

[2018-04-23 04:20] amorey opened #276 "Announcement: New release candidate, REM version, Select component placeholder and other updates"
Hi Everyone,

I just wanted to let you know about some new features in MUI and give you an update on the next product release:

First, in order to make it easier to zoom in/out on sites that use MUI, the latest version of MUI includes an option to compile MUI CSS using REM instead of PX. To enable REM in the SASS source you can use the `$mui-use-rem` SASS variable. Alternatively you can use a pre-

[2018-04-23 04:50] englishextra commented on #275
@amorey this is what I do:
[code]
full code here https://github.com/englishextra/serguei-muicss-dev/blob/master/libs/serguei-muicss/src/bundle.js

[2018-04-24 13:25] amorey commented on #275
@englishextra Here's a pull request that should fix this issue: https://github.com/muicss/mui/pull/277

Let me know if you notice any problems with the new code.

[2018-04-25 06:14] englishextra opened #278 "css snippet to prevent extra top margin of top elements within mui-panel"
Well as you know if you place say H2 as a first child within .mui-panel, there'll be an extra top margin space
as compared with the bottom margin space.

-----.mui-panel-------
|
|
H2 blabla /H2
|
-----------------------

This applies not only to H2, but some other elements/tags.

To fix that so that to make it look consistent like so:

-----.mui-panel-------
|
H2 blabla /H2
|
--------------------

[2018-04-28 02:36] amorey commented on #275
@englishextra Have you had a chance to look at pull request https://github.com/muicss/mui/pull/277?

[2018-04-28 03:24] #271 closed

[2018-04-28 05:42] englishextra commented on #275
@amorey Hi. Yes, As I understand you have solved the issue completely in a new mananer. But sorry I haven't studied the code closely. I will very soon. Thanks for your quick responses.

[2018-05-11 07:09] ejoubaud opened #279 "Support icons in buttons OOTB?"
Dropping an icon in a mui button doesn't look great, it takes some tinkering:

[code]

gives you:

<img width="167" alt="captura de pantalla 2018-05-11 a las 8 30 04" src="https://user-images.githubusercontent.com/1530203/39910487-dfb2c95e-54f7-11e8-9d0a-af9e10582fd3.png">

I was able to fix it somewhat with something like this (inspired by [materalize-css](https://materializecss.com/buttons.html)

[2018-05-11 07:11] ejoubaud commented on #279
PS: In case this doesn't make it into the core, those looking for a more Reacty solution can achieve it this way with, e.g., `styled-components`:

[code]

[2018-05-11 08:19] thealjey opened #280 "This is not an issue!"
Just want to say I love you guys.
This is the best implementation of material design in react I've found so far!
It is not in your way, has a "noglobals" version, no crazy over-engineered JSS, etc.

[2018-05-11 13:42] amorey commented on #280
Thanks! It's great to hear you like what we're doing! Let us know if you have any suggestions on how to make MUI better.

[2018-05-12 18:00] amorey commented on #279
Thanks for creating this issue. Let me do some research on it before responding.

[2018-05-15 15:17] Wello6143 opened #281 "Why dropdown menu float left?"
Hi,
I very like your framework, but why the dropdown float on the left? Althought I have used text-align: center;  and margin: 10 auto.

[2018-05-15 15:57] amorey commented on #281
You can align the dropdown menu element to the right edge of the toggle button by adding the `mui-dropdown__menu--right` class to the `<ul>` tag:
[code]
https://www.muicss.com/examples/v1/css-js/dropdown-right.html

In terms of center aligning the text for each menu item, you can use this CSS:
[code]

Or you can also use the `mui--text-center` CSS helper:
[code]

Let me know if that fixes your pro

[2018-05-16 06:20] thealjey opened #282 "MUI React - please consider going fully stateless"
I, for example, would like to have a tab bar that navigates between separate pages using normal links.
Letting the user fully control and manage the state (or lack there of) just gives much more flexibility, not to mention might even simplify your own api.
This goes even further though, like dropdown closed/open state etc.

again, love this project
cheers 🥇

[2018-05-16 11:02] Wello6143 commented on #281
![image](https://user-images.githubusercontent.com/38320310/40113276-2237f2e2-5933-11e8-9756-2a8c524897e4.png)
No, I mean why it float on the left side of the page?

[2018-05-16 12:46] amorey commented on #281
I'd have to see your html/css in order to diagnose the problem. Can you share your code or explain how to reproduce the problem?

[2018-05-16 13:01] amorey commented on #282
Happy to hear you like MUI! In terms of using links to control tab state, you should be able to add an `href` to the anchor tags in each tab and then control the component using the `mui--is-active` class server-side. Would this solve the problem for tabs?

[2018-05-16 13:43] thealjey commented on #282
yes and no, tabs have `initialSelectedIndex` and not `selectedIndex` (or both), which implies it's only for the initial render
as opposed to always producing the same result given the same set of props
the reason is that the component manages it's own state internally, which ideally it shouldn't
furthermore, `onChange` shouldn't be post factum, but simply be the means of notifying the client code

[2018-05-16 14:13] Wello6143 commented on #281
The site has been uploaded to http://downbe.aerons.ga. The site just release on my coutry so ignore the language please.

[2018-05-16 15:27] Wello6143 commented on #281
Wow! Thank you very much!

[2018-05-16 15:27] #281 closed

[2018-05-16 17:35] amorey commented on #282
Sorry, I thought you were referring to the CSS/JS library. With regards to React, you can use `selectedIndex` and `defaultSelectedIndex` to control the state for controlled and uncontrolled components respectively (I'll document this soon). That should work for rendering state server-side. Do you also need to save the current client state to the server?

There are currently two events emitted by t

[2018-05-16 18:09] thealjey commented on #282
with regards to the `Tab` component, I want to use it specifically with the Next.js router, which means that it has to support the `onClick` as well as the `href` props

[2018-05-17 22:10] Rob-pw commented on #282
@thealjey, have you considered making a pull request - since you may know more about React best practices than designers who happen to make React components? I imagine they would appreciate having a specialist aid them or even implement these changes for them, leaving the MUI team to focus on the core of the CSS catalogue.

[2018-05-17 22:18] Rob-pw commented on #267
I think there's a misunderstanding here, the 'burger menu' or 'off canvas side navigation menu' or `collapsible side menu already exists on the MUICSS.com site`, but as was the core of the issue `does not function when JavaScript is disabled`, @JaneSmith mentioned "this can be done without JavaScript by using checkboxes, e.g. as seen here: https://squidfunk.github.io/mkdocs-material/" which is tru

[2018-05-18 03:07] amorey commented on #282
Yes, a pull request (or a spec document) would be very helpful!

[2018-05-18 10:06] Rob-pw commented on #282
@thealjey, actually it was a compliment, I'm not specialised in React at all and have only a amateur working knowledge of it (as may be the case with CSS specialists with that not being their area of experience).

[2018-05-18 15:17] metscore opened #283 "Limiting the height of the selector ?"
I've been using muicss with great pleasure.
One thing is on my mind however. I've a dropdown selection box with many items (> 100) and I'm not too fond of the fact that upon drop down the selection takes up the entire vertical window space.

I tried to set my css to override the menu height property

`.mui-select__menu { max-height: 500px !important; }`

and the list is now only 500 px high. Howev

[2018-05-18 16:36] amorey commented on #283
Which MUI library are you using (CSS/JS, React, Angular)? The menu should automatically scroll to the selected item so that sounds like a bug.

In general, I think the Material Spec for the "dropdown" component doesn't handle long lists well. As a quick fix you can use the browser's default `<select>` menu by adding `mui-select--use-default` class to the wrapper element:
[code]

Longer term, I thi

[2018-05-18 16:42] amorey commented on #282
@thealjey A pull request would be useful but writing up a spec might be a better place to start. That way we can get feedback from others before making changes to the code.

[2018-05-21 20:13] amorey commented on #283
No problem! Happy to help. In terms of the improved UI, if you have ideas for the design feel free to suggest them and maybe someone else can implement them.

[2018-05-21 20:13] #283 closed

[2018-05-22 05:53] metscore commented on #283
Hi Amorey,

Glad to hear that !

I have a small suggestion regarding the dropdown selector since I was working with that one. If I'm not mistaken the mui version does not scroll items into view when you (as a end user) are traversing a long list up and down using cursor key (or PgUp och PgDn).

It is fairly easy to accommodate with something like this

[code]

and then calling this function from `

[2018-05-28 12:34] mathiasleroy opened #284 "HTML buttons are not colored"
Buttons do not render correctly in emails (outlook  & gmail) : I don't see any color e.g.
it works well when stored to html file and viewed in browser

(I hope I'm doing it right, let me know otherwise)

[code]

[2018-05-30 09:29] mathiasleroy commented on #284
Which tool did you use ? I used https://inliner.cm/ wich seem to be the best for every other elements than buttons (panels etc)

But with inliner.cm,

    <a href="#" class="mui-btn--primary mui-btn">Button</a>

becomes

    <a href="#" class="mui-btn--primary mui-btn" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;cursor:pointer;white-space:nowrap;font-weight:500;font-size:14px;co

[2018-05-30 11:12] amorey commented on #284
The MUI website is written in Python so I used [premailer](https://github.com/peterbe/premailer)

[2018-05-31 07:04] englishextra commented on #267
@Rob-pw I add my  2 cents

here is what you talk about https://mildrenben.github.io/surface/

But the problem is that some devs would like to always keep the sidenave hidden

In case of MUICSS the whole logic of opening or closing is very complecated

But It turns out that you would end up to use JS to control sidenav behaviour to gain more options

[2018-05-31 08:10] bartvde opened #285 "Support React strict mode"
Are there any plans to support strict mode for the react components? I.e. to upgrade the components so they can be safely used for the async rendering in newer react versions?

https://reactjs.org/docs/strict-mode.html

[code]

[2018-05-31 13:54] amorey commented on #285
Yes but it would definitely speed things up if someone volunteered to take the lead on the project. Would you be interested in working on this? I can help point you to the key places in the code.

[2018-07-03 10:17] daenney opened #286 "Have button fill the width of the container"
I'm looking to create a button that would fill the width of its container (a column in this case), essentially stretching the button. Any tips on how to do that? I couldn't find any examples or helpers that would let me do that.

[2018-07-03 15:36] amorey commented on #286
If you set the width of the button element to 100% it should expand to fit the width of its container:

[code]

https://jsfiddle.net/muicss/8cjhsgbn/

Let me know if that solution works for you.

[2018-07-03 17:12] daenney commented on #286
Yup, that works. Should've thought of that. Thanks!

[2018-07-03 17:12] #286 closed

[2018-08-06 19:11] rosenfeld opened #287 "The MUICSS Input element doesn't work with a ref attribute in Dio.js"
As you can see here, it works perfectly fine with React and works well with Dio.js until the ref attribute is set:

https://codesandbox.io/s/8z95z40962

Could you please take a look at what is causing that bug?

[2018-08-06 19:17] rosenfeld commented on #287
sorry, opened the issue in the wrong project

[2018-08-06 19:17] #287 closed

[2018-08-21 09:41] carlkenne commented on #148
Tried the latest version of MUI 0.9.39 and chrome 68.
It is not working

[2018-08-21 12:33] amorey commented on #148
Thanks for the update. Can you describe how to reproduce the problem?

[2018-08-22 07:27] carlkenne commented on #148
Sure,
1 created a simple page with a form containing username input and a password input.
2 Fill in values an post to backend, let browser save credentials
3 Next time you visit the page, values will be prefilled and labels will overlay the inputs looking like the screenshot above

[2018-08-22 20:12] amorey commented on #148
Thanks for the help. The problem is that the library isn't listening for autofill cancel events. The bug should be fixed in the [autofill-bugfix](https://github.com/muicss/mui/tree/autofill-bugfix) branch. Can you try using this mui.js file?
https://rawgit.com/muicss/mui/autofill-bugfix-rc/packages/cdn/js/mui.js

[2018-08-24 10:03] amorey commented on #148
Sorry, I mishandled the git commit. Can you try this file?
https://rawgit.com/muicss/mui/autofill-bugfix-rc2/packages/cdn/js/mui.js

[2018-08-24 10:26] amorey commented on #148
Also, I implemented a css-only solution that's more straightforward. Can you try these CSS/JS files as well?
https://rawgit.com/muicss/mui/autofill-bugfix-cssonly-rc/packages/cdn/css/mui.css
https://rawgit.com/muicss/mui/autofill-bugfix-cssonly-rc/packages/cdn/js/mui.js

[2018-08-24 11:29] carlkenne commented on #148
Yes, much better, that works!

[2018-09-06 12:00] simkea opened #288 "passthrough style-Attribute for Option Component"
Is there a way to pass the Style parameter to the option element?
Maybe also a new feature for this component.
I know I can set my own class, but I'd rather use inlinestyles in a suitable place.

[code]
br Henry

[2018-09-14 13:53] amorey commented on #288
@simkea Apologies for the late reply. MUI React passes through inline styles and classNames but the values don't get reflected in the UI because 1) the browser's default `<select>` widget ignores `<option>` styles and 2) the MUI custom interface doesn't support it. Can you give an example of what you're trying to do?

If you're interested, you can add support for passthroughs to the custom UI by m

[2018-09-16 15:11] mrmccormack opened #289 "AMP page example to learn MUI and AMP"
I made an AMP page with mui.css, based on older AMP version of I found.  The `!important` tag was removed, so I think there will be a few problems.

I read other issues re: AMP pages.

I built it as a way to introduce AMP to my students. It's not *production ready* - but a way to learn basics.

Thanks,
Rob

https://gist.github.com/mrmccormack/87f89e47dddb92077cb96edbdaf016b3

![mui-amp-submission]

[2018-09-17 05:59] simkea commented on #288
I hope you can add the following.
Pass the style attribute for the option to the mui-select__menu > div element.
I don't want to use classes here, because the color values come from a database.

`<div class="mui-select__menu">
<div class="">N/A</div>
<div class="">Zur Prüfung/offen</div>
<div class="mui--is-selected">Akzeptiert</div>
<div class="">Verhandlung/Zusatzaufwand</div>
<div class="">Side

[2018-09-24 07:50] amorey commented on #289
thanks! this is very helpful. i added a "recipe" label to this post and will leave it up.

[2018-09-24 14:06] mrmccormack commented on #289
Thanks for reply.

I'm sure disappointed in Google.... they push their https://material.io/design/ yet, as far as I know... they don't provide a light version for their AMP pages...  It would be easy for them to do that, and save everyone a lot of time....

[2018-10-11 17:26] nthibert opened #290 "Need Help with Modular Imports for JS"
I am currently working with a framework that isn't developed in this project. So I wanted to use the CSS/JS versions of the project. I am able to get the styles working with my own components, though when I do `import muicss` I do not get all the js. I was looking for get the ripple affect on my buttons. Not sure how to do this? Is there a modular way or is it only something I can do by using the

[2018-10-11 17:37] amorey commented on #290
The vanilla-JS version of MUI isn't set up to be modular but if forking the repository is an option you can follow the pattern used here:
https://github.com/muicss/mui/blob/master/build-targets/cdn-js.js

If this is something you'd be interested in working on, let me know!

[2018-10-11 19:06] #290 closed

[2018-11-01 19:49] JESii opened #292 "[Checkbox] does not display label tgext"
I am using material-ui/core V1.5.1 with react 16.2.0.

When I render a checkbox component with a label property, no label text is displayed.
[code]
Everything else seems to work OK

[2018-11-01 20:23] JESii opened #293 "[FormControlLable] fails to render with Checkbox control"
I'm working with `"@material-ui/core": "^1.5.1"` and `"react": "^16.2.0"`. Since I am unable to get a Checkbox to render with a label (see issue #292 ), I decided to try the FormControlLabel.
When I render the following:
[code]
All I get is a blank screen, indicating that this somehow failed to render. I've also tried it with a more straight-forward approach, like so:
[code]
with the same results.

[2018-11-02 06:55] amorey commented on #292
@JESii Are you using MUI or material-ui? Here is a working example using MUI:
http://jsfiddle.net/muicss/gf5co2wy/

[2018-11-02 06:56] amorey commented on #293
@JESii Are you using MUI or material-ui? Here's my response to your other comment:
https://github.com/muicss/mui/issues/292#issuecomment-435288480

[2018-11-06 13:23] Link2Twenty opened #294 "`.mui-textfield` animation"
I noticed the bar along the bottom of the text fields isn't animated, is this intentional or should I make a pull request?

I was thinking it could be an `::after` on the container, something like this

[code]

**Demo:**
http://jsfiddle.net/link2twenty/ev0ck1a4/

[2018-11-06 18:38] amorey commented on #294
Nice solution! The current implementation is intentional - it's designed to be close to the MD spec and easy to modify but not as animation heavy.

[2018-11-08 20:02] konsumer opened #295 "Flex layout in demos"
I'd be happy to make a PR for flex-layout examples instead of table-layout for all the examples, if there is interest.

I think it would simplify layout, and also be more semantically correct (these things aren't tables.)

Here is an example for AppBar, in react, with branding & a menu, mostly pulled from the example layout:

[code]

[code]

<img width="587" alt="screen shot 2018-11-08 at 12 00 59

[2018-11-09 07:45] konsumer commented on #295
I can't seem to find the source for the doc-site. Where should I make the changes?

For reference, here is the pages that should be converted to non-table layout, in my opinion:

* [appbar](https://www.muicss.com/docs/v1/css-js/appbar)
* [react/appbar](https://www.muicss.com/docs/v1/react/appbar)
* [angular/appbar](https://www.muicss.com/docs/v1/angular/appbar)
* [css-helpers](https://www.muicss.c

[2018-11-09 14:44] #294 closed

[2018-11-17 10:53] Wello6143 opened #296 "Can MUI dropdown to drop up?"
As title, can MUI dropdown to drop up?
Thanks

[2018-11-21 18:40] amorey commented on #296
Hi @Wello6143! Currently you can't do drop ups. However, it sounds like a useful feature. Here's an example of how we could expose it using a `mui-dropdown__menu--up` class:
[code]
And this is what it would look like:
![localhost_8080_examples_css-js_dropdowns_html](https://user-images.githubusercontent.com/75881/48861905-cc86bf80-edd5-11e8-95e8-90fb8669cb10.png)

Let me know if that would work fo

[2018-11-24 07:17] BurgerTown opened #297 "Is there any way to changle to look of 'Choose File'"
![default](https://user-images.githubusercontent.com/19660419/48965630-fd483e00-effb-11e8-94e7-8271717bcf25.png)

[2018-12-11 17:03] dankreft opened #298 "`build-npm-react` task is broken"
I'd like to make some contributions to your react components, but when I cloned the repo (`master` branch) and ran `npm run build-all`, I got the following error.

[code]

[2018-12-11 17:50] amorey commented on #298
Which versions of node and npm are you using? I just tried with node 9.11.1 and npm 6.0.1 and it ran to completion without any problems.

[2018-12-11 18:56] amorey commented on #298
I see, thanks! It looks like it's an issue with the babel dependency. It will take me some time to fix the problem but in the mean time if you downgrade your version of node you should be able to run the build script.

[2018-12-11 19:02] dankreft commented on #298
While you're under the hood, please consider doing a `npm i
--save-dev @babel/core`:

[11:02:01] 'build-npm-react' errored after 18 ms

[11:02:01] Error: Cannot find module '@babel/core'

    at Function.Module._resolveFilename
(internal/modules/cjs/loader.js:580:15)

    at Function.Module._load (internal/modules/cjs/loader.js:506:25)

    at Module.require (internal/modules/cjs/loader.js:636:17)

[2018-12-17 07:48] amorey commented on #298
@dankreft Apologies for the delay, there were a lot of changes from babel 6 to babel 7 and I wanted to be careful with the upgrade. In any case, I just finished so you should be able to checkout the master and run the build scripts with the latest version of node. Let me know if you run into any problems with the master.

[2018-12-18 05:12] #298 closed

[2019-01-25 23:21] limjinsun opened #299 "Select Option style in small screen doesn't render."

[2019-01-26 08:08] amorey commented on #299
It's difficult to make a custom `<select>` UI that behaves better than the default one on mobile so we decided to keep it. Are you seeing that behavior elsewhere?

[2019-02-27 13:09] RohmatRomadhon opened #300 "Passive event listener"
I have use v0.9.21. Is that added in new version?
![mui](https://user-images.githubusercontent.com/46400091/53492449-7f4c7500-3acb-11e9-954d-96168ff1137a.PNG)

[2019-02-27 17:54] amorey commented on #300
Currently, the select component and button ripple effect use touch listeners:
https://github.com/muicss/mui/blob/master/src/js/select.js
https://github.com/muicss/mui/blob/master/src/js/ripple.js

It sounds like it should be pretty straightforward to use passive event listeners here but it would require testing before putting it into production. Is this something you can work on?

[2019-03-04 22:17] silvioprog commented on #166
Hi @memeticallychallenged , did you solved it? I'm looking for the same MUI behavior. Thank you!

[2019-03-05 06:23] amorey commented on #166
@silvioprog This is still an open issue. Do you have time to work on a pull request?

[2019-03-07 12:24] silvioprog commented on #166
Hello @amorey , I'm not expert in JS/CSS, but I can try it. 😅

[2019-03-08 06:07] amorey commented on #166
Awesome! I'd be happy to help you figure out how to do this. Here's the overlay code:
https://github.com/muicss/mui/blob/master/src/js/overlay.js

And here's an example of how events are used in the tabs component:
https://github.com/muicss/mui/blob/master/src/js/tabs.js

[2019-03-19 12:06] amorey commented on #148
I believe this issue has been fixed. Let me know if you run into any other problems with Chrome autofill.

[2019-03-19 12:06] #148 closed

[2019-04-01 10:04] stenmuchow commented on #299
PLEASE ADD THIS TO THE REPO!!!! Ive been trying to figure out why this wont bloody render on my emulated mobile view in chrome for the last hr...

[2019-04-01 15:13] amorey commented on #299
@stenmuchow Thanks for the suggestion. I added a note about this to the documentation.

[2019-06-28 18:03] alexcurtin opened #301 "Old Hosted min.css gone?"
We had a link to ```https://www.muicss.com/static/cache/style-d9b21040eb.min.css``` which now returns a 404 .

I have inherited this project so unfortunately I don't know exactly what `style-d9b21040eb.min.css` contained, can you perhaps point me in the right direction to get that css?

[2019-06-28 18:36] amorey commented on #301
That's a private CSS bundle for the MUI documentation site so it shouldn't be used by external projects. In any case, here a copy of the file (attached).

[style-d9b21040eb.min.css.txt](https://github.com/muicss/mui/files/3340393/style-d9b21040eb.min.css.txt)

[2019-07-12 05:27] amorey commented on #301
@alexcurtin Are you still having issues with your site css?

[2019-07-22 12:06] jovanidash21 opened #302 "Open Dropdown Menu on Top When Dropdown is on Bottom Part of the Page or Screen"
Hello and Good day.
I'm using muicss for my own project and I noticed some issue. The dropdown menu always open at the bottom even it is not visible on the viewport / screen.

[2019-07-22 20:02] amorey commented on #302
Hi @jovanidash21 - thanks for creating a Github Issue. Can you share a screenshot showing the problem?

[2019-07-23 09:35] jovanidash21 commented on #302
![Screen Shot 2019-07-23 at 5 32 10 PM](https://user-images.githubusercontent.com/20255103/61700969-eff07880-ad6f-11e9-8446-6e1837f86c19.png)

The dropdown menu is not visible on the viewport / screen. I need to scroll down the page to view the dropdown menu.

[2019-07-23 11:13] amorey commented on #302
Thanks for the screenshot. Can you share some code that I can use to reproduce the problem? Do you see the same behavior on the MUI documentation site?

https://www.muicss.com/docs/v1/css-js/dropdowns

[2019-07-23 13:48] jovanidash21 commented on #302
Hello @amorey

Yes, it is the same behavior.

![screenshot-2](https://user-images.githubusercontent.com/20255103/61717118-0d830980-ad93-11e9-918a-d1bc00e0c5b4.png)

This is a normal dropdown on bootstrap.

![screenshot-1](https://user-images.githubusercontent.com/20255103/61717183-30adb900-ad93-11e9-8782-2ee4aeca7bee.png)

And after scrolling down, The bootstrap dropdown moves to top when the drop

[2019-07-23 16:22] amorey commented on #302
@jovanidash21 The example you posted is from a different CSS library. I tested the MUI dropdown on Chrome, Firefox, Safari and IE Edge and I couldn't reproduce the problem. Can you confirm that you are using MUI and that you are seeing the problem on this page:
https://www.muicss.com/docs/v1/css-js/buttons

[2019-07-24 10:17] jovanidash21 commented on #302
@amorey Please go to http://chat-app-jovanidash21.herokuapp.com/ and create a dummy account. Then click the avatar of the user at the bottom. The dropdown menu will open but it is not visible on the viewport / screen

[2019-07-25 06:51] amorey commented on #302
Sure, the bootstrap solution seems reasonable. Is this something you would like to work on? Nice app btw!

[2019-07-26 09:30] jovanidash21 commented on #302
Yes, i want the dropdown's position to be flexible.

Thank you. I'm using muicss on my project because it's more lightweight and I don't want to install bootstrap just for the dropdown component.

Thank you also for this library.

[2019-07-27 18:50] amorey commented on #302
No prob! Happy to hear you like MUI.

I implemented dropdown up/right/left variants in the `dropup`: https://github.com/muicss/mui/blob/dropup/examples/css-js/dropdowns.html

But I'm still working on an automatic placement feature. Please take a look at the semantics in the example file and let me know if you have any suggestions.

[2019-07-29 14:46] jovanidash21 commented on #302
Looks great. I like that it has many options for different cases.

[2019-07-31 20:26] amorey commented on #302
Thanks for the feedback! The new dropdown options are live:
https://www.muicss.com/docs/v1/css-js/dropdowns

[2019-07-31 20:26] #301 closed

[2019-07-31 20:27] amorey commented on #296
Dropup/Dropright/Dropleft options are live in v0.9.43:
https://www.muicss.com/docs/v1/css-js/dropdowns

[2019-08-02 13:22] rmkanda opened #303 "Uses a deprecated package react-addons-shallow-compare"
The package **react-addons-shallow-compare** is deprecated but it is used by muicss.

![image](https://user-images.githubusercontent.com/38713281/62373082-ac0f2780-b556-11e9-95ce-0706c2d169cf.png)

[2019-08-06 09:44] jovanidash21 commented on #302
@amorey Thank you so much, that is a great help

[2019-08-06 12:19] amorey commented on #302
👍

[2019-08-06 12:19] #302 closed

[2019-08-21 08:36] namlq93 commented on #148
@amorey
- I tried this: https://www.muicss.com/examples/v1/webcomponents/forms-floating-labels.html but tt doesn't seem to be compatible with firefox: "Error: MUI: Client does not support web components"
- I encountered the same problem with the chrome's autofill. Use `input:-webkit-autofill` can solve the problem, but on firefox will receive the message: "Error: Syntax error, unrecognized express

[2019-08-21 10:58] amorey commented on #148
Unfortunately Web Components aren't available in all major browsers yet. I would use one of the other MUI libraries instead (CSS/JS|React|Angular). Here's the equivalent form documentation for the CSS/JS library: https://www.muicss.com/docs/v1/css-js/forms

Can you send me a link to the page where you are seeing the Firefox error?

[2019-08-21 17:16] IRGC opened #305 "options in select is not visible on chrome (laptop)"
i have about 20 options inside a <select> but some of the options that are at bottom is not visible on desktop  why? is there any solution?

[2019-08-21 19:46] amorey commented on #305
Can you send a screenshot? In general, if you have a lot of options I would use the "default" UI option in the MUI Select component.

[2019-08-22 04:21] namlq93 commented on #148
@amorey Sorry for bothering. Currently, I don't use mui css framework. However, I'm creating a form like yours:
![giphy](https://user-images.githubusercontent.com/41458989/63485342-259e9380-c4cd-11e9-9a5a-bc7874eff5be.gif)

I have problems similar to those above with the chrome's autofill. I searched for a solution and found many people recommend using `input: -webkit-autofill`. It works effective

[2019-08-22 19:10] m-gleeson opened #306 "overlay doesn't work"
just tried it on the demo page. nothing seems to happen

[2019-08-22 19:14] #306 closed

[2019-08-22 19:14] m-gleeson commented on #306
my mistake. figured it out!

[2019-08-27 07:56] pedestrian1119 opened #307 "search bar is missing"
it will really helpful to get content with search bar

[2019-08-27 10:25] amorey commented on #307
Thanks for the feedback. Are you referring to a search bar on the documentation site? Or to a new MUI component?

[2019-08-29 06:07] pedestrian1119 commented on #307
on the documentation site.

On Tue, Aug 27, 2019 at 3:55 PM Andres Morey <notifications@github.com>
wrote:

[2019-09-23 06:40] assist-integrations commented on #246
If you are using a value from the redux store in the textfield and updating the value of the redux store onChange. The problem is observed from react-redux version 6.0.1 and higher. Change your react-redux version to 6.0.0 and the cursor jumping problem should be solved.

[2019-09-23 06:40] RishithPoloju commented on #246
If you are using a value from the redux store in the textfield and updating the value of the redux store onChange. The problem is observed from react-redux version 6.0.1 and higher. Change your react-redux version to 6.0.0 and the cursor jumping problem should be solved.

[2019-10-16 16:57] download13 opened #310 "React Input component crashes when inputRef is used"
If you use an Input element with inputRef, it clobbers the inputRef passed [here](https://github.com/muicss/mui/blob/master/src/react/_textfieldHelpers.jsx#L136) resulting in an error being thrown [here](https://github.com/muicss/mui/blob/master/src/react/_textfieldHelpers.jsx#L93) because `this.controlEl` is undefined.

I think there might be a workaround here: https://github.com/facebook/react/i

[2019-10-17 17:40] download13 commented on #310
[code]

You should see an error in the console to the effect of `TypeError: this.controlEl is undefined` or `Cannot set property _muiTextfield on undefined`

[2019-11-13 17:42] kishorcse commented on #148
you can try something like this.

input:-webkit-autofill + label {
  top: -20px !important;
}

[2020-02-24 03:52] nisarhassan12 opened #313 "npm run build-e2e-tests fails with an error"
![image](https://user-images.githubusercontent.com/46004116/75127819-06cec300-56e3-11ea-88a0-b138b6dfffca.png)

[2020-03-02 08:11] amorey commented on #313
Which version of node are you using? I just tried `npm run build-e2e-tests` with the latest LTS (12.16.1) and it worked for me. I also rebuilt `package-lock.json` and pushed the new file to master so that might fix the problem too.

[2020-03-02 09:03] nisarhassan12 commented on #313
Thanks! I have v13.9.0
![image](https://user-images.githubusercontent.com/46004116/75661086-7c600380-5c8e-11ea-9f9b-b65e38910176.png)

[2020-03-04 09:31] ghostpanda commented on #67
hi，来自2020年03月04日的问候🎉😂
很高兴你愿意把我加入到贡献名单
[https://github.com/muicss/mui/blob/master/AUTHORS.txt](https://github.com/muicss/mui/blob/master/AUTHORS.txt)
刘高琦 <<liugaoqi@foxmail.com>>

[2020-03-05 02:46] tianhuil commented on #310
@amorey, @download13: I encountered this issue as well.  Proposed solution in https://github.com/muicss/mui/pull/315

[2020-03-05 08:17] amorey commented on #310
Have you tried using the `ref` attribute to access the control element instead? Here's an example in the documentation for uncontrolled components:
https://www.muicss.com/docs/v1/react/input

[2020-03-05 16:18] tianhuil commented on #310
Thanks @amorey: that works as well but could we then add `controlEl` to the typescript definition for `Input`?

[2020-03-06 06:21] amorey commented on #310
Sure, though I'm not familiar with typescript. Can you submit a PR or show me how to add it?

[2020-03-12 05:45] tianhuil commented on #310
Hi @amorey: sorry for the delayed response.  I'll try to add it.

[2020-03-12 05:48] tianhuil commented on #310
Added PR to DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43079